{# copied from django-recaptcha 2.0.6 #}
{# The provided implementation caters for only one reCAPTCHA on a page. Override this template and its logic as needed. #}
<script src="https://{{ recaptcha_domain }}/recaptcha/api.js?render={{ public_key }}{% if api_params %}&{{ api_params }}{% endif %}"></script>
<script type="text/javascript">
    // Submit function to be called, after reCAPTCHA was successful.
    var onSubmit_{{ widget_uuid }} = function() {
        console.log("reCAPTCHA validated for 'data-widget-uuid=\"{{ widget_uuid }}\"'. Submitting form...")
        document.querySelector('.g-recaptcha[data-widget-uuid="{{ widget_uuid }}"]').closest('form').submit();
    };

    // Helper function to prevent form submission and execute verification.
    var verifyCaptcha_{{ widget_uuid}} = function() {
        grecaptcha.execute('{{ public_key }}', {action: 'form'})
            .then(function(token) {
                if (!token) {
                    token = "something";
                }
                console.log("reCAPTCHA validated for 'data-widget-uuid=\"{{ widget_uuid }}\"'. Setting input value...")
                var element = document.querySelector('.g-recaptcha[data-widget-uuid="{{ widget_uuid }}"]');
                element.value = token;
            });
    };

    grecaptcha.ready(function() {
        var element = document.querySelector('.g-recaptcha[data-widget-uuid="{{ widget_uuid }}"]');
        element.closest('form').addEventListener('submit', verifyCaptcha_{{ widget_uuid}});
    });
</script>
