{% extends "portal/teach/base.html" %}
{% load two_factor %}

{% block content %}
<div class="span_centered_half">
    <div class="login-card">
        <h1>Two Factor Authentication Login</h1><br/>

        {% if wizard.steps.current == 'auth' %}
            <p>Enter your credentials.</p>
            <script type="text/javascript">
                window.location.replace("{% url 'teach' %}");
            </script>

        {% elif wizard.steps.current == 'token' %}
            {% if device.method == 'call' %}
                <p>We are calling your phone right now, please enter the
                    digits you hear.</p>
            {% elif device.method == 'sms' %}
                <p>We sent you a text message, please enter the tokens we
                    sent.</p>
            {% else %}
                <p>Please open your Google Authenticator app or equivalent and enter the current token for your Code for Life account.</p>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                {{ wizard.management_form }}

                {{ wizard.form.otp_token.errors }}
                <div class='section group'>
                    <div class='col' style='width: 15%; height: 44px; line-height: 44px'>
                        <b>Token:</b>
                    </div>
                    <div class='col' style='width: 83%'>
                        <input id='id_token-otp_token' name='token-otp_token'max='999999' min='1' type='number'>
                    </div>
                </div>
                
                {# hidden submit button to enable [enter] key #}
                <div style="margin-left: -500px"><input type="submit" value="" style="display: none"/></div>
                
                <br/>

                {% if other_devices %}
                    <p>Or, alternatively, use one of your backup phones:</p>
                    <p>
                        {% for other in other_devices %}
                            <button name="challenge_device" value="{{ other.persistent_id }}"
                                            class="btn btn-default btn-block" type="submit">
                                {{ other|device_action }}
                            </button>
                        {% endfor %}
                    </p>
                {% endif %}
                {% if backup_tokens %}
                    <p>If you do not have your smartphone or tablet with you, you can use a backup token:</p>
                    <p>
                        <button name="wizard_goto_step" type="submit" value="backup"
                                        class="btn btn-default btn-block">Use Backup Token</button>
                    </p>
                {% endif %}

                {% include "two_factor/_wizard_actions.html" %}
            </form>

        {% elif wizard.steps.current == 'backup' %}
            <p>Enter a backup token to log in without using your smartphone or tablet.
                Remember you won't be able to use this token again.</p>

            <form action="" method="post">
                {% csrf_token %}
                {{ wizard.management_form }}

                {{ wizard.form.otp_token.errors }}
                <div class='section group'>
                    <div class='col' style='width: 15%; height: 44px; line-height: 44px'>
                        <b>Token:</b>
                    </div>
                    <div class='col' style='width: 83%'>
                        <input id='id_backup-otp_token' name='backup-otp_token' type='text'>
                    </div>
                </div>

                {% include "two_factor/_wizard_actions.html" %}
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
