{% extends "portal/teach/base.html" %}
{% load staticfiles %}

{% block nav_teacher_account %}<b><a href="{% url 'portal.views.teacher_edit_account' %}">Account</a></b>{% endblock nav_teacher_account %}

{% block content %}
<div class='span_centered_half'>
    <div class='login-card'>
        <h1>Enable Two Factor Authentication</h1><br/>

        {% if wizard.steps.current == 'welcome' %}
            <p>You are about to set up Two Factor Authentication on your Code for Life account.</p>
            <p>You will need:</p>
            <div class='indent'>
                <ul>
                    <li>Your smartphone or tablet</li>
                    <li>An internet connection on your smartphone or tablet to download the Google Authenticator App if you don't already have this or its equivalent.</li>
                </ul>
            </div>
            <br>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                {% include "two_factor/_wizard_forms.html" %}
                {% include "two_factor/_wizard_actions.html" %}
            </form>

        {% elif wizard.steps.current == 'method' %}
            <p>Already have Google Authenticator installed on your smartphone or tablet? Click 'Next'.</p>
            <p>Need to download Google Authenticator or an equivalent?</p>

            <p style="text-align: center"><img src="{% static 'portal/img/2fa_authenticator_link.png' %}" /></p>
            <p>Go to <a href="http://m.google.com/authenticator/" target="_blank">Google Authenticator</a> for more information, or scan the QR code above from your device.</p>

            <form action="" method="post">
                {% csrf_token %}
                {{ wizard.management_form }}

                {{ wizard.form.method.errors }}
                <div class='section group' style='display: none'>
                    <div class='col' style='width: 15%; height: 44px; line-height: 44px'>
                        <b>Method:</b>
                    </div>
                    <div class='col' style='width: 25%'>
                        <input id='id_method-method_0' name='method-method' type='radio' value='generator' checked='checked' style='margin-top: 14px'>
                        <label for='id_method-method_0' style='height: 30px; line-height: 30px'>Google Authenticator</label>
                    </div>
                </div>

                {% include "two_factor/_wizard_actions.html" %}
            </form>

        {% elif wizard.steps.current == 'generator' %}
            <p>Using your smartphone or tablet, open the Google Authenticator app (or equivalent) and go to add a new account. Then, scan the QR code below and enter the token returned by the app.</p>

            <p style="text-align: center" ><img style="background-color: white" src="{{ QR_URL }}" alt="Loading QR Code, please wait" /></p>

            <form action="" method="post">
                {% csrf_token %}
                {% include "two_factor/_wizard_forms.html" %}
                {% include "two_factor/_wizard_actions.html" %}
            </form>

        {% endif %}
    </div>
</div>
{% endblock %}
