{% extends "portal/teach/base.html" %}

{% block nav_teacher_account %}<b><a href="{% url 'portal.views.teacher_edit_account' %}">Account</a></b>{% endblock nav_teacher_account %}

{% block content %}
<div class='span_centered_half'>
    <div class='login-card'>
        <h1>Enable Two-Factor Authentication</h1><br/>

        <p>Congratulations, you've successfully enabled two-factor
                authentication on your Code for Life account.</p>

        <p>It is recommended that you set up some backup tokens. Should you ever be without your smartphone or tablet, these will allow you to log on.</p>

        <div class='section group'>
            <div class='col span_1_of_2'>
                <a href="{% url 'portal.views.teacher_edit_account' %}"
                        class="btn btn-default wide">Back to my account</a>
            </div>
            <div class='col span_1_of_2'>
                <a href="{% url 'two_factor:backup_tokens' %}"
                        class="btn btn-primary wide">Setup backup tokens</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
