{% extends 'redesign/base_new.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block scripts %}
{{ block.super }}
{% endblock scripts %}

{% block pageID %}id='homeWrapper'{% endblock %}

{% block content %}
{{ block.super }}

<div id="login_page"></div>

    <div class="row popup is-flex">
        <div class="form--register form--register--teacher col-sm-6">
            <div class="form col-sm-7 col-sm-offset-3">
                <h1>Log in as a teacher</h1>
                <form id='form-login-teacher' method='post'>

                    {% csrf_token %}

                    {{ login_form.non_field_errors }}

                    <label for="id_{{ login_form.email.html_name }}">{{ login_form.email.label }}</label>
                    {{ login_form.email }}
                    {{ login_form.email.errors }}

                    <label for="id_{{ login_form.password.html_name }}">{{ login_form.password.label }}</label>
                    {{ login_form.password }}
                    {{ login_form.password.errors }}

                    {% if login_form.recaptcha %}
                    <label for="id_{{ login_form.recaptcha.html_name }}">{{ login_form.recaptcha.label }}</label>
                    {{ login_form.recaptcha|safe }}
                    {{ login_form.recaptcha.errors }}
                    {% endif %}

                    <button type="submit" name="login" class="button--regular button--primary--general-educate" value="Sign in"
                            onclick="deleteAllLocalStorageWorkspaces();">Log in</button>
                </form>
                <p class="body-text"><strong>Forgotten your password?</strong></p>
                <p class="body-text">Don't worry, you can <a>reset your password</a>.</p>
            </div>
        </div>
        <div class="form--register form--register--student col-sm-6">
            <div class="form col-sm-7 col-sm-offset-2">
                <h1>Log in as a student</h1>
                <form>
                    <p class="small-text">User name</p>
                    <input type="text" name="FirstName" value="" placeholder="EG: Rosie Florido">
                    <p class="small-text">Class access code</p>
                    <input type="text" name="ConfirmPassword" value="" placeholder="EG: AX256">
                </form>
                <p class="body-text"><strong>Can't remember your user name or class access code?</strong></p>
                <p class="body-text">Don't worry, just ask your school or club teacher who will have these details.</p>

                <p class="body-text">Are your registered as an independent student who is not part of a school or club?If so, <a>log in here</a>.</p>
            </div>
        </div>
    </div>

{% endblock content %}