{% extends 'redesign/base_new.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block scripts %}
{{ block.super }}
{% endblock scripts %}

{% block pageID %}id='homeWrapper'{% endblock %}

{% block content %}
{{ block.super }}

<div id="signup_page"></div>

<div class="row popup is-flex">
    <div class="form--register form--register--teacher col-sm-6">
        <div class="form col-sm-8 col-sm-offset-2">
            <h1>Register as a teacher</h1>
            <p class="body-text">Once you&rsquo;ve registered your personal details and logged in, you&rsquo;ll be able to create your school or club, or join other teachers at your institution.<br/></p>
            <form method='post' id="form-reg-teacher">

                {% csrf_token %}

                {{ signup_form.non_field_errors }}

                <label for="id_signup-title">{{ signup_form.title.label }}</label>
                {{ signup_form.title }}
                {{ signup_form.title.errors }}

                <label for="id_signup-first_name">{{ signup_form.first_name.label }}</label>
                {{ signup_form.first_name }}
                {{ signup_form.first_name.errors }}

                <label for="id_signup-last_name">{{ signup_form.last_name.label }}</label>
                {{ signup_form.last_name }}
                {{ signup_form.last_name.errors }}

                <label for="id_signup-email">{{ signup_form.email.label }}</label>
                {{ signup_form.email }}
                {{ signup_form.email.errors }}

                <div class='password-strength-bar-container'>
                    <div class='password-strength-bar'></div>
                    <div class='password-strength-text'></div>
                </div>

                <label for="id_signup-password">{{ signup_form.password.label }}</label>
                {{ signup_form.password }}
                {{ signup_form.password.errors }}

                <label for="id_signup-confirm_password">{{ signup_form.confirm_password.label }}</label>
                {{ signup_form.confirm_password }}
                {{ signup_form.confirm_password.errors }}

                <p class="small-text no-password"><i>No password</i></p>

                <button class="button--regular button--primary--general-educate" type="submit" name="signup">Register</button>
            </form>

        </div>
    </div>
    <div class="form--register form--register--student col-sm-6">
        <div class="form col-sm-8 col-sm-offset-2">
            <h1>Register as a student</h1>
            <form>
                <p class="body-text">Are you part of a school or club? If so, please <a target="_blank" href="home_new.html">log-in</a> or speak to your teacher. If you want to register as an <strong>independent student</strong>, please register below:</p>
                <p class="small-text">Name</p>
                <input type="text" name="Name" value="" placeholder="Rosalind Franklin">
                <p class="small-text">User name</p>
                <input type="text" name="Username" value="" placeholder="Rosie_f">
                <p class="small-text">Email address</p>
                <input type="text" name="Email" value="" placeholder="rosalind.franklin@cambridge.ac.uk">
                <p class="small-text">Create a password</p>
                <input type="password" name="Password" value=""><br/>
                <p class="small-text">Confirm password</p>
                <input type="password" name="ConfirmPassword" value=""><br/>
                <p class="small-text no-password"><i>No password</i></p>
            </form>
        </div>
    </div>
</div>

{% endblock content %}