[run]
branch = True
omit = 
    portal/tests/*
    .eggs/*
    /usr/*
    /home/*
data_file=.coverage

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    portal/tests/*
