*.log
*.pyc
local_settings.py
/static/
/VIRTUALENV/
/env/
*.iml
*~

__pycache__
.settings
.project
.pydevproject
.idea
dbfile
testdbfile
*.orig
.sass-cache
*.DS_Store
*.jshintrc
portal/tests/chromedriver

db.sqlite3
example_project/example_project/static/
codeforlife_portal.egg-info
*.egg-info/
build/
dist/
