sudo: required
dist: trusty
group: deprecated-2017Q2
language: python
python:
  - 2.7.12
# node_js:
#   - 10
# addons:
#   apt:
#     packages:
#       - nodejs
#       - npm
# cache:
#   # cache both npm modules and Cypress binary
#   directories:
#     - ~/.npm
#     - ~/.cache
#   # install dependencies and check that Cypress can run
#   override:
#     - npm ci
#     - npm run cy:verify
env:
  global:
    secure: yhZstk2BCizpt3zidJp6+MFXK41/zl4ODA7YexGvVfdtyLkvyi1CSuCiDu+EcZn6QD1SGLcDBxRRB7F4ZTW+I9DHzDNDziawdGkVuUIQowUReklQ9W41sJJKzBO6HYpvp8Wvm8bkDfzwJtVpnKphckUoj8k+OXGmhoAl6/DVCsKiCSuZnJ1BxP2GA9cON2RGjJnKpiARXpLR5Zb+R73ALoi1YGU2o3Go8Z+2s7doibqiDlyzLK3nfHdjG5XgKAeYvn14udVyCtLQuaQe24xwDnc1dIOgkfkLdzjrLxoSNeFwhSowEQuWTyeBHBeDyCtJCLk762HW4qlbIacbl1bH6nLHHLznkTSvfUt9yK0tSpPxqUi4ooQxnMT4XFw+5Mg0e3soTgJKNWgG+1WXQ4+F4AC+l0IJdch0vVlH5WSuibvO1fUNzB5brSyrj0hXXtvEGvB31fXT54E6lhxymuAdLyAXHw4cCCc+UNrW3skn0vj3/J5jecbbwcF0DcOK4bjhJ+xHZJucwWtq6ioXGpj6S0u1Fe1dw3AJNNgyjwWTxaEzt3VQP7Znk0OxKGYyViEeEsF+TvVJyhuaaPGSisGc45I4U0/1bopUa5IrZh3EDpPJ8E1HDf++s2z/iVxqmBmbqU0SRtzhRh+ZIsbe+Lea9wx/Zw7k0AKnF1WQXbHacsY=
  matrix:
    - SELENIUM_WEBDRIVER=default
matrix:
  include:
    - python: 2.7.12
      env: SELENIUM_WEBDRIVER=default
  fast_finish: true
stages:
  - name: test
  - name: deploy
    if: branch = master AND (NOT type IN (pull_request))
jobs:
  include:
    - stage: test
      name: "Python Tests"
      install:
        - pip install -U setuptools
        - pip install -e .
        - pip install coveralls
      before_script:
        - wget http://chromedriver.storage.googleapis.com/2.24/chromedriver_linux64.zip
        - unzip chromedriver_linux64.zip -d /home/travis/virtualenv/python2.7.12/bin/
        - export CHROME_BIN=chromium-browser
        - "export DISPLAY=:99.0"
        - "sh -e /etc/init.d/xvfb start"
        - sleep 3
        - pip install selenium==2.53.6
        - python example_project/manage.py collectstatic --noinput --settings test_settings
      script:
        - python setup.py test
      after_success:
        - coveralls
    - name: "Cypress tests"
      before_install:
        - curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -
        - sudo apt-get install -y nodejs=8
        - node -v
        - if [[ `npm -v` != 6* ]]; then npm install -g npm@6; fi
      install:
        - npm ci
        - npm install cypress --save-dev
      cache:
        directories:
        - "$HOME/.npm"
      script:
        - $(npm bin)/cypress run --browser chrome --record
    - stage: deploy
      install:
        - pip install -U setuptools
        - pip install -e .
      script:
        - git config --global user.name "semantic-release (via TravisCI)"
        - git config --global user.email "semantic-release@travis"
        - pip install python-semantic-release==3.11.2
        - semantic-release publish
      after_success:
        - "curl -d POST -v https://semaphoreci.com/api/v1/projects/${SEMAPHORE_PROJECT_ID}/master/build?auth_token=${SEMAPHORE_API_AUTH}"
