sudo: required
dist: xenial
services:
  - xvfb
language: python
python: 3.6.7
addons:
  chrome: stable

env:
  global:
    - secure: yhZstk2BCizpt3zidJp6+MFXK41/zl4ODA7YexGvVfdtyLkvyi1CSuCiDu+EcZn6QD1SGLcDBxRRB7F4ZTW+I9DHzDNDziawdGkVuUIQowUReklQ9W41sJJKzBO6HYpvp8Wvm8bkDfzwJtVpnKphckUoj8k+OXGmhoAl6/DVCsKiCSuZnJ1BxP2GA9cON2RGjJnKpiARXpLR5Zb+R73ALoi1YGU2o3Go8Z+2s7doibqiDlyzLK3nfHdjG5XgKAeYvn14udVyCtLQuaQe24xwDnc1dIOgkfkLdzjrLxoSNeFwhSowEQuWTyeBHBeDyCtJCLk762HW4qlbIacbl1bH6nLHHLznkTSvfUt9yK0tSpPxqUi4ooQxnMT4XFw+5Mg0e3soTgJKNWgG+1WXQ4+F4AC+l0IJdch0vVlH5WSuibvO1fUNzB5brSyrj0hXXtvEGvB31fXT54E6lhxymuAdLyAXHw4cCCc+UNrW3skn0vj3/J5jecbbwcF0DcOK4bjhJ+xHZJucwWtq6ioXGpj6S0u1Fe1dw3AJNNgyjwWTxaEzt3VQP7Znk0OxKGYyViEeEsF+TvVJyhuaaPGSisGc45I4U0/1bopUa5IrZh3EDpPJ8E1HDf++s2z/iVxqmBmbqU0SRtzhRh+ZIsbe+Lea9wx/Zw7k0AKnF1WQXbHacsY=
    - SELENIUM_WEBDRIVER=default

stages:
  - name: test
    if: tag IS blank AND type IN (pull_request)
  - name: deploy
    if: branch = master AND NOT type IN (pull_request)

jobs:
  fail_fast: true
  include:
    - stage: test
      install:
        - pip install -U setuptools
        - pip install pytest-cov
        - pip install pipenv
        - pipenv install --dev --system
        - pip install -U git+https://github.com/ocadotechnology/rapid-router@common-test
        - pip install -U aimmo
      before_script:
        - wget https://chromedriver.storage.googleapis.com/83.0.4103.39/chromedriver_linux64.zip
        - unzip chromedriver_linux64.zip -d /home/travis/virtualenv/python3.6.7/bin/
        - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
        - python example_project/manage.py collectstatic --noinput --settings test_settings
      script:
        - SELENIUM_HEADLESS=True pytest --cov=. --cov-report=xml
      after_success:
        - bash <(curl -s https://codecov.io/bash)

    - stage: deploy
      name: "Build and deploy portal and common PyPi packages"
      install:
        - pip install python-semantic-release==4.*
        - pip install twine
      before_script:
        - git config --global user.name "semantic-release (via TravisCI)"
        - git config --global user.email "semantic-release@travis"
      script:
        - semantic-release publish
        - pushd cfl_common
        - python setup.py sdist bdist_wheel
        - twine upload --skip-existing --username ${PYPI_USERNAME} --password ${PYPI_PASSWORD} dist/*
        - popd
      after_success:
        - "curl -d POST -v https://semaphoreci.com/api/v1/projects/${SEMAPHORE_PROJECT_ID}/master/build?auth_token=${SEMAPHORE_API_AUTH}"
