sudo: required
dist: trusty
group: deprecated-2017Q2
language: python
python:
  - 2.7.12
env:
  global:
    secure: yhZstk2BCizpt3zidJp6+MFXK41/zl4ODA7YexGvVfdtyLkvyi1CSuCiDu+EcZn6QD1SGLcDBxRRB7F4ZTW+I9DHzDNDziawdGkVuUIQowUReklQ9W41sJJKzBO6HYpvp8Wvm8bkDfzwJtVpnKphckUoj8k+OXGmhoAl6/DVCsKiCSuZnJ1BxP2GA9cON2RGjJnKpiARXpLR5Zb+R73ALoi1YGU2o3Go8Z+2s7doibqiDlyzLK3nfHdjG5XgKAeYvn14udVyCtLQuaQe24xwDnc1dIOgkfkLdzjrLxoSNeFwhSowEQuWTyeBHBeDyCtJCLk762HW4qlbIacbl1bH6nLHHLznkTSvfUt9yK0tSpPxqUi4ooQxnMT4XFw+5Mg0e3soTgJKNWgG+1WXQ4+F4AC+l0IJdch0vVlH5WSuibvO1fUNzB5brSyrj0hXXtvEGvB31fXT54E6lhxymuAdLyAXHw4cCCc+UNrW3skn0vj3/J5jecbbwcF0DcOK4bjhJ+xHZJucwWtq6ioXGpj6S0u1Fe1dw3AJNNgyjwWTxaEzt3VQP7Znk0OxKGYyViEeEsF+TvVJyhuaaPGSisGc45I4U0/1bopUa5IrZh3EDpPJ8E1HDf++s2z/iVxqmBmbqU0SRtzhRh+ZIsbe+Lea9wx/Zw7k0AKnF1WQXbHacsY=
  matrix:
    - SELENIUM_WEBDRIVER=default
matrix:
  include:
    - python: 2.7.12
      env: SELENIUM_WEBDRIVER=default
  fast_finish: true
stages:
  - test
  - name: deploy
    #  if: branch = master
jobs:
  include:
    - stage: test
#      install:
#        - pip install -U setuptools
#        - pip install -e .
#        - pip install coveralls
#      before_script:
#        - wget http://chromedriver.storage.googleapis.com/2.24/chromedriver_linux64.zip
#        - unzip chromedriver_linux64.zip -d /home/travis/virtualenv/python2.7.12/bin/
#        - export CHROME_BIN=chromium-browser
#        - "export DISPLAY=:99.0"
#        - "sh -e /etc/init.d/xvfb start"
#        - sleep 3
#        - pip install selenium==2.48.0
#        - python example_project/manage.py collectstatic --noinput --settings test_settings
      script: skip
#        - python setup.py test
#      after_success:
#        - coveralls
    - stage: deploy
      install:
        - pip install -U setuptools
        - pip install -e .
      script:
        - git config --global user.name "semantic-release (via TravisCI)"
        - git config --global user.email "semantic-release@travis"
        - pip install python-semantic-release==3.11.2
        - semantic-release version
#git:
#  depth: 9999999 # Building untagged builds needs enough depth to get the latest tag
#deploy:
#  provider: pypi
#  user: ocadotechnology
#  password:
#    secure: "L+TqwiWZAeId3bDMil4dkDds0oBxiLAJUXYAd79/KtEmpAy/0Alp3hdClUZuLQjX8uvUKL2Huloq9SiZHWEtlxlxb0SBO5sLToNm0WOv9pzz0vV1iiQoKqXA951+CHY2tvsV+I1L79npHcGYNnhsNhtpPUlcroUpuCB0fqz/AbEaTcsNvq+opGLaPxjbuhgpCzwG5bMiBGz7In6XtMjGP1lF3B6VYv3oLVzwYMkB+VdK4C6rtsOw73nrJheLpIQnWZ2jSU+Oba3/49/Fkufw/myGdPDcOxu50L9cKoOstK9jjSGb5YzvwtAieH4yRmiBGr+94J0VpY0Q6gSlqxSxK6DYHPMN4HJh2fFmjsbgwWUcnTXqorOF2yXEQGAiszcv1yn3TrXexIbzT3ZxInIIYW3aKx0texz0j/AkXF1+F25MQgRbrirH5efCZ4fDhErhTfc/EqzDSd7bZKaZ2W3AsoAJ1CFdFVOytyblVzAvL3XsLOVfgLfg80hSIrhCG1vlJruQ9Z4jx62E+WWnWw39ogyskWkEWpR1w0G7vkJ4kkevuVcV+bU6OYU9eGYNnIu9Xz+yj0tf68egRgLLJc5+Jyy6vQyxKgHoFOe9UG8I6Z1LudAU3PDSpSCuRBczOUTnt5lRBR56BSkFWajwryTA2k1dGkBpVyG9uc5Bg30hvgw="
#  distributions: "bdist_wheel sdist"
#  on:
#    repo: ocadotechnology/codeforlife-portal
#after_deploy:
#  - "curl -d POST -v https://semaphoreci.com/api/v1/projects/${SEMAPHORE_PROJECT_ID}/master/build?auth_token=${SEMAPHORE_API_AUTH}"
