[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.36.14"
celery = {extras = ["sqs"], version = "==5.4.0"}
cfl-common = {path = "./cfl_common", editable = true}
django-classy-tags = "==4.1.0"
django-formtools = "==2.5.1"
django-preventconcurrentlogins = "==0.8.2"
django-ratelimit = "==3.0.1"
django-recaptcha = "==4.1.0"
django-sekizai = "==4.1.0"
django-treebeard = "==4.8.0"
gunicorn = "==23.0.0"
importlib-metadata = "==4.13.0"
phonenumbers = "==8.12.12"
python-dotenv = "==1.0.1"
pyyaml = "==6.0.2"
reportlab = "==4.4.2"
requests-toolbelt = "==1.0.0"
uvicorn-worker = "==0.2.0"
whitenoise = "==6.9.0"

[dev-packages]
black = "*"
django-selenium-clean = "==1.0.1"
django-test-migrations = "==1.4.0"
isort = "*"
pypdf = "==5.1.0"
pytest = "==8.*"
pytest-cov = "*"
pytest-django = "==4.11.1"
pytest-mock = "*"
pytest-order = "*"
pytest-xdist = "*"
pyvirtualdisplay = "*"
# rapid-router = ">7.0.0"
rapid-router = {ref = "workspace_1054", git = "https://github.com/ocadotechnology/rapid-router.git"}
responses = "==0.18.0"
selenium = "==4.29.0"
snapshottest = "==1.0.0a1"

[requires]
python_version = "3.12"
