[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
codeforlife-portal = {path = ".",editable = true}
cfl-common = {editable = true,path = "./cfl_common"}
django-autoconfig = { git = 'https://github.com/ocadotechnology/django-autoconfig.git', ref = 'master' }

[dev-packages]
django-selenium-clean = "==0.3.2"
django-test-migrations = "==1.1.0"
responses = "==0.12.1"
selenium = "==3.141.0"
snapshottest = "==0.6.0"
pytest-django = "==4.1.0"
pytest = "==6.*"
pyvirtualdisplay = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
