[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
codeforlife-portal = {path = ".",editable = true}
cfl-common = {editable = true,path = "./cfl_common"}

[dev-packages]
django-selenium-clean = "==0.2.1"
responses = "==0.10.7"
selenium = "==3.141.0"
snapshottest = ">=0.5.1, <0.6.0"
pytest-django = ">=3.7.0, <3.8.0"
pytest = "==5.*"
pyvirtualdisplay = "*"
pytest-mock = "*"

[requires]
python_version = "3.6.7"
