django==1.8.2

# Django CMS
django-cms

django-mptt
django-classy-tags
django-treebeard
django-sekizai
html5lib
djangocms-admin-style

djangocms-text-ckeditor
djangocms-link
djangocms-snippet
djangocms-style
djangocms-column
djangocms-grid
djangocms-oembed
djangocms-table

Pillow
django-filer
cmsplugin-filer
django-reversion