{% extends 'portal/teach/base.html' %}
{% load app_tags %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "portal/css/materials.css" %}'>
{% endblock css %}


{% block scripts %}
{{ block.super }}
<script type='text/javascript' src='{% static "portal/js/teach_browser.js" %}'></script>
{% endblock scripts %}

{% block content %}

<h1 id="top">Teaching Resources</h1>
<p>We’ve created a comprehensive set of teaching materials to give you the confidence and resources to use the <i>Rapid Router</i> game to help you teach children the UK National Computing Curriculum right through their primary education.</p>
<nav class="side-nav">
    <div class="list-container">
        <ol>
            <div class="nav-section">
          	    <li><a class="nav-head user" href="{% url 'materials_home' %}#user-guide">User Guide</a></li>
            </div>
            <div class="nav-section">
              	<li><a class="nav-head ks1">Key stage 1</a>
                    <ol class="collapsible-list ks1">
              			<li><a href="{% url 'materials_home' %}#ks1-sessions">Sessions</a></li>
              			<li><a href="{% url 'materials_home' %}#ks1-resource-sheets">Resource Sheets</a></li>
                        <li><a href="{% url 'materials_home' %}#ks1-solutions">Program Solutions</a></li>
                        <li><a href="{% url 'materials_home' %}#ks1-activity">Activity Set</a></li>
              			<li><a href="{% url 'materials_home' %}#ks1-assets">Assets</a></li>
                        <li><a href="{% url 'materials_home' %}#ks1-assessments">Assessments</a></li>
              		</ol>
              	</li>
            </div>

            <div class="nav-section">
              	<li><a class="nav-head lks2">Lower Key Stage 2</a>

              		<ol class="collapsible-list lks2">
              			<li><a>Sessions</a></li>
                        <li><a>Resource Sheets</a></li>
                        <li><a href= "{% url 'materials_viewer' pdf_name='program_solutions_29-50' %}">Program Solutions</a></li>
                        <li><a>Activity Set</a></li>
                        <li><a>Assets</a></li>
                        <li><a>Assessments</a></li>
              		</ol>
              	</li>
            </div>

            <div class="nav-section">
              	<li><a class="nav-head uks2">Upper Key Stage 2</a>
              		<ol class="collapsible-list uks2">
                        <li><a>Sessions</a></li>
                        <li><a>Resource Sheets</a></li>
                        <li><a href= "{% url 'materials_viewer' pdf_name='program_solutions_51-109' %}">Program Solutions</a></li>
                        <li><a>Activity Set</a></li>
                        <li><a>Assets</a></li>
                        <li><a>Assessments</a></li>
              		</ol>
              	</li>
            </div>
          	<li><a href="{% url 'materials_home' %}">Home</a></li>
        </ol>
    </div>
</nav>

<div class="floating-banner">
    <a href="#contentWrapper" class='btn btn-secondary small'>Back to top</a>
</div>

{% endblock content %}
