{% extends 'portal/teach/materials/base.html' %}

{% load app_tags %}
{% load static %}


{% block scripts %}
{{ block.super }}

{% endblock scripts %}

{% block content %}
{{ block.super }}

<section class="home overview-container">
    <div class="overview-ks1">
        <a href=""></a>
        <h2 class="overview-title">Key Stage 1</h2>
        <p>Children will learn the basics of coding by programming a delivery van to drive around simple routes. They will sequence instructions and use simple repitition commands in a visual programming language.</p>
    </div>
    <div class="overview-lks2">
        <a href=""></a>
        <h2 class="overview-title">Lower Key Stage 2</h2>
        <p>Children will develop their understanding of programming principals by learning how to use repeat loops, <i>if</i> statements and respond to changes in variables in a visual programming language.</p>
    </div>
    <div class="overview-uks2">
        <a href=""></a>
        <h2 class="overview-title">Upper Key Stage 2</h2>
        <p>Children will revise their skills in the Blockly visual programming language and learn the basics of the text-based language: Python. Throughout, they will be designing, creating and debugging their own programs.</p>
    </div>
</section>

<section class="home user-guide" id="user">
    <h2>User Guide</h2>
    <div class="resource-links-container">
        <div class="resource-links">
            <h3>Key Stage 1, and Lower Key Stage 2</h3>
                <ol>
                    <li><a href= "{% url 'materials_viewer' pdf_name='introduction_to_coding' %}">Introduction to Coding Guide</a></li>
                    <li><a href= "{% url 'materials_viewer' pdf_name='levels_guide_1-50' %}">Levels Guide (1-50)</a></li>
                    <li><a href= "{% url 'materials_viewer' pdf_name='glossary' %}">Glossary</a></li>
                </ol>
        </div>

        <div class="resource-links">
            <h3>Upper Key Stage 2</h3>
                <ol>
                    <li><a href= "{% url 'materials_viewer' pdf_name='introduction_to_python' %}">Introduction to Python in Rapid Router</a></li>
                    <li><a href= "{% url 'materials_viewer' pdf_name='levels_guide_51-109' %}">Levels Guide (50-109)</a></li>
                    <li><a href= "{% url 'materials_viewer' pdf_name='blockly_python_phrasebook' %}">Blockly - Python Phrasebook</a></li>
                </ol>
        </div>
    </div>
</section>

<section class="home keystage" id="ks1">

    <div class="title-and-button">
        <h2> Key Stage 1 </h2>
        <a class='btn btn-primary small'>Download all KS1 resources</a>
        <span class="blockly-icon"></span>
    </div>

    <div class="main" id="ks1-sessions">
        <h3>Sessions <span class="ks-tag">KS1</span></h3>
        <p>Complete lesson plans for each session, including learning objectives, a list of useful resources, pupil activites and guidance on share and review following the session.</p>

        <table class="resource-table">
            <tr>
                <th>Session 1</th>
                <td><a href="">Unplugged algorithms for moving along a route</a></td>
            </tr>
            <tr>
                <th>Session 2</th>
                <td><a href="">Starting off on-screen with the app</a></td>
            </tr>
            <tr>
                <th>Session 3</th>
                <td><a href="">Creating simple algorithms to reach a single destination</a></td>
            </tr>
            <tr>
                <th>Session 4</th>
                <td><a href="">Creating simple algorithms to reach a single destination along the shortest route</a></td>
            </tr>
            <tr>
                <th>Session 5</th>
                <td><a href="">Create a more complex algorithm to deliver one or more packages on the way</a></li></td>
            </tr>
            <tr>
                <th>Session 6</th>
                <td><a href="">Delivering several packages in a sensible sequence (extension activity)</a></td>
            </tr>
            <tr>
                <th>Session 7</th>
                <td><a href="">Introducing the repeat code</a></td>
            </tr>
            <tr>
                <th>Session 8</th>
                <td><a href="">Follow-on and extension work on multiple repeat loops and nested repeats</a></td>
            </tr>
            <tr>
                <th>Session 9</th>
                <td><a href="">Children create their own routes</a></td>
            </tr>
            <tr>
                <th>Session 10</th>
                <td><a href="">Try out a partners route</a></td>
            </tr>
        </table>
    </div>

    <div class="main" id="ks1-resource-sheets">
        <h3>Resource Sheets <span class="ks-tag">KS1</span></h3>
        <p>Resource sheets are made to be used along side the lesson plans. They help you teach coding concepts offline in the classroom. You can <a href="">download the whole set</a> (zip file), or view and download them individually below.</p>

         <table class="resource-table">
            <tr>
                <th>Session 1</th>
                <td><a href="">KS1-S1-1</a></td>
                <td><a href="">KS1-S1-2</a></td>
                <td><a href="">KS1-S1-3</a></td>
                <td><a href="">KS1-S1-4</a></td>
            </tr>
            <tr>
                <th>Session 2</th>
            </tr>
            <tr>
                <th>Session 3</th>
                <td><a href="">KS1-S3-1</a></td>
            </tr>
            <tr>
                <th>Session 4</th>
                <td><a href="">KS1-S4-1</a></td>
                <td><a href="">KS1-S4-2</a></td>
                <td><a href="">KS1-S4-3</a></td>
                <td><a href="">KS1-S4-4</a></td>
            </tr>
            <tr>
                <th>Session 5</th>
                <td><a href="">KS1-S5-1</a></td>
            </tr>
            <tr>
                <th>Session 6</th>
                <td><a href="">KS1-S6-1</a></td>
                <td><a href="">KS1-S6-2</a></td>
            </tr>
            <tr>
                <th>Session 7</th>
                <td><a href="">KS1-S7-1</a></td>
                <td><a href="">KS1-S7-2</a></td>
                <td><a href="">KS1-S7-3</a></td>
            </tr>
            <tr>
                <th>Session 8</th>
                <td><a href="">KS1-S8-1</a></td>
                <td><a href="">KS1-S8-2</a></td>
            </tr>
            <tr>
                <th>Session 9</th>
                <td><a href="">KS1-S9-1</a></td>
            </tr>
        </table>
    </div>

    <div class="extras">

        <div class="extra program-solutions" id="ks1-solutions">
            <h3>Program Solutions <span class="ks-tag">KS1</span></h3>
            <p>This sheet gives the best solutions to levels 1 to 28 of Rapid Router.</p>
            <a>View program solutions</a>
        </div>

        <div class="extra activity-set" id="ks1-activity">
            <h3>Activity Set <span class="ks-tag">KS1</span></h3>
            <p>This activity set gives you an overview if the Key Stage 1 module. It covers the resources that will be useful, learning expectatins and teacher preparation.</p>
            <a>View activity set</a>
        </div>

        <div class="extra assets" id="ks1-assets">
            <h3>Assets <span class="ks-tag">KS1</span></h3>
            <p>Printable sheets with all the game assets from direction arrows to scenery for offline class activites.</p>

            <ol>
                <li><a href="">Assets</a></li>
                <li><a href="">Code wall cards</a></li>
            </ol>
        </div>

        <div class="extra assessments" id="ks1-assessments">
            <h3>Assessments <span class="ks-tag">KS1</span></h3>
            <p>Assessment guidance sheets for teachers explain techniques and key questions, pupil led self-assessment sheets, along with a reocd sheet for pupils you can <a href=""> download the whole set</a> (zip file), or view and download them individually below.</p>

            <ol>
                <li><a href="">Assessment Sheet</a></li>
                <li><a href="">Self Assessment Sheet</a></li>
                <li><a href="">Teacher Record Sheet</a></li>
            </ol>
        </div>

    </div>

</section>

{% endblock content %}
