{% extends 'portal/teach/materials/base.html' %}

{% load app_tags %}
{% load static %}


{% block scripts %}
{{ block.super }}
{% endblock scripts %}

{% block content %}
{{ block.super }}


{% if not video_link %}
    <section class="viewer no-video">
        <div class="title-back">
            <h2>{{ title }}</h2>
            <a id="back" class='btn btn-secondary'>Back to resources</a>
        </div>

        <div class="description-download">
            <p>{{ description }}</p>
            <a href="{{ url }}" download class='btn btn-primary'>Download PDF</a>
        </div>
    </section>
{% else %}
    <section class="viewer video">
        <div class="title-back">
            <h2>{{ title }}</h2>
            <a id="back" class='btn btn-secondary'>Back to resources</a>
        </div>

        <p>{{ description }}</p>
        <a href="{{ video_link }}" class="youtube cboxElement">
            <img src="{{ video_screenshot_link }}">
        </a>
        <div class="download-buttons">
            <p>Video: {{ video_description }} </p>
            <a href="{{ video_link }}" download class='btn btn-primary video'>Download Video</a>
            <a href="{{ url }}" download class='btn btn-primary'>Download PDF</a>
        </div>
    </section>
{% endif %}

<section class="viewer">
	<iframe src="http://docs.google.com/gview?url={{ url }}&embedded=true"></iframe>
</section>

{% if links %}
	<section class="viewer related-docs">
		<h3>Related documents</h3>
		<div class="related-document-links">
			{% for link, title in links %}
				<a href="{% url 'materials_viewer' pdf_name=link %}">{{title}}</a>
			{% endfor %}
		</div>
	</section>
{% endif %}


{% endblock content %}