{% extends 'portal/base.html' %}

{% block content %}

<h2>
About us
</h2>
<p> 
On the surface, we&#8217;re the world&#8217;s largest online-only grocery retailer. Customers use our award winning mobile applications and website to place their orders, which are packed in our world&#8211;class automated warehouses, and delivered in one hour time slots.
</p>
<p>
Look under the surface however, and you&#8217;ll unearth a dynamic technology company that has the look, feel and culture of an innovative software start-up. That&#8217;s because we develop all the software that powers Ocado in-house.
</p>
<h3>
The Volunteers
</h3>
<p>
The Code for Life site and Rapid Router app would not have been possible without the time and skills volunteered by our talented developers and creatives. 
</p>
<p>
Thank you, Chris Brett, Paul Heideman, Matt Whelan, Anders Schuller, Ed Armitage, Ruth Wall, Nel Sui, Ben Cardy, Andrew Miller, Andre Gomes, Oliver Catz, Stephen Kennedy, Lloyd Allen, Barry Parker, Blazej Strozewski, James Dimmock, Marcin Zieba, Mike Bryant, Paul Wright, Saparbek Smailov, Shubham Jain, Sophie Taylor, Paulina Koch, Robert Brignull, Joseph Zammit.
</p>
     
<h3>Our Friends</h3>
<p>
Do we want a section in here acknowledging BCS Academy of Computing, Barefoot Computing, Computing at School, The National Museum of Computer Science, Imperial College, M&amp;C Saatchi, Jason Fingland, Ramneet Loyall, Sharon Harrison.
</p>

{% endblock content %}
