{% extends 'portal/base.html' %}
{% load cache %}

{% block content %}

<div id="about_page"></div>

{% cache 3600 fragment-about-content %}

<h2>
Ocado Technology
</h2>
<p> 
On the surface, <a target="_blank" href="http://www.ocado.com">Ocado.com</a> is the world&#8217;s largest online-only grocery retailer. Customers use
our award winning mobile applications and website to place their orders, which are packed in our
world&#8211;class automated warehouses, and delivered in one hour time slots.
</p>
<p>
Look under the surface however, and you&#8217;ll unearth a dynamic technology company that has the
look, feel and culture of an innovative software start-up - Ocado Technology. That&#8217;s because
we develop all the software that powers Ocado in-house.
</p>
<p>
We have developed the Code for Life initiative to help support primary school teachers deliver the
new computer science curriculum with the aim of equipping every child in the country with the
“coding survival skills” that will enable them to flourish in an increasingly digital world.
</p>
<h3>
The Volunteers
</h3>
<p>
The Code for Life site and Rapid Router app would not have been possible without the time and skills
volunteered by our talented developers and creatives.
</p>
<p>
Thank you, Christopher Richard James Brett, Paul Heideman, Matt Whelan, Anders Schuller,
Edd Armitage, Ruth Wall, Nel Sui, Ben Cardy, Andrew Miller, Andre Gomes, Oliver Cartz,
Stephen Kennedy, Lloyd Allen, Barry Parker, Blazej Strozewski, James Dimmock, Marcin Zieba,
Mike Bryant, Paul Wright, Saparbek Smailov, Shubham Jain, Sophie Taylor, Will Peck, Mahana Clutha,
Kenny MacMillan, Ana Crisan, Helen Mead, Kristian Brugts, Michael Storey, Rachel Lord, Bree King,
Chris Pavli, Paulina Koch, Matthew Daggitt, Robert Brignull, Joseph Zammit, Joe Slade, James Smyth, Cherie Pun.
</p>

<h3>Our Friends</h3>
<p>
We would also like to thank our friends who have contributed to this initiative, including 
BCS Academy of Computing,
<a href="http://www.barefootcas.org.uk" target="_blank">Barefoot Computing</a>,
<a href="http://www.computingatschool.org.uk/" target="_blank">Computing at School</a>,
<a href="http://www.tnmoc.org/" target="_blank">The National Museum of Computing</a>,
<a href="http://www3.imperial.ac.uk/">Imperial College London</a>,
<a href="http://www.mcsaatchi.com/" target="_blank">M&amp;C Saatchi</a>,
<a href="http://instantproductions.com/" target="_blank">Alvaro Ramirez</a>,
<a href="http://fingerland.co.uk" target="_blank">Jason Fingland</a>,
Ramneet Loyall,
Sharon Harrison,
Keith Avery,
<a href="http://pressurecookerstudios.co.za" target="_blank">Pressure Cooker Studios</a>,
<a href="http://www.gal-education.com" target="_blank">GAL Education</a>,
<a href="http://www.hope-education.co.uk/" target="_blank">Hope Education</a>.
</p>

{% endcache %}

{% endblock content %}
