{% load staticfiles %}
{% load app_tags %}
{% load cache %}

{# CMS #}
{% load cms_tags sekizai_tags %}

<!DOCTYPE html>
<html>
<head>
{# CMS #}
{% render_block "css" %}

<title>{% block title %}Code for Life{% endblock %}</title>
    <meta name="msapplication-config" content="none"/>

{% block head %}
{% endblock head %}

{% block css %}
<link href='{% static "portal/css/common.css" %}' rel="stylesheet">
{% cache 3600 fragment-base-css %}
<link href='{% static "portal/css/jquery-ui.css" %}' rel="stylesheet">
<link href='{% static "portal/css/jquery-ui.structure.css" %}' rel="stylesheet">
<link href='{% static "portal/css/jquery-ui.theme.css" %}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{% static "portal/css/styles.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "portal/css/list.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "portal/css/tables.css" %}'>
{% endcache %}
{% endblock css %}

{% cache 3600 fragment-base-javascript %}
<script type='text/javascript' src='{% static "portal/js/lib/jquery.js" %}'></script>
<script type="text/javascript" src='{% static "portal/js/lib/jquery-ui.js" %}'></script>
<script type="text/javascript" src='{% static "portal/js/lib/modernizr.custom.79639.js" %}'></script>
<script type="text/javascript" src='{% static "portal/js/common.js" %}'></script>
<script type="text/javascript" src='{% static "portal/js/deleteWorkspaces.js" %}'></script>
{% endcache %}
<script type="text/javascript" src='{% static "portal/js/jquery.placeholder.js" %}'></script>

{% block check_user_status %}
<script>
    // Set to 'TEACHER', 'SCHOOL_STUDENT', 'INDEPENDENT_STUDENT', or 'UNTRACKED'
    USER_STATUS = '{{ user|get_user_status }}';
    DEVELOPER = '{{ user|is_developer }}' === 'True';
    BETA = '{{ request|has_beta_access }}' === 'True';
</script>
{% endblock check_user_status %}

{% block scripts %}
{% endblock scripts %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	
    ga('create', 'UA-49883146-1', 'auto');
    ga('send', 'pageview');

</script>

<script src="/static/portal/js/riveted.min.js"></script>
<script>riveted.init();</script>

<script> 
	function send_event(name_of_file, action){
		ga('send', {
  		hitType: 'event',
  		eventCategory: 'PDFs',
  		eventAction: action,
  		eventLabel: name_of_file
		});
	}
</script>

</head>

<body>
{# CMS #}
{% cms_toolbar %}
{% render_block "js" %}
{% include 'portal/mouseflow.html' %}

{% block contentWrapper %}
<div {% block pageID %}id='contentWrapper'{% endblock %}>
    {% block topBar %}
        <div class='topBar'>
            <div class="content">
                <a id="home_button" href="{% url 'home' %}" class="logo">
                    <span></span>
                    <h1>Code for Life</h1>
                </a>
                <ul class="topNav">
                    <li>{% block nav_teach %}<a id="teach_button" href="{% url 'teach' %}">TEACH</a>{% endblock nav_teach %}</li>
                    <li>{% block nav_play %}<a id="play_button" href="{% url 'play' %}">PLAY</a>{% endblock nav_play %}</li>
                    {% if user|is_logged_in %}
                        <li>{{ user|make_into_username|truncate:20 }} | <a id="logout_button" href="{% url 'portal/logout' %}" onclick="deleteAllLocalStorageWorkspaces();">LOGOUT</a></li>
                    {% else %}
                        <li><a href="{% url 'play' %}">LOGIN</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock topBar %}
    {% block subNav %}
        {% if user|is_logged_in %}
        <div class="subnavBar">
            <div class="subnav">
                <ul>
                    {% if user|is_logged_in_as_student %}
                        <li>{% block nav_student_dashboard %}<a id="student_dashboard_button" href="{% url 'student_details' %}">Dashboard</a>{% endblock nav_student_dashboard %}</li>
                        <li>{% block nav_student_account %}<a id="student_account_button" href="{% url 'student_edit_account' %}">{% if user.userprofile.student.class_field %}Password{% else %}Account{% endif %}</a>{% endblock nav_student_account %}</li>
                    {% endif %}
                    {% if user|is_logged_in_as_teacher %}
                        <li>{% block nav_teacher_dashboard %}<a id="teacher_dashboard_button" href="{% url 'teacher_home' %}">Dashboard</a>{% endblock nav_teacher_dashboard %}</li>
                        <li>{% block nav_teacher_classes %}<a id="teacher_classes_button" href="{% url 'teacher_classes' %}">Classes</a>{% endblock nav_teacher_classes %}</li>
                        <li>{% block nav_teacher_account %}<a id="teacher_account_button" href="{% url 'teacher_edit_account' %}">Account</a>{% endblock nav_teacher_account %}</li>
                        <li>{% block nav_teacher_school %}<a id="teacher_organisation_button" href="{% url 'organisation_manage' %}">School | Club</a>{% endblock nav_teacher_school %}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endblock subNav %}


    {% block contentDiv %}
    <div class="content">

        <div id='messages'>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!--[if lt IE 10]>
        <ul class="messages">
            <li class="error">You appear to be using an old version of Internet Explorer. You will be unable to play Rapid Router, unless you upgrade to Internet Explorer 10, or consider using another browser. See <a href="{% url 'help' %}">Help and Support</a> for more details.</li>
        </ul>
        <![endif]-->

        {% block content %}
        {# CMS #}
        {% placeholder template_1_content %}
        {% block base_content %}{% endblock %}
        {% endblock content %}

    </div>
    {% endblock contentDiv %}

    <div class="push"></div>
</div>
{% endblock contentWrapper %}

{% block footer %}
{% cache 3600 fragment-base-footer %}
    <div class="footer">
        <ul>
            <li><a id="about_button" href="{% url 'about' %}">About us</a></li>
            <li><a id="contact_button" href="{% url 'contact' %}">Contact Us</a></li>
            <li><a id="terms_button" href="{% url 'terms' %}">Terms of use</a></li>
            <li><a id="help_button" href="{% url 'help' %}">Help &amp; Support</a></li>
            <li><a href="http://www.ocadotechnology.com/">Ocado Technology</a> &copy; 2016</li>
        </ul>
    </div>
{% endcache %}
{% endblock footer %}

<div id="confirmation-dialog" title=""></div>

<script>
$(function() {
    $('input, textarea').placeholder();
});
</script>

</body>
</html>
