{% extends 'portal/base.html' %}

{% block content %}

<h2>Browser support</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac sem eu tortor dignissim elementum eu a erat. Cras porttitor tempor sagittis. Vivamus lectus justo, rhoncus sed laoreet in, tempus vel arcu. In tristique nibh eget cursus molestie. Nunc quam felis, semper id ultrices et, tempus ut urna. Vestibulum sit amet sapien sed odio commodo interdum. Curabitur at libero orci. Curabitur consequat mauris orci, ac vestibulum arcu iaculis sed. </p>

{% endblock content %}
