{% extends 'portal/base.html' %}

{% block content %}

<div id="contact_page"></div>

<div class='span_2_of_3'>
    <h2>Contact Us</h2>
    <p>If you've run into problems, please look to our  <a href="{% url 'help' %}">Help and Support</a> page for a list of FAQs for advice to commonly asked questions. If you still can't find the answers, please contact us using the form below. One of the Code for Life team will get back to you and resolve your issues.</p>
    <div id="contact-area">
        <form method='post'>

            {% csrf_token %}

            {{ form.non_field_errors }}


            <label for="Name">{{ form.name.label }}:</label>
            <div class="col no-margin">
                {{ form.name.errors }}
                {{ form.name }}
            </div>
            
            <label for="Telephone">{{ form.telephone.label }}:</label>
            <div class="col no-margin">
                {{ form.telephone.errors }}
                {{ form.telephone }}
            </div>

            <label for="Email">{{ form.email.label }}:</label>
            <div class="col no-margin">
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            
            <label for="Message">{{ form.message.label }}:</label><br />
            <div class="col no-margin">
                {{ form.message.errors }}
                {{ form.message }}
            </div>

            {{ form.browser }}

            {% if form.recaptcha %}
                <label for="{{ form.recaptcha.auto_id }}">ReCaptcha:</label><br />
                <div class="col no-margin">
                    {{ form.recaptcha.errors }}
                    {{ form.recaptcha|safe }}
                </div>
            {% endif %}

            <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
        </form>
        
        <div style="clear: both;"></div>
        
    </div>
</div>

<script type="text/javascript">
    $('#browserField').val(navigator.userAgent);
</script>

{% endblock content %}