{% extends 'portal/base.html' %}

{% block content %}

<div class='span_2_of_3'>
    <h2>Contact Us</h2>
    <p>If you're stuck and would like some advice, please first check our <a href="{% url 'help' %}">Help and Support</a> page, which some FAQs to help with common problems.</p>
    <p>If you can't find an answer, feel free to contact us using the form below. We'll send you a copy of the message, and one of the Code for Life team will get back to you as soon as possible.</p>
    <div id="contact-area">
        <form method='post'>

            {% csrf_token %}

            {{ form.non_field_errors }}


            <label for="Name">{{ form.name.label }}:</label>
            <div class="col no-margin">
                {{ form.name.errors }}
                {{ form.name }}
            </div>
            
            <label for="Telephone">{{ form.telephone.label }}:</label>
            <div class="col no-margin">
                {{ form.telephone.errors }}
                {{ form.telephone }}
            </div>

            <label for="Email">{{ form.email.label }}:</label>
            <div class="col no-margin">
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            
            <label for="Message">{{ form.message.label }}:</label><br />
            <div class="col no-margin">
                {{ form.message.errors }}
                {{ form.message }}
            </div>

            <input type="submit" name="submit" value="Submit" class="btn" />
        </form>
        
        <div style="clear: both;"></div>
        
    </div>
</div>

{% endblock content %}