{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div id="emailVerificationNeeded_page"></div>

<div class='section group'>
    <div class='span_centered_half'>

        <div class='login-card'>
            <h3>We need to verify your email address.</h3><br>

            <!-- <p>An email has been sent to '{% if email %}{{ email }}{% else %}{{ userprofile.user.email }}{% endif %}'.</p>
             -->
            <p>We need to verify your email address. An email has been sent to the address you provided.</p>
            <p>Please follow the link within the email to verify your details.</p>
            <p>If you don't receive the email within the next few minutes, check your spam folder.</p>

            <a id="homepage_button" class='btn btn-primary wide' href="{% url 'home' %}">Go to Homepage</a>
        </div>

    </div>
</div>

{% endblock %}
