{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div class='section group'>
    <div class='span_centered_half'>

        <div class='login-card'>
            <h3>Email address verification failed</h3><br>

            <p>You used an invalid link, either you mistyped the URL or that link has expired.</p>
            <p>When you next attempt to log in, you will be sent a new verification email.</p>

            <a class='btn btn-primary wide' href="{% url 'home' %}">Go to Homepage</a>
        </div>

    </div>
</div>

{% endblock %}
