{% extends 'portal/base.html' %}

{% block content %}

<h1>Help &amp; support</h1><br>
<h3>Browser Support</h3>
<p>
The Code for Life website and the Rapid Router app should be supported by all modern browsers. Please note this means that Internet Explorer 8 is not supported - please upgrade to Internet Explorer 9 or above, or use an alternative browser if you are currently using Internet Explorer 8.
</p>
<p>Should you experience any difficulties with support for browsers or other devices you are using which you are unable to resolve, please <a href="{% url 'contact' %}">contact us</a> for assistance.</p>
<h3>FAQ</h3>
<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac sem eu tortor dignissim elementum eu a erat. Cras porttitor tempor sagittis. Vivamus lectus justo, rhoncus sed laoreet in, tempus vel arcu. In tristique nibh eget cursus molestie. Nunc quam felis, semper id ultrices et, tempus ut urna. Vestibulum sit amet sapien sed odio commodo interdum. Curabitur at libero orci. Curabitur consequat mauris orci, ac vestibulum arcu iaculis sed. 

</p>

{% endblock content %}