{% extends 'portal/base.html' %}

{% block scripts %}
{{ block.super }}
<script>
$( document ).ready(function() {
	questions = $('.faqs').find('div').each(function() {
		$( this ).children('h4').html('<span>+　</span>'+$( this ).children('h4').html())
		$( this ).children('h4').click(function() {
			$( this ).parent().children('div').toggle()
			if ($( this ).children('span').text() == '+　') {
				$( this ).children('span').text('–　');
			}
			else {
				$( this ).children('span').text('+　');	
			}
		});
	});
});

</script>
{% endblock scripts %}

{% block content %}

<div id="help_page"></div>

<h1>Help &amp; support</h1><br>

<h3>Browser Support</h3>
<p>
The Code for Life website and the Rapid Router app should be supported by all modern browsers. Please note this means that Internet Explorer 8 and Internet Explorer 9 are not supported. Please upgrade to Internet Explorer 10 or above, or use an alternative browser if you are currently using these browsers.
</p>
<p>Should you experience any difficulties with support for browsers or other devices you are using which you are unable to resolve, please <a href="{% url 'contact' %}">contact us</a> for assistance.</p>

<h3>FAQs</h3>
<p>Here are a number of answers to common questions. If they don't help you and you need some assistance, please <a href="{% url 'contact' %}">contact us</a>.</p>
<div class='faqs'>
	<div>	
		<h4>I am a school student and have forgotten my password. How do I reset it?</h4>
		<div>
			<p>Your teacher is the only person who can update or reset your password, so you should speak to them.</p>
		</div>
	</div>
	<div>
		<h4>I am a teacher and have forgotten my password. How do I reset it?</h4>
		<div>
			<p>Go to the <a href="{% url 'teach' %}">Teach</a> page and select the forgotten password link at the bottom of the log in box to be sent a link to reset your password.</p>
		</div>
	</div>
	<div>
		<h4>I am an independent student and have forgotten my password. How do I reset it?</h4>
		<div>
			<p>Go to the <a href="{% url 'play' %}">Play</a> page, go to the independent students' login box and select the forgotten password link at the bottom of the log in box to be sent a link to reset your password.</p>
		</div>
	</div>
	<div>
		<h4>I'm having problems choosing an acceptable password for my account. What am I missing?</h4>
		<div>
			<p>Passwords for Teachers must be at least 8 characters long and contain numbers and both lowercase and uppercase letters.
			<br>Passwords for Students can use any combination of characters but must be at least 6 characters long.</p>
			<p>If you are having any difficulties with setting your password, please do not hesitate to <a href="{% url 'contact' %}">contact us</a> for support.</p>
		</div>
	</div>
	<div>
		<h4>How do I choose a secure and memorable password for my account?</h4>
		<div>
			<p>To choose a secure password which is also memorable, consider first that it will not want to be guessable. This means that simply choosing a word that has some connection to you is not a good strategy. It cannot be short, and should contain numbers, lowercase and uppercase letters, and possibly symbols.</p>
			<p>Here's one strategy to make such a password memorable. Consider choosing a random sentence, and then modifying it. For example 'I like to go on holiday in France' might become 'Il2gohiF', which is a lot harder to guess than 'France1'.</p>
			<p>Another strategy is to randomly pick four short words and merge them together into a password. For example 'fort-trace-full-again' (do <b>not</b> use this example as your password!).</p>
		</div>
	</div>
	<div>
		<h4>What is two factor authentication? Do I need it?</h4>
		<div>
			<p>Two factor authentication can enhance the security of a Teacher's account, using your smartphone or tablet to add something you have to something you know (i.e. your password). Your smartphone or tablet will generate a six digit token everytime you login to your account, providing an additional layer of security.</p>
			<p>Two factor authentication is not a requirement for becoming a Teacher on Code for Life, however we do recommended it.</p>
		</div>
	</div>
	<div>
		<h4>What if I teach at more than one school? Can I sign up with one email address?</h4>
		<div>
			<p>No. Teachers who want to join more than one school or club must set up separate accounts for each, which must use separate email addresses. Most teachers will use their professional email address for their account.</p>
		</div>
	</div>
	<div>
		<h4>I want to sign up as a Teacher. Why am I asked for my 'professional' email address when registering?</h4>
		<div>
			<p>We request that Teachers who have a 'professional' email address (e.g. an email address given to you by your school) use it (as opposed to a personal email address) when registering for a Code for Life account. This helps other teachers in your school to identify that you are another teacher at that school.</p>
			<p>If you are in a school or are running a club which doesn't have such email facilities, it is completely fine to use another email address.</p>
		</div>
	</div>
	<div>
		<h4>What should I do when my students leave my school or club?</h4>
		<div>
			<p>Students can either be permanently deleted through the class page, or can be 'released' from the school or club. This allows the student to continue working on Code for Life, retaining their current progress, signing in as an independent student rather than as a school student. See the 'Delete' and 'Release' options on your class's page.</p>
		</div>
	</div>
	<div>
		<h4>What is an independent student?</h4>
		<div>
			<p>Independent students are students who are not part of any school or club.</p>
		</div>
	</div>
	<div>
		<h4>What if a student moves to another school? Can they keep their progress?</h4>
		<div>
			<p>Yes. You should 'release' the student from your class and school, and they will then become an independent student and be able to log in as such. They will then be able to submit a request to their new school using details supplied by their new teacher. Release a student using the 'Release' button on their class's page.</p>
		</div>
	</div>
	<div>
		<h4>What do I need to do to allow an independent student to join my class or school?</h4>
		<div>
			<p>You need to decide which class they should join, enable external requests for that class for an appropriate time period in that class's settings, and then give them the class access code for that class. Provided they submit their request from their account settings while your class is set to permit requests, you will receive a notification when they send the request, and will be able to accept or decline it on your <a href="{% url 'teacher_classes' %}">classes</a> page</p>
		</div>
	</div>
	<div>
		<h4>I've set up my students. How do they log in?</h4>
		<div>
			<p>School students log in via the <a href="{% url 'play' %}">Play</a> page, using their name, class access code, and password to sign in.</p>
		</div>
	</div>
	<div>
		<h4>As a student in a school or club, who can I share my custom created levels with?</h4>
		<div>
			<p>You can only share levels with other students in your class. Any level you create will be automatically shared with your teacher.</p>
		</div>
	</div>
	<div>
		<h4>As a teacher, who can I share my custom created levels with?</h4>
		<div>
			<p>As a teacher, you will be able to share levels you create with your classes and with other teachers in the school.</p>
			<p>If another teacher shares a level with you that you'd like to share with one of your classes, you'll need to save it as a new level which is owned by you first by loading and saving it in 'Create'.</p>
		</div>
	</div>
	<div>
		<h4>How can I control the levels my students create?</h4>
		<div>
			<p>Students can only share levels within their class and as a teacher you will see a copy of the level automatically.  You have the ability to play or delete these levels.</p>
			<p>To share such a level to other teachers or students, you'll need to save it as a new level which is owned by you first by loading and saving it in 'Create'.</p>
		</div>
	</div>
	<div>
		<h4>I am an independent student. Why can't I share my custom created levels?</h4>
		<div>
			<p>Sharing of custom created levels is a feature that is only available to school students.</p>
		</div>
	</div>
</div>

{% endblock content %}