{% extends 'portal/base.html' %}
{% load static %}
{% load app_tags %}
{% load benefits_tags %}
{% load banner_tags %}

{% block subNav %}
{{ block.super }}
{% banner banner_name="BANNER" %}
{% endblock subNav %}

{% block content %}
{{block.super}}

<div class="background background--quinary">
    <section>
        <div class="col-sm-6 col-center">
            <h4>Code for Life wants to support you every step of the way in this unusual situation so we have created
                some parent packs that will help guide you and your child through the online learning process.</h4>
        </div>
    </section>
</div>

<div class="background">
    <div class="col-sm-8 col-center">
        <section>
            <h3>A guide to using Rapid Router at home!</h3>
        </section>
        <div class="row">
            <div class="col-sm-6">
                <h4>About Rapid Router</h4>
                <p>Rapid Router is a fun, free-forever educational game which is used in over 2,600 UK schools to help
                    children aged 6–15 learn to program.</p>
                <p>We have been providing free lessons plans, printable worksheets and supportive videos to teachers
                    since 2014. You can see our 5 year celebration video
                    <a target="_blank" href="https://www.youtube.com/watch?v=N1ofCDoBiic">here</a>. Not all of these
                    teachers are programming experts, so we have designed our teaching resources with that in mind.</p>
                <p>All the resources are aligned to the National Curriculum and have been available during the school
                    closures.</p>
            </div>
            <div class="col-sm-6">
                <h4>Coding and Lesson plans</h4>
                <p>Learning to program is a very important skill, it teaches problem-solving, logical thinking and
                    encourages resilience and planning.</p>
                <p>You are now able to access the lesson plans that only teachers can usually access, and we
                    realise that you may have very little time to plan, so we will also provide a short
                    parents&rsquo; guide to the Rapid Router levels (coming soon).</p>
                <p>We hope you find these resources helpful and that you and your children enjoy learning from them!</p>
            </div>
        </div>
    </div>
</div>

<div class="background background--primary">
    <div class="col-sm-8 col-center">
        <section>
            <h3>Free resources for parents</h3>
        </section>
        <div class="row">
            <div class="col-sm-6">
                <h4>How to support your child</h4>
                <p>If you have time to support your child using using Rapid Router, you can make use of the teaching
                    resources to guide them and expand their learning. However, if you are too busy for this, you should
                    find that your child is happy to work unaided once you have got them started. If you need help with any
                    level, or have a general question about the game, please contact us for help. You can see your
                    child&rsquo;s progress in the scoreboard.</p>
            </div>
            <div class="col-sm-6">
                <h4>What will my child learn about?</h4>
                <p>Our teaching resources are split into UK school key stages. By planning routes, controlling a van using
                    movement commands and working out the shortest route to destination, your child will be learning about
                    algorithms and how they relate to programs. They will also learn how to create and debug simple programs
                    and use logical reasoning to predict the behaviour of simple programs. These are all part of the
                    Computing strand of the English National Curriculum.</p>
            </div>
        </div>
        <div class="grid-cards">
            <div class="card">
                <h4>Key Stage 1</h4>
                <p><strong>Ages 5–7, Years 1–2</strong></p>
                <p>Levels 1–16</p>
                <div class="background">
                    <a href="" class="button button--regular button--primary--general-play">
                        <div class="glyphicon glyphicon-save"></div>Key Stage 1 pack</a>
                </div>
            </div>
            <div class="card">
                <h4>Key Stage 2</h4>
                <p><strong>Ages 8–11, Years 3–6</strong></p>
                <p>Levels 17–28</p>
                <div class="background">
                    <a href="" class="button button--regular button--primary--general-play">
                        <div class="glyphicon glyphicon-save"></div>Key Stage 2 pack</a>
                </div>
            </div>
            <div class="card">
                <h4>Key Stage 3</h4>
                <p><strong>Ages 12–14, Years 7–9</strong></p>
                <p>Levels 29–109</p>
                <div class="background">
                    <a href="" class="button button--regular button--primary--general-play">
                        <div class="glyphicon glyphicon-save"></div>Key Stage 3 pack</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background background--quinary">
    <div class="col-sm-8 col-center">
        <section>
            <h3>Our top tips for home learning!</h3>
        </section>
        <section class="grid-cards">
            <div class="card">
                <img title="Rapid Router" alt="Rapid Router" src="{% static 'portal/img/get_creative.png' %}">
                <p>Be encouraging. This might be completely new to your child. Encourage their learning and praise their
                    progress.</p>
            </div>
            <div class="card">
                <img title="Rapid Router" alt="Rapid Router" src="{% static 'portal/img/get_creative.png' %}">
                <p>Maintain social contact. Do encourage your child to communicate with their friends. You could even
                    support them in starting a project.</p>
            </div>
            <div class="card">
                <img title="Rapid Router" alt="Rapid Router" src="{% static 'portal/img/get_creative.png' %}">
                <p>Routines are important. Your children are used to having their school day organised and might be
                    feeling quite anxious and unsettled.</p>
            </div>
            <div class="card">
                <img title="Rapid Router" alt="Rapid Router" src="{% static 'portal/img/get_creative.png' %}">
                <p>Get outdoors. Don&rsquo;t forget to take a break and get outside for fresh air and exercise. This
                    will help you all to focus in lesson time.</p>
            </div>
            <div class="card">
                <img title="Rapid Router" alt="Rapid Router" src="{% static 'portal/img/get_creative.png' %}">
                <p>Keep positive and remember to have fun too! Your positive attitude will rub off on your child and
                    help them feel calm.</p>
            </div>
            <div class="card">
                <img title="Rapid Router" alt="Rapid Router" src="{% static 'portal/img/get_creative.png' %}">
                <p>Set realistic goals! The change to remote learning was unplanned for many parents. Don&rsquo;t
                    worry about not being prepared, we can help you get through it.</p>
            </div>
        </section>
    </div>
</div>

{% endblock content %}
