{% extends 'portal/base.html' %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "portal/css/colorbox.css" %}'>
{% endblock css %}

{% block scripts %}
{{ block.super }}

<!-- <script type="text/javascript" src='{% static "portal/js/lib/magnific.js" %}'></script>
 --><script type="text/javascript" src='{% static "portal/js/lib/jquery.colorbox.js" %}'></script>

<script type="text/javascript">
$(document).ready(function(){
    //Examples of how to assign the Colorbox event to elements

    $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});

    $(".callbacks").colorbox({
        onOpen:function(){ alert('onOpen: colorbox is about to open'); },
        onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
        onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
        onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
        onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
    });

    $('.non-retina').colorbox({rel:'group5', transition:'none'})
    $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
    
    //Example of preserving a JavaScript event for inline calls.
    $("#click").click(function(){ 
        $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
        return false;
    });

});
</script>

<script type="text/javascript" src='{% static "portal/js/lib/jquery.easy-ticker.js" %}'></script>

<script type="text/javascript">
$(document).ready(function(){
    var dd = $('.newsTicker').easyTicker({
        direction: 'up',
        speed: 'slow',
        interval: 3000,
        height: 'auto',
        visible: 1,
        mousePause: 1,
        controls: {
            up: '.newsTickerUp',
            down: '.newsTickerDown',
        }
    }).data('easyTicker');
});
</script>

{% endblock scripts %}

{% block content %}

<div id="home_page"></div>

<div class="section group">
    <div class="col span_2_of_3">
           
        <div class="description">
            <h3 id="intro">An Introduction</h3>
            <p>
            In September 2014, the UK became the first country in the world to put Computing at the heart of the school curriculum.
            </p>
            <p>
            Ocado Technology's Code for Life initiative has been developed to help teachers deliver the new curriculum, so they can inspire the next generation of computer scientists. But this is just the beginning. Over the next couple of years, this initiative will be expanded to support pupils throughout their school career, from age five to 16, and beyond. 
            </p>
            <h3>Rapid Router - Our first app</h3>
            <p>
            Rapid Router marks the first step in this journey. It is a free, comprehensive Key Stage 1 and lower Key Stage 2 teaching resource and web application, designed for, and tested by, primary school teachers.
            </p>
      </div>
      
           
    </div>
           
    <div class="col span_1_of_3">
           
        <h3 id="intro">Take the journey</h3>
       
       <div class="video">
            <a href="https://www.youtube.com/embed/xP-U-MJLk-g?rel=0&amp;wmode=transparent" class="youtube">
                <img alt="Watch Video" src="{% static 'portal/img/video_still.png' %}">
            </a>
        </div>
                                    
    </div>
</div>

<div class="section group">
     <div class="col span_2_of_3">
  
        <div class="gameBox">
        
            <div class="section group">
                 <div class="col span_1_of_3">
                 <img src="{% static 'portal/img/RRlogo_on_less_green_small.png' %}" />
                
                 
                 </div>
                 
                 <div class="col span_2_of_3">
                 
                   <br>
                    <p>
                    Rapid Router is a fun and engaging education resource which includes a coding game that helps teach children the basic principles of programming. 
                    </p>
                    <p>
                    Built on 'Blockly', an easy-to-use visual programming language that's similar to Scratch, Rapid Router enables teachers to monitor and manage individual pupil progress and identify where more support is required.
                    </p>
                 </div>
             </div>
        </div>

    </div>

        <div class="col span_1_of_3">

            <a id="teacherSignUp_button" href="{% url 'portal.views.teach' %}" class="btn btn-primary wide">Teacher sign up</a>

            <div class="news">
                <div class='section group'>
                    <div class='col'>
                        <h3>In the news</h3>
                    </div>
                    <div class='col pull-right driver'>
                        <a href='' class='newsTickerDown'>Prev</a> | <a href='' class='newsTickerUp'>Next</a>
                    </div>
                </div>
                <div class="newsTicker">
                    <ul>
                        <li><h4>Teachers 'not confident on coding'</h4>Computer coding is being introduced to the school curriculum in less than six weeks' time, but many primary school teachers will be under-prepared to teach the new subject, according to a new poll.<br><a target="_blank" href="http://www.dailymail.co.uk/wires/pa/article-2700124/TEACHERS-NOT-CONFIDENT-ON-CODING.html?ITO=1490&ns_mchannel=rss&ns_campaign=1490">Read more on www.dailymail.co.uk</a></li>
                        <li><h4>British schools are not prepared to teach coding</h4>With just six weeks until the new computing curriculum is introduced in UK schools, research has revealed that British primary school teachers are not fully prepared to teach their pupils how to code.<br><a target="_blank" href="http://www.cbronline.com/news/social/british-teachers-are-not-prepared-to-teach-coding-4322259">Read more on www.cbronline.co.uk</a></li>
                        <li><h4>Ocado launches free Code For Life tool to help 130,000 apprehensive primary school teachers</h4>Thousands of primary school teachers aren’t ready to teach computer coding lessons that become part of the country’s national curriculum for computing before the start of the academic year in September. <br><a target="_blank" href="http://www.itproportal.com/2014/07/21/ocado-launches-free-code-life-tool-help-130000-apprehensive-primary-school-teachers/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+itproportal%2Frss+(Latest+ITProPortal+News)">Read more on itproportal.com</a></li>
                        <li><h4>Ocado Technology launches coding resources for teachers</h4>Ocado Technology is the latest business to get involved with preparing teachers for the new computing curriculum that comes into effect in September<br><a target="_blank" href="http://www.computerworlduk.com/news/careers/3531070/ocado-technology-launches-coding-resources-for-teachers/">Read more on www.computerworlduk.com</a></li>
                        <li><h4>Not Enough Teachers Will Know Code By September</h4><br>A new curriculum brings coding into primary schools in September – and it looks as if teachers won’t be able to cope. <br><a target="_blank" href="http://www.techweekeurope.co.uk/news/not-enough-teachers-know-code-149462">Read more on www.techweekeurope.co.uk</a></li>
                        <li><h4>Ocado Technology readies primary school teachers with code initiative</h4>Ocado Technology has launched a coding initiative after finding that 73% of primary school teachers feel they have not been given the necessary resources to teach children to code.<br><a target="_blank" href="http://www.computerweekly.com/news/2240225117/Ocado-Technology-readies-primary-school-teachers-with-code-initiative">Read more on www.computerweekly.com</a></li>
                        <li><h4>Curriculum countdown</h4><br>According to new research more than 130,000 primary school teachers don’t feel confident enough to teach computer coding<br><a target="_blank" href="http://edtechnology.co.uk/Featured-Content/curriculum_countdown">Read more on www.edtechnology.co.uk</a></li>
                        <li><h4>Computing Curriculum Countdown: Over 130,000 Primary School Teachers Don’t Feel Confident Enough to Teach Computer Coding</h4>Many primary school teachers feel they haven’t been given the necessary resources to teach the new Computing curriculum from September. <br><a target="_blank" href="http://www.primarytimes.net/news/2014/07/computing-curriculum-countdown-over-130-000-primary-school-teachers-don-t-feel-confident-enough-to-teach-computer-coding-">Read more on www.primarytimes.net</a></li>
                        <li><h4>Ocado’s technology team to release primary school coding tool</h4><br>Ocado’s [IRDX ROCA] technology team is launching Code for Life, the online grocer’s initiative to help children learn to code.<br><a target="_blank" href="http://internetretailing.net/2014/07/ocados-technology-team-launch-primary-school-coding-tool/">Read more on www.internetretailing.net</a></li>
                        <li><h4>Teachers 'not confident' over coding</h4>Computer coding is being introduced to the school curriculum in less than six weeks' time, but many primary school teachers will be under-prepared to teach the new subject, according to a new poll.<br><a target="_blank" href="http://www.dailyecho.co.uk/leisure/technology/11358091.Teachers__not_confident__over_coding/">Read more on www.dailyecho.co.uk</a></li>
                        <li><h4>Ocado Technology launches coding resources for teachers</h4>Ocado Technology is a latest business to get concerned with scheming teachers for a new computing curriculum that comes into outcome in September.<br><a target="_blank" href="http://www.datacentremanagement.org/2014/07/ocado-technology-launches-coding-resources-for-teachers/">Read more on www.datacentremanagement.org</a></li>
                        <li><h4>Teachers 'not confident enough' to teach code</h4>More than 70% of primary school teachers say they don't feel confident enough to teach the new coding syllabus being introduced this September.<br><a target="_blank" href="http://www.newelectronics.co.uk/electronics-news/teachers-not-confident-enough-to-teach-code/62697/">Read more on www.newelectronics.co.uk</a></li>
                    </ul>
                </div>
            </div>
       </div>
 </div>

<script type="text/javascript" src='{% static "portal/js/lib/magnific.js" %}'></script>

<script type="text/javascript">
$(document).ready(function() {
    $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
        disableOn: 700,
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,

        fixedContentPos: false
    });
});
</script>


{% endblock content %}
