{% extends 'portal/base.html' %}
{% load static %}
{% load app_tags %}
{% load benefits_tags %}
{% load banner_tags %}

{% block subNav %}
{{ block.super }}
{% banner banner_name="BANNER" %}
{% endblock subNav %}

{% block content %}
{{block.super}}

<div class="background">
    <section>
        <div class="col-sm-6 col-center">
            <h4>Code for Life wants to support you every step of the way in this unusual situation so we have created
                some parent packs that will help guide you and your child through the online learning process.</h4>
        </div>
    </section>
    <div class="col-sm-8 col-center">
        <section>
            <h3>A guide to using Rapid Router at home!</h3>
        </section>
        <div class="row">
            <div class="col-sm-6">
                <p>Rapid Router is a fun, free-forever educational game which is used in over XXX schools around the
                world to help children agend 6-15 learn to program.</p>
                <p>We have been providing free lessons plans, printable worksheets and supportive videos to teachers
                since 2014. Not all of these teachers are programming experts, so we have designed our teaching
                resources with that in mind.</p>
                <p>These resources are usually only available to educational institutions, but during this unusual time,
                we thought that parents may find them useful too! They are all aligned to the National Curriculum.</p>
            </div>
            <div class="col-sm-6">
                <p>Learning to program is a very important skill, it teaches problem-solving, logical thinking and
                encourages resilience and planning. There are many careers that use programming as a skill, and it will
                equip your child for the digital future that awaits them.</p>
                <p>You are very welcome to access the lesson plans that teachers can during this lockdown period, but we
                realise that you may have very little time to plan in detail, so we have also provided a short
                parents&rsquo; guide to Rapid Router.</p>
                <p>We hope you find these resources helpful and that you and your children enjoy learning from them.</p>
            </div>
        </div>
    </div>
</div>

<div class="background background--primary">
    <section>
        <h3>Our top tips for home learning!</h3>
    </section>
</div>

<div class="background col-sm-8 col-center">
    <section>
        <h3>Resources for Parents</h3>
    </section>
    <div class="row">
        <div class="col-sm-6">
            <h4>How to support your child</h4>
            <p>If you have time to support in using Rapid Router, you can make use of the teaching resources to guide
            them and expand their learning. However, if you are too busy to do this, you should find that your child is
            happy to work unaided once you have got them started. If you need help with any level, or have a general
            question about the game, please contact us and we will help you as quickly as we can.</p>
            <p>You can see your child&rsquo;s progress in the scoreboard. Our teaching resources are split into UK
            school key stages.</p>
        </div>
        <div class="col-sm-6">
            <h4>What will my child learn about?</h4>
            <p>By planning routes, controlling a van using movement commands and working out the shortest route to
            destination, your child will be learning about algorithms and how they relate to programs.</p>
            <p>They will also learn how to create and debug simple programs and use logical reasoning to predict the
            behaviour of simple programs. These are all part of the Computing strand of the English National Curriculum.
            </p>
        </div>
    </div>
</div>

<div class="background col-sm-8 col-center">
    <div class="row">
        <div class="col-sm-4">
            <h4>Key Stage 1</h4>
            <p>Ages 5-7, Years 1-2</p>
            <p>Levels 1-16</p>
            <button href="" class="button--regular button--secondary button--secondary--dark">Guide for Key Stage 1</button>
            <button href="" class="button--regular button--primary--general-play">Key Stage 1 pack</button>
        </div>
        <div class="col-sm-4">
            <h4>Key Stage 2</h4>
            <p>Ages 8-11, Years 3-6</p>
            <p>Levels 17-28</p>
            <button href="" class="button--regular button--secondary button--secondary--dark">Guide for Key Stage 2</button>
            <button href="" class="button--regular button--primary--general-play">Key Stage 2 pack</button>
        </div>
        <div class="col-sm-4">
            <h4>Key Stage 3</h4>
            <p>Ages 12-14, Years 7-9</p>
            <p>Levels 29-109</p>
            <button href="" class="button--regular button--secondary button--secondary--dark">Guide for Key Stage 3</button>
            <button href="" class="button--regular button--primary--general-play">Key Stage 3 pack</button>
        </div>
    </div>
</div>

{% endblock content %}
