{% extends 'portal/base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
    <div class="error-page">
        <div class="banner banner--error-page banner--homepage--teacher row mx-0">
            <div class="col-sm-5 col-sm-offset-2">
                <h1>Temporary lock out</h1>
                <h4>Your account has been temporarily blocked as there were too many unsuccessful requests.</h4>
                {% if is_teacher %}
                    <p>If you wish to proceed, please
                        <a href="{% url 'teacher_password_reset' %}">reset your password</a>.</p>
                {% else %}
                    <p>If you wish to proceed, please
                        <a href="{% url 'student_password_reset' %}">reset your password</a>.</p>
                {% endif %}
                <p>Alternatively, you will need to wait 24 hours for your account to be unlocked.</p>
            </div>
        </div>

        <div class="background col-sm-offset-2">
            <a class="button button--primary" href="{% url 'home' %}">
                Back to homepage</a>
        </div>

        <img title="Phil" alt="Phil" src="{% static 'portal/img/phil_hi_res.png' %}"/>
    </div>

{% endblock content %}
