{% extends 'portal/basenonav.html' %}
{% load static %}
{% load compress %}

{% block css %}
    {{block.super}}
    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static 'portal/css/portal.scss' %}' />
    {% endcompress %}
{% endblock %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<h1>[ code ] for { life }</h1>

<div class='row'>
    <div class='small-6 small-centered columns'>
        <div class='panel radius'>
            <div class='row'>
                <h3 style='text-align: center'>I am a teacher and I want to...</h3>
            </div>
            <div class='row'>
                <div class='small-6 columns'>
                    <form action='/teacher/signup'><input type='submit' value='Sign up!'/></form>
                </div>
                <div class='small-6 columns'>
                    <form action='/teacher/login'><input type='submit' value='Log in'/></form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class='small-6 small-centered columns'>
        <div class='panel radius'>
            <div class='row'>
                <h3 style='text-align: center'>I am a student and I want to...</h3>
            </div>
            <div class='row'>
                <div class='small-6 small-centered columns'>
                    <form action='/student/login'><input type='submit' value='Log in'/></form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
