{% extends 'portal/base.html' %}
{% load staticfiles %}
{% load app_tags %}
{% load banner_tags %}

{% block subNav %}
{% banner banner_name="BANNER" %}
{% endblock subNav %}

{% block content %}
<div class="col-sm-8 col-center background">
    <div id="privacy"></div>
    <p><strong>Last Updated: {{ last_updated }}</strong></p>
    <p>Please read this policy carefully. This policy contains important information on who manages the Code for Life
        portal, how and why we collect information about you (for example, your name and email address), how we use your
        information, and with which persons we share your information. We also explain what rights you have in relation
        to your personal information, for example, the right to say no to the use of your information in certain cases,
        and how to contact us if you want to find out more about your rights or if you have other questions about this
        policy.</p>
    <ol>
        <li><p><a href="#commitment">Our commitment</a></p></li>
        <li><p><a href="#who-we-are">Who we are</a></p></li>
        <li><p><a href="#types-of-information">Types of information we hold about you</a></p></li>
        <li><p><a href="#information-use">How we will use information about you</a></p></li>
        <li><p><a href="#change-of-purpose">Change of purpose</a></p></li>
        <li><p><a href="#cookies">Cookies</a></p></li>
        <li><p><a href="#third-parties">Sharing your personal information with other persons</a></p></li>
        <li><p><a href="#data-retention">How long will we keep your personal information?</a></p></li>
        <li><p><a href="#your-rights">Your rights</a></p></li>
        <li><p><a href="#security">Keeping your personal information secure</a></p></li>
        <li><p><a href="#how-to-complain">How to complain</a></p></li>
        <li><p><a href="#changes">Changes to this Privacy Policy</a></p></li>
        <li><p><a href="#contact-us">How to contact us</a></p></li>
        <li><p><a href="#extra-help">Do you need extra help?</a></p></li>
    </ol>
    <p></p>

    <h5 id="commitment">1. Our commitment</h5>
    <p>We are deeply committed to creating a safe and secure online learning environment for all students, teachers,
        parents and guardians who use the Code for Life portal.</p>
    <ol>
        <li><p>We strive to give you control over the personal information that you give us, and we take the protection
            of your information very seriously.</p></li>
        <li><p>We take extra precautions for the safety and privacy of our younger learners. Where personal information
            could be entered, for example when a student names a level, the teacher is notified via email and the
            teacher has the ability to delete the level if its name is rude or compromising.</p></li>
        <li><p>Our portal only relates to Code for Life and we do not show advertisements on our website or within our
            lessons.</p></li>
    </ol>

    <h5 id="who-we-are">2. Who we are</h5>
    <p>We are a company called “Ocado Innovation Limited” or “Ocado Technology”, and we own the Code for Life learning
        portal. In this policy, we also use the name “Ocado” when we refer to us. Our office is at Buildings 1 & 2
        Trident Place, Hatfield Business Park, Mosquito Way, Hatfield, AL10 9UL.</p>
    <p>We are responsible for the personal information we collect about you on the Code for Life portal.</p>

    <h5 id="types-of-information">3. Types of information we hold about you</h5>
    <p>Your personal data, or personal information, is any information relating to you. It does not include anonymous
        information, which cannot be traced back to you or another person (anonymous data).</p>
    <p>When you use the Code for Life portal and our services we collect the following personal information:</p>

    <p>If you are a <strong>Student</strong>, we collect:</p>
    <ul>
        <li><p>Your name, password and class code: we collect this information when your teacher creates an account.</p></li>
        <li><p>Your school / club / teaching or education institution and your class code and class name, if you are a
            school Student: your Teacher provides this information to us.</p></li>
        <li><p>Performance information about your performance and progress (for example, what levels you have completed
            and what levels you create), and</p></li>
        <li><p>The coding you create (including any avatars you may create): we collect this information when you use
            the Code for Life portal.</p></li>
        <li><p>Your messages and queries you may send us: when you use the “Contact Us” form or email.</p></li>
        <li><p>When your account was created and when you last logged into your account: this information is generated
            at the time your account is created or you log in.</p></li>
        <li><p>Technical information, such as the IP address and other information about the device you use to access
            the Code for Life portal, and technical information about how you use these (for example, which pages on our
            portal you visit, for how long you stay on each page, etc.): when you navigate the portal and allow the use
            of non-essential cookies.</p></li>
        <li><p>Data from Code for Life surveys you may take part in.</p></li>
    </ul>

    <p>If you are a <strong>Independent Student</strong>, we collect:</p>
    <ul>
        <li><p>Your name, email address, username and password: we collect this information when you create an account.</p></li>
        <li><p>Performance information about your performance and progress (for example, what levels you have completed
            and what levels you create), and</p></li>
        <li><p>The coding you create (including any avatars you may create): we collect this information when you use
            the Code for Life portal.</p></li>
        <li><p>Your messages and queries you may send us: when you use the “Contact Us” form or email.</p></li>
        <li><p>When you created an account and when you last logged in to your account: this information is generated at
            the time you create your account or log in.</p></li>
        <li><p>Technical information, such as the IP address and other information about the device you use to access
            the Code for Life portal, and technical information about how you use these (for example, which pages on our
            portal you visit, for how long you stay on each page, etc.): when you navigate the portal and allow the use
            of non-essential cookies.</p></li>
        <li><p>Data from Code for Life surveys you may take part in.</p></li>
        <li><p>Your marketing preferences, if you select to sign up to our newsletter.</p></li>
        <li><p>If you are under 13 years old, we will collect the data of your parent or guardian as you will need to
            ask them to register on your behalf.</p></li>
    </ul>

    <p>If you are a <strong>Teacher</strong>, we collect:</p>
    <ul>
        <li><p>Your first and last names, email address and password: we collect this information when you create an
            account.</p></li>
        <li><p>Your school / club / teaching or educational institution, the classes you create, the students you
            register in each class, and the teachers you invite; also, any material you create: when you use the portal.</p></li>
        <li><p>Your messages and queries you may send us: when you use the “Contact Us” form or email.</p></li>
        <li><p>When you created an account and when you last logged in to your account: this information is generated at
            the time you create your account or log in.</p></li>
        <li><p>Technical information, such as the IP address and other information about the device you use to access
            the Code for Life portal, and technical information about how you use these (for example, which pages on our
            portal you visit, for how long you stay on each page, etc.): when you navigate the portal and allow the use
            of non-essential cookies.</p></li>
        <li><p>Data from Code for Life surveys you may take part in.</p></li>
        <li><p>Your marketing preferences, if you select to sign up to our newsletter.</p></li>
    </ul>

    <p>If you are a <strong>Website visitor</strong>, we collect:</p>
    <ul>
        <li><p>Technical information, such as the IP address and other information about the device you use to access
            the Code for Life portal, and technical information about how you use these (for example, which pages on our
            portal you visit, for how long you stay on each page, etc.): when you navigate the portal and allow the use
            of non-essential cookies.</p></li>
        <li><p>Your email address and marketing preferences, if you select to sign up to our newsletter.</p></li>
    </ul>

    <h5 id="information-use">4. How we will use information about you</h5>
    <p>We need all the categories of information that we describe above, so that we can:</p>
    <ul>
        <li><p>perform our agreement with you and provide you with our services. For example, to enable you to create an
            account and to access the portal and our learning materials. Having an account gives teachers access to
            course material, class and individual student management features, and also it gives students access to the
            portal in order to learn how to code within a supported environment (classroom), or independently (at home).</p></li>
        <li>fulfil our legitimate interests, such as our interests to:
            <ul>
                <li><p>improve our services.</p></li>
                <li><p>ensure that our portal is secure and is used in accordance with our Terms. For example, we may
                    use account information to limit a user temporarily or permanently from the Code for Life portal if
                    that user engages in inappropriate use of the site (e.g. giving other people access to their user
                    account, malicious misuse of the portal, including spam).</p></li>
                <li><p>send you important information: for example, we use your email address to send you account
                    verification emails, emails to notify you about changes to our Terms, or about any maintenance
                    impacting your access to the portal. Sometimes, we may be required by law to send you this
                    information.</p></li>
                <li><p>provide customer support and respond to your queries, for example, when you use the Contact Us
                    form. We strongly advise you not to disclose personal information (other than name and email
                    address) when contacting us – messages you exchange on the portal and any forms you submit to us
                    will be recorded. The Contact Us form is strictly for the purpose of user support. User-initiated
                    communication concerning topics other than those relating directly to the Code for Life portal,
                    including resources or user experience, may not be answered. Please be aware that we will never ask
                    for personal information other than what is required to identify your account and respond to your
                    queries, and we will never ask for your password.</p></li>
                <li><p>protect our legal rights, for example, if we need to defend ourselves in court.</p></li>
            </ul>
        </li>
        <li><p>with your permission (or if you are under 13, the permission of the person who looks after you) to send
            you marketing communications (for example, our newsletter or communications about our portal features or
            upcoming events). You have the right to change your mind at any time (see the “Your Rights” section below
            for more information).</p></li>
        <li><p>with your permission (or if you are under 13, the permission of the person who looks after you), use
            cookies to collect information about how you use our portal, in order to analyse and improve user
            experience. This information is usually anonymised and used at an aggregate level. Please see section
            “Cookies” below for more information on what information we collect and how we use cookies.</p></li>
    </ul>

    <p>We summarise below the purposes for which we use your personal data and the lawful basis on which we rely.</p>

    <table class="table table-bordered">
        <tr>
            <th><strong>Purpose</strong></th>
            <th><strong>Legal basis</strong></th>
        </tr>
        <tr>
            <td><p>To allow you to create an account and provide our services to you through our portal, such as
                providing course material and resources</p></td>
            <td><p>Contractual necessity: the information is necessary to fulfil our contract with you.</p></td>
        </tr>
        <tr>
            <td><p>To manage our relationship with you, including to allow you to manage your account, provide customer
                support, to handle your requests and queries, to provide you with information about our services that
                you use, or information about changes in our Terms or this Policy</p></td>
            <td>
                <ul>
                    <li><p>Contractual necessity: to the extent the information is necessary to fulfil our contract with
                        you (e.g. to ensure that we provide to you the services that you have requested).
                    </p></li>
                    <li><p>Legitimate interests: to the extent the information is necessary to process queries and
                        effectively manage our relationship with you as user of our services.</p></li>
                    <li><p>Compliance with a legal obligation: to the extent we are required by law to contact you in
                        order to provide certain information (for example, to notify you of changes to our Terms)
                    </p></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><p>To send you our newsletters and other promotional material about Code for Life</p></td>
            <td>
                <ul>
                    <li><p>Your consent, where this is required by law.</p></li>
                    <li><p>Otherwise, when consent is not required, we will rely on our legitimate interest to keep you
                        informed of our services, to the extent this is permitted by law.</p></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><p>To carry out analysis and compile statistics about the use of our portal, and the use of our
                services, in order to enable us to provide a better service, feature and functionality</p></td>
            <td>
                <ul>
                    <li><p>Your consent: where we obtain this information by using cookies.</p></li>
                    <li><p>Our legitimate interest to ensure the smooth and effective functioning of our portal and
                        services, to make sound business decisions about our services and to design, inform and deploy
                        our business strategies.</p></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><p>To authenticate your account and to ensure the security of our portal, information systems and
                assets, to monitor compliance with our Terms, to prevent illegal activities in relation to our services.</p></td>
            <td><p>Our legitimate interest to protect our business assets against illegal or inappropriate activities or
                security threats and your legitimate interest to protect the security of your account and information.</p></td>
        </tr>
        <tr>
            <td><p>To protect our legal rights and to establish, exercise or defend legal claims relating to our
                services.</p></td>
            <td><p>Our legitimate interest to protect our legal rights.</p></td>
        </tr>
        <tr>
            <td><p>For accounting, record keeping and audit purposes</p></td>
            <td><p>Our legitimate interest to effectively manage our business, audit our business processes and make
                    informed business decisions.</p></td>
        </tr>
    </table>

    <p>When we rely on <strong>legitimate interests</strong> to process personal data, we consider and balance those
        interests against any potential impact on you (both positive and negative) and your rights and interests. If we
        consider that our interests are overridden by the impact on you, we will not use your personal data in this way
        (unless the law gives us another valid ground to do so). You can obtain further information about how we assess
        our legitimate interests against any potential impact on you in respect of specific activities by contacting us.</p>

    <h5 id="change-of-purpose">5. Change of purpose</h5>
    <p>We will only use your personal information for the purposes for which we collected it or for other compatible
        purposes. If we need to use your personal information for an unrelated purpose, we will notify you and we will
        explain the basis on which we do so. Please note that we do not always need to rely on your consent to collect
        and process your personal information, and we will not seek your consent unless this is required by law.</p>

    <h5 id="cookies">6. Cookies</h5>
    <h6>6.1 What are Cookies?</h6>
    <p>Cookies are tiny files that have information (data) in them. When you visit our portal, a cookie is placed on
        the device you use. Cookies allow us to remember when you visit our portal, or when you open an email. They help
        us understand how you are using the Code for Life portal, as well as which parts of our portal are popular and
        which ones we need to make better.</p>
    <p>We also use other forms of technology (such as web beacons or pixels) which are similar to cookies and which
        allow us to monitor and improve our website. When we talk about cookies in this policy, we also refer to these
        technologies.</p>

    <h6>6.2 Types of cookies used</h6>
    <p>We use the following types of cookies on our portal for the following purposes:</p>

    <table class="table table-bordered header-primary">
        <tr>
            <th><strong>Types of cookies</strong></th>
            <th><strong>Purpose</strong></th>
            <th><strong>For how many months does the cookie stay on your browser?</strong></th>
        </tr>
        <tr>
            <td><p><u>Strictly necessary cookies</u></p></td>
            <td><p>These cookies do what you have asked for: for example, they allow the website to load on your
                browser, they keep you logged in when you use our portal, and keep our portal safe. If you turn off
                these cookies via your browser settings certain parts of the website will not function for you.</p>
            </td>
            <td><p>12</p></td>
        </tr>
        <tr>
            <td><p><u>Functional cookies</u></p></td>
            <td><p>These cookies enable the website to provide enhanced functionality and personalisation. If you do not
                allow these cookies then some services may not function very smoothly. These kinds of cookies remember
                things like your sound settings.</p>
            </td>
            <td><p>Session</p></td>
        </tr>
        <tr>
            <td><p><u>Analytics/Performance cookies</u></p></td>
            <td><p>These cookies help us understand how you use our portal and improve or optimise the experience we
                provide. This can be anything like which pages you go to most often, and if you get error messages from
                web pages. They allow us to measure how visitors interact with the portal (for example which parts of
                the website are clicked on and the length of time between clicks).</p>
                <p>We use third-party web analytics software on our portal
                    (<a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">Google Analytics</a>
                    and <a href="https://mouseflow.com/gdpr/" target="_blank">Mouseflow</a>). We provide further
                    information about these partners below.</p>
            </td>
            <td><p>24</p></td>
        </tr>
    </table>

    <h6 id="third-party-cookies">6.3 Third party cookies</h6>
    <p>We do not allow third party advertising, or affiliation on our portal.</p>
    <p>As we explain above, we work with other companies to use analytics cookies on our portal: these are Google, who
        provide Google Analytics cookies, and Mouseflow. We explain in more detail below what information they collect
        and how it is used.</p>
    <p><strong>Google Analytics</strong>. Our portal uses Google Analytics, which is provided by Google, Inc.
        ("Google"). Google Analytics uses cookies to help us analyse how users use our portal. The information generated
        by the cookie about your use of the website (including your IP address) will be transmitted to and stored by
        Google on servers in the United States. Google will use this information for the purpose of evaluating your use
        of the website, compiling reports on website activity for website operators and providing other services
        relating to website activity and internet usage. Google may also transfer this information to third parties
        where required to do so by law, or where such third parties process the information on Google's behalf. Google
        will not associate your IP address with any other data held by Google. By accepting analytics / performance
        cookies on our portal, you consent to the processing of data about you by Google in the manner and for the
        purposes set out above.</p>
    <p><strong>Mouseflow</strong>. We also use Mouseflow on our portal; this provider offers a website analytics tool
        that helps us understand how our portal is used, and which areas are mostly used (e.g. by using heatmaps or by
        replaying your journey on our portal). Mouseflow uses cookies to record information such as when you click on or
        move your mouse, when you scroll, or press a key, what pages you visit on our website, how much time you spend
        on each page, and also information about the device you use (operating system, device type
        (desktop/tablet/phone), screen resolution, location (city/country), language, and similar metadata). Mouseflow
        does not collect any information on pages where it is not installed, nor does it track or collect information
        outside your web browser.</p>

    <h6>6.4 Managing and disabling cookies</h6>
    <p>We make available a cookie management platform on our portal (provided by
        <a href="https://www.onetrust.com/" target="_blank">OneTrust</a>), through which you can turn off non-essential
        cookies at any time. Please note, strictly necessary cookies will always be set as they are essential for our
        website to operate.</p>
    <p>You can change your cookie preferences or withdraw consent by clicking on the following button:</p>

    <p>
        <!-- OneTrust Cookies Settings button start -->
        <button id="ot-sdk-btn" class="button button--primary optanon-toggle-display">Cookies Settings</button>
        <!-- OneTrust Cookies Settings button end -->
    </p>

    <h5 id="third-parties">7. Sharing your personal information with other persons</h5>
    <ul>
        <li><p>We share your personal information with our <strong>employees</strong>, to the extent this is necessary
            for them to perform their tasks, and with members of our group of companies, for the purposes set out in
            this Policy.</p></li>
        <li><p>We also share some limited information with third party <strong>service providers</strong> (as explained
            below) – these are companies that help us provide the portal to you, and they also help us to do all the
            actions that we describe in this Policy. When we trust our service providers with your information, we
            require them to respect the security of your personal data and to treat it in accordance with the law. We do
            not allow our third-party service providers to use your personal data for their own purposes and only permit
            them to process your personal information for specified purposes and in accordance with our instructions. We
            use the following types of service providers:</p></li>
    </ul>

    <h6>IT, email and web service providers</h6>
    <p>We share your personal information with our IT, email and web service providers, in order to enable them to
        provide us with their services. For example, we share your name and email address details with DotDigital, a
        service provider used for the purposes of sending emails to our users (such as  newsletters, collecting
        feedback, or any important service related emails). This data sharing enables us to send you emails, view when
        they are opened and view which links are clicked.</p>

    <h6>Surveys, support and feedback providers</h6>
    <p><strong>Freshdesk</strong> is our third party customer support tool that enables customers to contact us through
        a ticketing system on the website.</p>
    <p>For more information on Freshdesk’s Privacy Notice, visit
        <a href="https://www.freshworks.com/privacy/" target="_blank">https://www.freshworks.com/privacy/</a>.</p>
    <p>For more information on Freshdesk and GDPR, visit
        <a href="https://freshdesk.com/gdpr" target="_blank">https://freshdesk.com/gdpr</a>.</p>
    <p>We will occasionally ask for feedback on our portal. We will usually do this via an email which will direct you
        to our survey provider, <strong>UsabilityHub</strong>. It will only record; time spent, country, device type,
        device platform, unless specifically asked within the questions themselves for example, the survey may ask your
        age. You can find out more about UsabilityHub
        <a href="https://usabilityhub.com/" target="_blank">here</a>.</p>

    <ul>
        <li><p>If our business or part of our business is sold to another company, typically customer information would
            be transferred to that company. However, that company would still need to comply with this Privacy Policy
            and treat personal information as described in this Privacy Policy.</p></li>
        <li><p>Where necessary, we share personal information with our <strong>business advisors</strong>, such as legal
            advisors, consultants, accountants or auditors, for the purposes outlined in this Policy.</p></li>
        <li><p>In the event of a legal dispute, a court order or a legitimate request from a <strong>law enforcement
            agency or other public authority</strong>, we will share your personal information with our legal advisors,
            courts or such public authority, as necessary.</p></li>
    </ul>

    <h5 id="data-retention">8. How long will we keep your personal information?</h5>
    <p>We will only retain your personal information for as long as you have an active account, unless we need to retain
        this information for longer, after your account is deactivated, in order to protect our legal interests and
        establish, exercise or defend a legal claim. If you deactivate your account, we may anonymise your information
        and use it for a period of time in an anonymous format for research and other business purposes, such as
        business analytics.</p>
    <p>For users that have registered but whose accounts are inactive, we will delete your personal information after 3
        years of inactivity.</p>

    <h5 id="your-rights">9. Your rights</h5>
    <p>Under data protection laws, you have certain rights in relation to your personal information, which you can
        exercise free of charge. In summary, those include the right to:</p>
    <ul>
        <li><p>request a copy of your personal information and to certain other extra information that this Privacy
            Policy is already designed to address;</p></li>
        <li><p>require us to correct any mistakes in your information which we hold;</p></li>
        <li><p>require the erasure of personal information concerning you in certain situations;</p></li>
        <li><p>receive the personal information concerning you which you have provided to us, in a structured, commonly
            used and machine-readable format (e.g. in pdf or .csv format) and have the right to transmit those data to a
            third party in certain situations;</p></li>
        <li><p>object (say no) at any time to processing of personal information concerning you for direct marketing;</p></li>
        <li><p>object (say no) in certain other situations to our continued processing of your personal information;</p></li>
        <li><p>otherwise require us to only store but not use your personal information in certain circumstances;</p></li>
        <li><p>where you have given your permission for us to use your information, to change your mind at any time.</p></li>
    </ul>
    <p>Please note these rights may be <strong>limited</strong>, for example if fulfilling your request would reveal
        personal data about another person or if you ask us to delete information which we are required by law to keep
        or have compelling legitimate interests in keeping. We will inform you of the relevant exemptions upon which we
        rely when responding to any request you make.</p>
    <p>If you would like to exercise any of those rights, please:</p>
    <ul>
        <li><p>email our Data Protection Officer at
            <a href="mailto:privacy@ocado.com">privacy@ocado.com</a>;</p></li>
        <li><p>let us have enough information to identify you (e.g. username, full name and email address); and</p></li>
        <li><p>let us know (if possible) the information to which your request relates.</p></li>
    </ul>
    <p>If you would like to unsubscribe from any email newsletter or other promotional emails, you can click on the
        unsubscribe link which you can find at the bottom of our emails, in order to be removed from our mailing list.
        It could take up to 72 hours to process the update through our systems.</p>

    <h5 id="security">10. Keeping your personal information secure</h5>
    <p>We have security measures in place to prevent personal information from being accidentally lost, or used or
        accessed in an unauthorised way. We limit access to your personal information to those persons who have a
        genuine business need to know it and we require them to keep it confidential.</p>
    <p>We enable Teachers to use two-factor authentication to further reinforce the security of their accounts and we
        encourage them to do that. You can find more details
        <a href="https://www.getsafeonline.org/protecting-your-computer/passwords/" target="_blank">here</a>.</p>
    <p>If you want detailed information from Get Safe Online on how to protect your information and your computers and
        devices against fraud, identity theft, viruses and many other online problems, please visit
        <a href="https://www.getsafeonline.org" target="_blank">www.getsafeonline.org</a>. Get Safe Online is supported
        by HM Government and leading businesses.</p>

    <h5 id="how-to-complain">11. How to complain</h5>
    <p>We hope that we or our Data Protection Officer can resolve any query or concern you raise about this Privacy
        Policy or how we use your information.</p>
    <p>Alternatively, you also have the right to lodge a complaint with a data protection authority, in particular in
        the UK and/or the and/or the European Union (or European Economic Area) country  where you work, normally live
        or where any alleged infringement of data protection laws occurred. The data protection authority in the UK is
        the Information Commissioner who may be contacted at
        <a href="https://ico.org.uk/concerns/" target="_blank">https://ico.org.uk/concerns/</a> or telephone:
        +44 303 123 1113.</p>

    <h5 id="changes">12. Changes to this Privacy Policy</h5>
    <p>This Privacy Policy was last updated on {{ last_updated }}.</p>
    <p>We may change this Privacy Policy from time to time and you should check it regularly. If we make any material
        changes to this notice we will inform via appropriate means (e.g. email).</p>

    <h5 id="contact-us">13. How to contact us</h5>
    <p>Please contact our Data Protection Officer or us at
        <a href="mailto:privacy@ocado.com">privacy@ocado.com</a> if you have any questions about this Privacy Policy or
        the information we hold about you.</p>

    <h5 id="extra-help">14. Do you need extra help?</h5>
    <p>If you would like this Policy in another format (for example: audio, large print, braille) please contact us
        (see “How to contact us” above).</p>
</div>

{% endblock content %}
