{% extends 'portal/base.html' %}
{% load staticfiles %}
{% load app_tags %}
{% load banner_tags %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block scripts %}
{{ block.super }}
{% endblock scripts %}

{% block pageID %}id="homeWrapper"{% endblock %}

{% block subNav %}
{{ block.super }}
{% banner banner_name="BANNER" %}
{% endblock subNav %}

{% block content %}
{{ block.super }}
<div class="col-sm-8 col-center">
    <div id="privacy"></div>
    <div class="background">
        <p><strong>Last Updated: {{ last_updated }}</strong></p>
        <p>Please read this policy carefully. This policy contains important information on who we are, how and why we
            collect, store, use and share your personal information, your rights in relation to your personal
            information, including your right to object in certain circumstances, and on how to contact us.</p>
        <ol>
            <li><p><a href="#commitment">Our commitment</a></p></li>
            <li><p><a href="#who-we-are">Who we are</a></p></li>
            <li><p><a href="#types-of-information">Types of information we hold about you</a></p></li>
            <li><p><a href="#personal-data">How is personal data collected?</a></p></li>
            <li><p><a href="#information-use">How we will use information about you</a></p></li>
            <li><p><a href="#change-of-purpose">Change of purpose</a></p></li>
            <li><p><a href="#cookies">Cookies</a></p></li>
            <li><p><a href="#third-parties">Who we share your personal information with</a></p></li>
            <li><p><a href="#data-retention">How long will we keep your personal information?</a></p></li>
            <li><p><a href="#your-rights">Your rights</a></p></li>
            <li><p><a href="#security">Keeping your information secure</a></p></li>
            <li><p><a href="#how-to-complain">How to complain</a></p></li>
            <li><p><a href="#changes">Changes to this Privacy Policy</a></p></li>
            <li><p><a href="#contact-us">How to contact us</a></p></li>
            <li><p><a href="#extra-help">Do you need extra help?</a></p></li>
        </ol>

        <h3 id="commitment">1. Our commitment</h3>
        <p>We’re deeply committed to creating a safe and secure online learning environment for you as teachers,
            parents, guardians, carers and young people.</p>
        <ol>
            <li><p>We strive to provide you with access to and control over the personal information that you give us,
                and we take the protection of your information very seriously.</p></li>
            <li><p>We take extra precautions for the safety and privacy of our younger learners by moderating online
                communications and not allowing a child to post or disclose personal information. We take extra
                precautions for the safety and privacy of our younger learners by not hosting any communication
                services on our website. Where personal information could be entered, for example when a student names
                a level, the teacher is notified via email and the teacher has the ability to delete the level if its
                name is rude or compromising.</p></li>
            <li><p>We do not accept third party advertisements on our website or within our lessons. We use your
                personal information only to communicate with you and to provide you with a better learning
                experience.</p></li>
        </ol>
    </div>

    <div class="background">
        <h3 id="who-we-are">2. Who we are</h3>
        <p>We are Ocado Innovation Limited (trading as Ocado Technology and owner of the Code for Life website) (also
            referred to in this Privacy Notice as “Ocado”, “we” or “us”), with registered office at Buildings 1 & 2
            Trident Place, Hatfield Business Park, Mosquito Way, Hatfield, AL10 9UL, and we are the data controller for
            the personal information covered by this Privacy Notice.</p>
    </div>

    <div class="background">
        <h3 id="types-of-information">3. Types of information we hold about you</h3>
        <p>Personal data, or personal information, is any information relating to an individual. It does not include
            information where the identity has been removed and such information cannot be traced back to an individual
            (anonymous data).</p>
        <p>In the course of your use of the Code for Life portal and our services we collect the following personal
            information when you provide it to us:</p>
        <ul>
            <li><p>Name/Title</p></li>
            <li><p>Email address and username/password</p></li>
            <li><p>School/Teaching or Education Institution</p></li>
            <li><p>Class names</p></li>
            <li><p>Performance information</p></li>
            <li><p>Date/Time individuals register and last log in</p></li>
            <li><p>Names of children registered in each class</p></li>
            <li><p>Information about your use of our information and communication systems</p></li>
            <li><p>Your IP address</p></li>
            <li><p>Coding you create when using an application, game (including any avatars you create) or other
                product.</p></li>
        </ul>
    </div>

    <div class="background">
        <h3 id="personal-data">4. How is personal data collected?</h3>
        <p>We collect personal information about you i.e. your full name, title, email address, username,
            school/teaching or education institution at the time of registration. We also collect additional personal
            information i.e. performance information, any coding you create when using an application, game
            (including any avatar(s) you create) or other product, school/teaching or education institution and
            information about your use of our information and communication systems in the course of your use of Code
            for Life.</p>
    </div>

    <div class="background">
        <h3 id="information-use">5. How we will use information about you</h3>
        <p>We need all the categories of information in the list above, primarily to allow us to perform our contract
            with you and to enable us to fulfil our legitimate interests, such as our interest to effectively manage
            our relationship with you, to ensure that our website is used in accordance with our Terms, to provide
            customer support and to improve our services. We also rely on consent to send you promotional
            communications and you have the right to withdraw your consent at any time (see the “Your Rights” section
            below for more information).  We summarise the purposes for which we use your personal data and the lawful
            basis on which we rely at the end of this section.</p>
        <p>We process your personal information to identify you as a particular user in our system and to provide you
            with our services. This identifier gives teachers access to course material, class and individual student
            management features, and customer support, and also it gives students access to the web app in order to
            learn how to code within a supported environment (classroom), or independently (at home).</p>
        <p>We also use your email address to create an account and to notify you of your registration status and login
            information, as well as to send you important updates (for example, about our privacy practices or any
            maintenance impacting User or Student accounts), or to promotional communications when you are happy to
            receive these (for example, our newsletter or communications about our app and portal features or upcoming
            events).</p>
        <p>Messages may be sent periodically to a user account on the platform to offer support. Users can also use the
            Contact Us form to contact Code for Life staff directly for customer support. We strongly encourage users
            not to disclose personal information (other than name and email address) through any communication to Ocado
            Innovation Limited – messages you exchange on the platform and any forms you submit to Ocado Innovation
            Limited will be recorded.  The Contact Us form is strictly for the purpose of user support. User-initiated
            communication concerning topics other than those relating directly to the Code for Life portal, including
            web apps, resources or user experience may not be answered. Please be aware that we will never ask for
            personal information other than what is required to locate a user in our system.</p>
        <p>We also use cookies to collect information about how you use our platform, in order to analyse and improve
            user experience on our website and to ensure that our users comply with our Terms of Use. This information
            is usually anonymised and used at an aggregate level. Please see section “Cookies” below for more
            information on what information we collect and how we use cookies.</p>
        <p>We may also use an email address and username to limit a user temporarily or permanently from the Code for
            Life portal if that user engages in inappropriate use of the site (e.g. giving other people access to their
            user account, malicious misuse of the portal, including spam).</p>

        <table class="table table-bordered">
            <tr>
                <th><strong>Purpose</strong></th>
                <th><strong>Legal basis</strong></th>
            </tr>
            <tr>
                <td><p>To allow you to create an account and provide our services to you through our website, such as
                    providing course material and resources</p></td>
                <td><p>Contractual necessity: the information is necessary to fulfil our contract with you.</p></td>
            </tr>
            <tr>
                <td><p>To manage our relationship with you, including to allow you to manage your account, provide
                    customer support, to handle your requests and queries, to provide you with information about our
                    services that you use, or information about changes in our Terms or this Policy</p></td>
                <td>
                    <ul>
                        <li><p>Contractual necessity: to the extent the information is necessary to fulfil our contract 
                            with you (e.g. to ensure that we provide to you the services that you have requested).
                        </p></li>
                        <li><p>Legitimate interests: to the extent the information is necessary to process queries and
                            effectively manage our relationship with you as user of our services.</p></li>
                        <li><p>Compliance with a legal obligation: to the extent we are required by law to contact you 
                            in order to provide certain information (for example, to notify you of changes to our Terms)
                        </p></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><p>To send you our newsletters, other promotional material and occasional research survey about
                    Code for Life</p></td>
                <td>
                    <ul>
                        <li><p>Your consent, where this is required by law.</p></li>
                        <li><p>Otherwise, when consent is not required, we will rely on our legitimate interest to keep 
                            you informed of our services, to the extent this is permitted by law.</p></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><p>To carry out analysis and compile statistics about the use of our website and app, and the use
                    of our services, in order to enable us to provide a better service, feature and
                    functionality</p></td>
                <td>
                    <ul>
                        <li><p>Your consent: where we obtain this information by using cookies.</p></li>
                        <li><p>Our legitimate interests to ensure the smooth and effective functioning of our website, 
                            app and services, to make sound business decisions about our services and to design, inform 
                            and deploy our business strategies.</p></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><p>To authenticate your account and to ensure the security of our website, app, information systems
                    and assets, to monitor compliance with our Terms, to prevent illegal activities in relation to our
                    services.</p></td>
                <td><p>Our legitimate interests to protect our business assets against illegal or inappropriate
                    activities or security threats and your legitimate interests to protect the security of your
                    account and information.</p></td>
            </tr>
            <tr>
                <td><p>To protect our legal rights and to establish, exercise or defend legal claims relating to our
                    services.</p></td>
                <td><p>Our legitimate interests to protect our legal rights.</p></td>
            </tr>
            <tr>
                <td><p>For accounting, record keeping and audit purposes</p></td>
                <td>
                    <ul>
                        <li><p>Our legitimate interest to effectively manage our business, audit our business processes
                            and make informed business decisions.</p></li>
                        <li><p>Legal requirements: to the extent the law requires that we use your information (for
                            example, tax obligations)</p></li>
                    </ul>
                </td>
            </tr>
        </table>

        <p>When we rely on <strong>legitimate interests</strong> to process personal data, we consider and balance
            those interests against any potential impact on you (both positive and negative) and your rights and
            interests. If we consider that our interests are overridden by the impact on you, we will not use your
            personal data in this way (unless the law gives us another valid ground to do so). You can obtain further
            information about how we assess our legitimate interests against any potential impact on you in respect of
            specific activities by contacting us.</p>

    </div>

    <div class="background">
        <h3 id="change-of-purpose">6. Change of purpose</h3>
        <p>We will only use your personal information for the purposes for which we collected it or for other
            compatible purposes. If we need to use your personal information for an unrelated purpose, we will notify
            you and we will explain the basis on which we do so. Please note that we do not always need to rely on your
            consent to collect and process your personal information, and we will not seek your consent unless this is
            required by law.
        </p>
    </div>

    <div class="background">
        <h3 id="cookies">7. Cookies</h3>
        <h4>7.1 What are Cookies?</h4>
        <p>We use cookies and similar technologies on this website to give you the best experience of our website and
            games. Our cookie management service provider is called
            <a href="https://www.onetrust.com/" target="_blank">OneTrust</a>.
        </p>
        <p>A cookie is a very small text document, which often includes an anonymous unique identifier. Cookies are
            created when your browser loads a particular website. The website sends information to the browser which
            then creates a text file. Every time the user goes back to the same website, the browser retrieves and
            sends this file to the website's server. We also use other forms of technology (such as web beacons or
            pixels) which serve a similar purpose to cookies and which allow us to monitor and improve our website.
            When we talk about cookies in this policy, this term includes these similar technologies, (such as pixels
            and beacons).</p>

        <h4>7.2 Types of cookies used</h4>
        <p>We use the following types of cookies on our website for the following purposes:</p>

        <table class="table table-bordered">
            <tr>
                <th><strong>Types of cookies</strong></th>
                <th><strong>Purpose</strong></th>
                <th><strong>Maximum lifespan (months)</strong></th>
            </tr>
            <tr>
                <td><p><u>Strictly necessary cookies</u></p></td>
                <td><p>These cookies are required to enable core functionalities of the website. Without these cookies,
                    services you have asked for, like remembering your login details or your language, cannot be
                    provided. If you disable these cookies via your browser settings certain parts of the website
                    will not function for you.</p>
                </td>
                <td><p>12</p></td>
            </tr>
            <tr>
                <td><p><u>Functional cookies</u></p></td>
                <td><p>These cookies enable the website to provide enhanced functionality and personalisation. If you
                    do not allow these cookies then some or all of these services may not function properly. These
                    kinds of cookies remember things like the mute setting in the Rapid Router game.</p>
                </td>
                <td><p>Session</p></td>
            </tr>
            <tr>
                <td><p><u>Analytics/Performance cookies</u></p></td>
                <td><p>These cookies help us improve or optimise the experience we provide. This can be anything like
                    which pages you go to most often, and if you get error messages from web pages. They allow us to
                    measure how visitors interact with the website (for example which part of the websites are clicked
                    on and the length of time between clicks).  We use this information to improve the user experience
                    and performance of the website. We use third-party web analytics software on our website and apps
                    (such as Google Analytics), further information about these partners can be found
                    <a href="#third-party-cookies">here</a>.</p>
                </td>
                <td><p>24</p></td>
            </tr>
        </table>

        <h4 id="third-party-cookies">7.3 Third party cookies</h4>
        <p>Ocado Innovation Limited does not allow third party advertising, or affiliation on our site.</p>
        <p>We have enabled Google Analytics and Mouseflow. If you choose to allow analytics/performance cookies, this
            would provide us with, amongst other things, a summary as to how you use our site and would enable us to
            improve your experience.</p>
        <p><strong>Google Analytics</strong>. This website uses Google Analytics, a web analytics service provided by
            Google, Inc. ("Google"). Google Analytics uses cookies to help the website operators analyse how users use
            the site. The information generated by the cookie about your use of the website (including your IP address)
            will be transmitted to and stored by Google on servers in the United States. Google will use this
            information for the purpose of evaluating your use of the website, compiling reports on website activity
            for website operators and providing other services relating to website activity and internet usage. Google
            may also transfer this information to third parties where required to do so by law, or where such third
            parties process the information on Google's behalf. Google will not associate your IP address with any
            other data held by Google. By using this website, and allowing performance cookies, you consent to the
            processing of data about you by Google in the manner and for the purposes set out above. Further
            information can be found
            <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage"
            target="_blank">here</a>.</p>
        <p><strong>Mouseflow</strong>. We also use Mouseflow on our website; this provider offers a website analytics
            tool that provides services such as session replay, heatmaps, funnels, form analytics, feedback campaigns,
            and similar features/functionality. Mouseflow uses cookies to  record your clicks, mouse movements,
            scrolling, form fills (keystrokes) in non-excluded fields, pages visited and content, time on site,
            browser, operating system, device type (desktop/tablet/phone), screen resolution, visitor type (first
            time/returning), referrer, anonymized IP address, location (city/country), language, and similar metadata.
            Mouseflow does not collect any information on pages where it is not installed, nor does it track or collect
            information outside your web browser. If you’d like to opt-out from Mouseflow collecting the above
            information, you can do so at
            <a href="https://mouseflow.com/opt-out" target="_blank">https://mouseflow.com/opt-out</a>. If you’d like to
            exercise your data protection rights in relation to information that Mouseflow holds about you, please
            contact us first or, as a secondary option, contact Mouseflow at
            <a href="mailto:privacy@mouseflow.com">privacy@mouseflow.com</a>.</p>
        <p><strong>Freshdesk</strong> is our third party customer support tool that enables customers to contact us
            through a ticketing system on the website.</p>
        <p>For more information on Freshdesk’s Privacy Notice, visit
            <a href="https://www.freshworks.com/privacy/" target="_blank">https://www.freshworks.com/privacy/</a>.</p>
        <p>For more information on Freshdesk and GDPR, visit
            <a href="https://freshdesk.com/gdpr" target="_blank">https://freshdesk.com/gdpr</a>.</p>

        <h4>7.4 Managing and disabling cookies</h4>
        <p>You may refuse the use of non-essential cookies by selecting the relevant settings using our cookie control
            tool. Please note, strictly necessary cookies will always be set as they are essential for our website to
            operate.</p>
        <p>You can change your cookie preferences or withdraw consent by clicking on the following button:</p>

        <p>
            <!-- OneTrust Cookies Settings button start -->
            <button id="ot-sdk-btn" class="button button-regular button--primary--general-play optanon-toggle-display">Cookies Settings</button>
            <!-- OneTrust Cookies Settings button end -->
        </p>

        <p>To opt-out of Google Analytics for Display Advertising and customize Google Display Network ads in general
            please go to
            <a href="https://www.google.com/settings/ads" target="_blank">https://www.google.com/settings/ads</a> or
            Google Analytics’ currently available opt-outs for the web.</p>

        <h4>7.5 Further information about cookies</h4>
        <p>To find out more about cookies please visit:
            <a href="https://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a> or see
            <a href="https://www.youronlinechoices.eu" target="_blank">www.youronlinechoices.eu</a> which contains
            further information about behavioural advertising and online privacy.</p>
    </div>

    <div class="background">
        <h3 id="third-parties">8. Who we share your personal information with</h3>
        <p>We share your personal information with our employees, to the extent this is necessary for them to perform
            their tasks.</p>
        <p>We also share some limited information with third party service providers (as explained below). We require
            all third parties to respect the security of your personal data and to treat it in accordance with the law.
            We do not allow our third-party service providers to use your personal data for their own purposes and only
            permit them to process your personal data for specified purposes and in accordance with our instructions:
        </p>

        <h4>IT, email and web service providers</h4>
        <p>We share your personal information with our IT, email and web service providers, in order to enable them to
            provide us with their services. For example, we share your name and email address details with DotDigital,
            a service provider used for the purposes of sending emails to our users (such as  newsletters, collecting
            feedback, or any important service related emails). This data sharing enables us to send you emails, view
            when they are opened and view which links are clicked.</p>

        <h4>Surveys and Feedback providers</h4>
        <p>We will occasionally ask for feedback on our resources and games. We will usually do this via an email with
            links to <strong>UsabilityHub</strong>. If you choose to participate in the survey, the information
            UsabilityHub collects from you will record; time spent, country, device type, device platform, unless
            specifically asked within the questions themselves for example, the survey may ask your age. You can find
            out more about UsabilityHub
            <a href="https://usabilityhub.com/" target="_blank">here</a>.</p>

        <h4>Change in business</h4>
        <p>If our business is sold or its assets are purchased by another company it would typically be part of such a
            transaction for customer information to form part of the business assets being transferred. However, the
            information will remain subject to this Privacy Policy.</p>

        <h4>Professional business and legal advisors</h4>
        <p>Where necessary, we share personal information with our business advisors, such as legal advisors,
            consultants, accountants or auditors, for the purposes outlined in this Policy.</p>
        <p>In the event of a legal dispute, a court order or a legitimate request from a law enforcement agency or
            other public authority, we will share your personal information with our legal advisors, courts or such
            public authority, as necessary.</p>
    </div>

    <div class="background">
        <h3 id="data-retention">9. How long will we keep your personal information?</h3>
        <p>We will only retain your personal information for as long as you have an active account, unless we need to
            retain this information for longer in order to protect our legal interests and establish, exercise or
            defend a legal claim  If you deactivate your account, we may anonymise your information and use it for a
            period of time in an anonymous format for research and other business purposes, such as business analytics.
        </p>
        <p>For users that have registered but whose accounts are inactive, we will delete your personal information
            after 3 years of inactivity.</p>
    </div>

    <div class="background">
        <h3 id="your-rights">10. Your rights</h3>
        <p>Under data protection laws, you have certain rights in relation to your personal information, which you can
            exercise free of charge. In summary, those include the right to:</p>
        <ul>
            <li><p>request a copy of your personal information and to certain other extra information that this Privacy
                Notice is already designed to address;</p></li>
            <li><p>require us to correct any mistakes in your information which we hold;</p></li>
            <li><p>require the erasure of personal information concerning you in certain situations;</p></li>
            <li><p>receive the personal information concerning you which you have provided to us, in a structured,
                commonly used and machine-readable format (e.g. in pdf or .csv format) and have the right to transmit
                those data to a third party in certain situations;</p></li>
            <li><p>object at any time to processing of personal information concerning you for direct marketing;</p></li>
            <li><p>object in certain other situations to our continued processing of your personal information;</p></li>
            <li><p>otherwise restrict our processing of your personal information in certain circumstances.</p></li>
        </ul>
        <p>Please note these rights may be limited, for example if fulfilling your request would reveal personal data
            about another person or if you ask us to delete information which we are required by law to keep or have
            compelling legitimate interests in keeping. We will inform you of the relevant exemptions upon which we
            rely when responding to any request you make.</p>
        <p>If you would like to exercise any of those rights, please:</p>
        <ul>
            <li><p>email our Data Protection Officer at
                <a href="mailto:privacy_codeforlife@ocado.com">privacy_codeforlife@ocado.com</a>;</p></li>
            <li><p>let us have enough information to identify you (eg username, full name and email address); and</p></li>
            <li><p>let us know (if possible) the information to which your request relates.</p></li>
        </ul>
        <p>If you would like to unsubscribe from any email newsletter or other promotional emails, you can click on the
            unsubscribe link which you can find at the bottom of our emails, in order to be removed. It could take up
            to 72 hours to process the update through our systems.</p>
    </div>

    <div class="background">
        <h3 id="security">11. Keeping your personal information secure</h3>
        <p>We have security measures in place to prevent personal information from being accidentally lost, or used or
            accessed in an unauthorised way. We limit access to your personal information to those who have a genuine
            business need to know it. Those processing your information are subject to a duty of confidentiality.</p>
        <p>We have introduced two-factor authentication to the portal to further reinforce the safety of Teachers’
            accounts, details of which are available
            <a href="https://www.getsafeonline.org/protecting-your-computer/passwords/" target="_blank">here</a>.</p>
        <p>If you want detailed information from Get Safe Online on how to protect your information and your computers
            and devices against fraud, identity theft, viruses and many other online problems, please visit
            <a href="https://www.getsafeonline.org" target="_blank">www.getsafeonline.org</a>. Get Safe Online is
            supported by HM Government and leading businesses.</p>
    </div>

    <div class="background">
        <h3 id="how-to-complain">12. How to complain</h3>
        <p>We hope that we or our Data Protection Officer can resolve any query or concern you raise about this Privacy
            Notice or how we use your information.</p>
        <p>Alternatively, you also have  the right to lodge a complaint with a supervisory authority, in particular in
            the UK and/or the and/or the European Union (or European Economic Area) country  where you work, normally
            live or where any alleged infringement of data protection laws occurred. The supervisory authority in the
            UK is the Information Commissioner who may be contacted at
            <a href="https://ico.org.uk/concerns/" target="_blank">https://ico.org.uk/concerns/</a> or telephone:
            +44 303 123 1113.</p>
    </div>

    <div class="background">
        <h3 id="changes">13. Changes to this Privacy Policy</h3>
        <p>This Privacy Policy was last updated on {{ last_updated }}.</p>
        <p>We may change this Privacy Policy from time to time and you should check it regularly. If we make any
            material changes to this notice we will inform via appropriate means (eg  email).</p>
    </div>

    <div class="background">
        <h3 id="contact-us">14. How to contact Us</h3>
        <p>Please contact our Data Protection Officer or us at
            <a href="mailto:privacy_codeforlife@ocado.com">privacy_codeforlife@ocado.com</a> if you have any questions
            about this Privacy Policy or the information we hold about you.</p>
    </div>

    <div class="background">
        <h3 id="extra-help">15. Do you need extra help?</h3>
        <p>If you would like this notice in another format (for example: audio, large print, braille) please contact us
            (see “How to contact us” above).</p>
    </div>
</div>

{% endblock content %}
