{% extends 'portal/base.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block content %}
<div id="signup_page"></div>

<div class="row mx-0 is-flex">
    <div class="form--register--text form--register form--register--teacher col-sm-6 is-flex-item">
        <div class="form col-sm-8 col-center">
            <h4>Register as a teacher</h4>
            <p>Once you've registered your personal details and logged in, you'll be able to create your school or club, or join other teachers at your institution.<br/></p>
            <form method="post" id="form-reg-teacher" autocomplete="off">

                {% csrf_token %}

                {{ teacher_signup_form.non_field_errors }}

                <label for="id_teacher_signup-teacher_first_name">{{ teacher_signup_form.teacher_first_name.label }}</label>
                {{ teacher_signup_form.teacher_first_name }}
                {{ teacher_signup_form.teacher_first_name.errors }}

                <label for="id_teacher_signup-teacher_last_name">{{ teacher_signup_form.teacher_last_name.label }}</label>
                {{ teacher_signup_form.teacher_last_name }}
                {{ teacher_signup_form.teacher_last_name.errors }}

                <label for="id_teacher_signup-teacher_email">{{ teacher_signup_form.teacher_email.label }}</label>
                {{ teacher_signup_form.teacher_email }}
                {{ teacher_signup_form.teacher_email.errors }}

                {% include 'portal/partials/register_newsletter_tickbox.html' with newsletter_ticked=teacher_signup_form.newsletter_ticked %}

                <label for="id_teacher_signup-teacher_password">{{ teacher_signup_form.teacher_password.label }}</label>
                {{ teacher_signup_form.teacher_password }}
                {{ teacher_signup_form.teacher_password.errors }}

                <label for="id_teacher_signup-teacher_confirm_password">{{ teacher_signup_form.teacher_confirm_password.label }}</label>
                {{ teacher_signup_form.teacher_confirm_password }}
                {{ teacher_signup_form.teacher_confirm_password.errors }}

                <div class="row--under">
                    <div class="password-strength-container">
                        <div id="teacher-password-sign" class="password-strength-sign"></div>
                        <div id="teacher-password-text" class="password-strength-text"></div>
                    </div>
                </div>

                <div class="row">
                    {{ teacher_signup_form.captcha }}
                </div>

                <button class="button button--home" type="submit" name="teacher_signup">Register</button>
            </form>

        </div>
    </div>
    <div class="form--register--text form--register form--register--indep-student col-sm-6">
        <div class="form col-sm-8 col-center">
            <h4>Register as an independent student</h4>
            <p>Are you part of a school or club? If so, please <a href="{% url 'student_login_access_code' %}">log in</a> or speak to your teacher.
            </p>
            <form id="form-signup-independent-student" method="post" autocomplete="off">

                {% csrf_token %}

                {{ independent_student_signup_form.non_field_errors }}

                <label for="id_{{ independent_student_signup_form.name.html_name }}">{{ independent_student_signup_form.name.label }}</label>
                {{ independent_student_signup_form.name }}
                {{ independent_student_signup_form.name.errors }}

                <label for="id_{{ independent_student_signup_form.username.html_name }}">{{ independent_student_signup_form.username.label }}</label>
                {{ independent_student_signup_form.username }}
                {{ independent_student_signup_form.username.errors }}

                <label for="id_{{ independent_student_signup_form.email.html_name }}">{{ independent_student_signup_form.email.label }}</label>
                {{ independent_student_signup_form.email }}
                {{ independent_student_signup_form.email.errors }}

                {% include 'portal/partials/register_over_required_age_tickbox.html' with is_over_required_age=independent_student_signup_form.is_over_required_age %}

                {% include 'portal/partials/register_newsletter_tickbox.html' with newsletter_ticked=independent_student_signup_form.newsletter_ticked %}

                <label for="id_{{ independent_student_signup_form.password.html_name }}">{{ independent_student_signup_form.password.label }}</label>
                {{ independent_student_signup_form.password }}
                {{ independent_student_signup_form.password.errors }}

                <label for="id_{{ independent_student_signup_form.confirm_password.html_name }}">{{ independent_student_signup_form.confirm_password.label }}</label>
                {{ independent_student_signup_form.confirm_password }}
                {{ independent_student_signup_form.confirm_password.errors }}

                <div class="row--under">
                    <div class="password-strength-container">
                        <div id="student-password-sign" class="password-strength-sign"></div>
                        <div id="student-password-text" class="password-strength-text"></div>
                    </div>
                </div>

                <div class="row">
                    {{ independent_student_signup_form.captcha }}
                </div>

                <button type="submit" name="independent_student_signup" class="button button--home" value="Register">Register</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'portal/js/passwordStrength.js' %}"></script>
<script>
    var TEACHER_PASSWORD_FIELD_ID = '{{ teacher_signup_form.teacher_password.auto_id }}';
    var INDEP_STUDENT_PASSWORD_FIELD_ID = '{{ independent_student_signup_form.password.auto_id }}';
</script>

{% endblock content %}
