{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div id="reset_password_student_page"></div>

    <section class="row mx-0">
        <span class="oval-pink login-shape-left"></span>
        <span class="polygon-blue login-shape-right"></span>
        <div class="form--login is-flex form--register--indep-student">
            <div class="form col-xs-12 col-sm-8 col-md-8 col-lg-9 center-block">
                <h4 class="center-block">Reset password</h4>
                <h5>Please enter your username</h5>
                <p class="text-left">We will send an email with a link to reset your password.</p>
                <form method="post" autocomplete="off">
                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    <div class="form--row">
                        {{ form.username }}
                        <small>{{ form.username.help_text }}</small>
                        {{ form.username.error }}
                    </div>

                    {% if should_use_recaptcha %}
                        {{ form.captcha }}
                    {% endif %}

                    <div>
                        <a id="cancel_button" class="button button--secondary button--secondary--light" href="{% url 'independent_student_login' %}">Cancel</a>
                        <button id="reset_button" type="submit" class="button button--home">Reset password</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock content %}
