{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div id="reset_password_email_sent_page"></div>

    <section class="row mx-0">
    {% if usertype == "TEACHER" %}
        <span class="oval-blue login-shape-left"></span>
        <span class="polygon-yellow login-shape-right"></span>
        <div class="form--login is-flex form--register--teacher">
    {% else %}
        <span class="oval-pink login-shape-left"></span>
        <span class="polygon-blue login-shape-right"></span>
        <div class="form--login is-flex form--register--indep-student">
    {% endif %}
            <div class="form col-xs-12 col-sm-8 col-md-8 col-lg-9 center-block">
                <h4>Thank you</h4>
                <img class="background" title="Paper Plane" alt="Verification email sent" src="{% static 'portal/img/paper_plane.png' %}">
                <p class="text-left">If you have entered a valid {% if usertype == "TEACHER" %}email address{% else %}username{% endif %},
                    you will receive a link enabling you to reset your password.</p>
                <div>
                {% if usertype == "TEACHER" %}
                    <a href="{% url 'home' %}" class="button button--primary button--login">Back to homepage</a>
                {% else %}
                    <a href="{% url 'home' %}" class="button button--home">Back to homepage</a>
                {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock content%}
