{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div id="reset_password_teacher_page"></div>

<div class="background form--register form--register--teacher col-sm-12">
    <div class="col-sm-6 col-center">
        <h1>Teacher reset password</h1>
        <p class="body-text">Enter your email address below to reset your Code for Life password</p>

        <form method='post'>
            {% csrf_token %}

            {{ form.non_field_errors }}

            <label for="id_{{ form.email.html_name }}">{{ form.email.label }}</label>
            {{ form.email }}
            {{ form.email.errors }}

            <label for="id_{{ form.recaptcha.html_name }}">{{ form.recaptcha.label }}</label>
            {{ form.recaptcha|safe }}
            {{ form.recaptcha.errors }}

            <section class='background button-group'>
                <a id="cancel_button" class='button button--regular button--secondary button--secondary--light' href="{% url 'home' %}">Cancel</a>
                <button id="reset_button" type='submit' class='button--regular button--primary--general-educate'>Reset password</button>
            </section>
        </form>
    </div>
</div>

{% endblock content %}
