{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div id="reset_password_student_page"></div>

    <div class="form--register form--register--indep-student is-flex">
        <div class="form col-xs-12 col-sm-8 col-md-6 col-lg-4 center-block">
        <h4>Independent student reset password</h4>
        <p>Enter your username below to reset your Code For Life password.</p>
        <p>A notification will be sent to your registered email address.</p>

        <form method="post" autocomplete="off">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <label for="id_{{ form.username.html_name }}">{{ form.username.label }}</label>
            {{ form.username }}
            {{ form.username.errors }}

            {% if should_use_recaptcha %}
                {{ form.captcha }}
            {% endif %}

            <section class="background button-group">
                <a id="cancel_button" class="button button--home" href="{% url 'home' %}">Cancel</a>
                <button id="reset_button" type="submit" class="button button--home">Reset password</button>
            </section>
        </form>
    </div>
</div>

{% endblock content %}
