{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div id="reset_password_done_page"></div>

    <section class="row mx-0">
    {% if usertype == "TEACHER" %}
        <span class="oval-blue login-shape-left"></span>
        <span class="polygon-yellow login-shape-right"></span>
        <div class="form--login is-flex form--register--teacher">
    {% else %}
        <span class="oval-pink login-shape-left"></span>
        <span class="polygon-blue login-shape-right"></span>
        <div class="form--login is-flex form--register--indep-student">
    {% endif %}
            <div class="form col-xs-12 col-sm-8 col-md-8 col-lg-9 center-block">
                <h4>Your password has been reset</h4>
                <img class="background" title="Confirmation" alt="Confirmation tick" src="{% static 'portal/img/confirmation_tick.png' %}">
                <p>Please log in.</p>
                <div class="background">
                {% if usertype == "TEACHER" %}
                    <a href="{% url 'teacher_login' %}" class="button button--primary button--login">OK</a>
                {% else %}
                    <a href="{% url 'independent_student_login' %}" class="button button--home">OK</a>
                {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
