{% extends 'portal/base.html' %}
{% load static %}

{% block content %}
<div id="reset_password_form_page"></div>

{% if usertype == "TEACHER" %}
<div class="form--register form--register--teacher is-flex">
{% else %}
<div class="form--register form--register--indep-student is-flex">
{% endif %}
    <div class="form col-xs-12 col-sm-8 col-md-6 col-lg-4 center-block">
        <h4>Password Reset</h4>

        {% if validlink %}
        <p>Please enter a new password and confirm it in the boxes below to reset your account&rsquo;s password.</p>

        <form method="post">

            {% csrf_token %}

            {{ form.non_field_errors }}

            <label for="{{ form.new_password1.id }}">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}

            <label for="{{ form.new_password2.id }}">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}

            {% if usertype == "TEACHER" %}
            <div class="row--under">
                <div class="password-strength-container">
                    <div id="teacher-password-sign" class="password-strength-sign"></div>
                    <div id="teacher-password-text" class="password-strength-text"></div>
                </div>
            </div>
            {% else %}
            <div class="row--under">
                <div class="password-strength-container">
                    <div id="student-password-sign" class="password-strength-sign"></div>
                    <div id="student-password-text" class="password-strength-text"></div>
                </div>
            </div>
            {% endif %}

            <section class="button-group">
                {% if usertype == "TEACHER" %}
                <a class="button button--secondary button--secondary--light" href="{% url 'home' %}">Cancel</a>
                <button id="teacher_update_button" type="submit" class="button button--primary">Update</button>
                {% else %}
                <a class="button button--home" href="{% url 'home' %}">Cancel</a>
                <button id="student_update_button" type="submit" class="button button--home">Update</button>
                {% endif %}
            </section>
        </form>
        {% else %}
        <img class="background" title="Sad Face" alt="Verification failure" src="{% static 'portal/img/sadface.png' %}">
        <p>The password reset link used was invalid. Did you use it once already?</p>
        <p>Please request to reset your password again.</p>
        <section class="background">
            {% if usertype == "TEACHER" %}
            <a href="{% url 'home' %}" class="button button--primary">Back to homepage</a>
            {% else %}
            <a href="{% url 'home' %}" class="button button--home">Back to homepage</a>
            {% endif %}
        </section>
        {% endif %}
    </div>
</div>

<script type="text/javascript" src="{% static 'portal/js/passwordStrength.js' %}"></script>
<script>
    var TEACHER_PASSWORD_FIELD_ID = '{{ form.new_password1.auto_id }}';
    var INDEP_STUDENT_PASSWORD_FIELD_ID = '{{ form.new_password1.auto_id }}';
</script>

{% endblock content%}
