{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div id="reset_password_teacher_page"></div>

<div class="form--register form--register--teacher is-flex">
    <div class="form col-xs-12 col-sm-8 col-md-6 col-lg-4 center-block">
        <h4>Teacher reset password</h4>
        <p>Enter your email address below to reset your Code for Life password</p>

        <form method="post" autocomplete="off">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <label for="id_{{ form.email.html_name }}">{{ form.email.label }}</label>
            {{ form.email }}
            {{ form.email.errors }}

            {% if should_use_recaptcha %}
                {{ form.captcha }}
            {% endif %}
            <section class="background button-group">
                <a id="cancel_button" class="button button--secondary button--secondary--light" href="{% url 'home' %}">Cancel</a>
                <button id="reset_button" type="submit" class="button button--primary">Reset password</button>
            </section>
        </form>
    </div>
</div>

{% endblock content %}
