{% extends 'portal/basenonav.html' %}
{% load static %}
{% load compress %}

{% block css %}
    {{block.super}}
    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static 'portal/css/portal.scss' %}' />
    {% endcompress %}
{% endblock %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<h1>[ code ] for { life }</h1>

<div class='row'>
    <div class='small-6 small-centered columns'>

        <div class='panel radius'>
            <h3>Students - log in</h3>

            <form method='post'>

                <div class='row'>
                    <div class='small-12 columns'>
                        <label for="id_name">Email address</label>
                        <input type='text' name='name' id='id_name' maxlength='75' placeholder='Name'/>
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        <label for="id_class">Email address</label>
                        <input type='text' name='class' id='id_class' maxlength='75' placeholder='Class Acess Code'/>
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        <label for="id_PIN">Email address</label>
                        <input type='text' name='PIN' id='id_PIN' maxlength='75' placeholder='PIN'/>
                    </div>
                </div>

                <div class='row'>
                    <div class='small-9 columns' style='padding: 10px 23px'></div>

                    <div class='small-3 columns'>
                        <input type='submit' value='Log in'/>
                    </div>
                </div>

                {% csrf_token %}

            </form>
        </div>

    </div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
