{% extends 'portal/teach/base.html' %}
{% load static %}
{% load app_tags %}

{% block scripts %}
{{block.super}}
{% if not user|is_logged_in %}
    <script type="text/javascript" src="{% static 'portal/js/passwordStrength.js' %}"></script>
    <script>
    var PASSWORD_FIELD_ID = '{{ signup_form.password.auto_id }}';
    var PASSWORD_TYPE = 'TEACHER';
    </script>
{% endif %}
{% endblock scripts %}

{% block content %}
{{block.super}}

<div id="teach_page"></div>

<div class="section group">
    <div class="col span_2_of_3">
        <h3>Resources</h3>
        <p>
        Once you&#8217;ve registered your personal details and logged in, you&#8217;ll be able to create your school or club, or join other teachers at your institution. Sign up your class, track each pupil&#8217;s progress, download free teaching packs, which includes session plans, pupil resources and assessment tools. There&#8217;s even videos to help you and your class understand what you&#8217;ll be learning next.
        </p>
        <img width="25%" src="{% static 'portal/img/nigel_hi_res.png' %}" style="float:right; margin-left:20px;" />
        <h3>
        School Curriculum 
        </h3>
        <p>
        Rapid Router has been created to teach the first principles of computer programming that are covered in the new Computing curriculum. See how the app relates to both Key Stage 1 and Lower Key Stage 2 of the computer science strand <a href="{{ 'general_resources/introduction_to_coding.pdf'|cloud_storage }}">here</a>.
      </p>
        
      <h3>
        Other Resources
        </h3>
        <p>
        Our friends at <a href="http://www.barefootcas.org.uk" target="_blank">Barefoot Computing</a> and <a href="http://www.computingatschool.org.uk/" target="_blank">Computing at School</a> provide free resources, workshops and advice specifically for teachers in England, while Europe&#8217;s largest collection of working computers at <a href="http://www.tnmoc.org/" target="_blank">The National Museum of Computing</a> is a fantastic venue to explore, learn and play. </p>
    </div>

    <div class="col span_1_of_3">
        {% if user|is_logged_in %}
            <div class="login-card">
                <h3>Welcome, {{ user|make_into_username }}</h3><br>
                <p>You are already logged in.</p>
                <a href="{% url 'current_user' %}" class='wide btn btn-primary'>Go to dashboard</a>
                <a href="{% url 'portal/logout' %}" class='wide btn btn-default' onclick="deleteAllLocalStorageWorkspaces();">Logout</a>
            </div>
        {% else %}
            <div class="login-card">
                <h3>Teacher sign in</h3><br>

                <form id='form-login-teacher' method='post'>

                    {% csrf_token %}

                    {{ login_form.non_field_errors }}

                    {{ login_form.email.errors }}
                    <label for="id_{{ login_form.email.html_name }}">{{ login_form.email.label }}</label>
                    {{ login_form.email }}

                    {{ login_form.password.errors }}
                    <label for="id_{{ login_form.password.html_name }}">{{ login_form.password.label }}</label>
                    {{ login_form.password }}

                    {% if login_form.recaptcha %}
                        {{ login_form.recaptcha.errors }}
                        <label for="id_{{ login_form.recaptcha.html_name }}">{{ login_form.recaptcha.label }}</label>
                        {{ login_form.recaptcha|safe }}
                    {% endif %}

                    <input type="submit" name="login" class="btn btn-primary wide" value="Sign in" onclick="deleteAllLocalStorageWorkspaces();">
                </form>
                            
                <div class="login-help">
                    <a id="forgottenPassword_button" href="{% url 'teacher_password_reset' %}">Forgotten Password?</a><br>
                    Are you a student? <a id="studentLogin_button" href="{% url 'play' %}">Log in</a>.
                </div>
            </div>

            <br>

            <div class="login-card">
                <h3>Teacher Registration</h3><br>

                <form method='post' id="form-reg-teacher">

                    {% csrf_token %}


                    {{ signup_form.non_field_errors }}

                    <table width='100%'>
                        <tr>
                            <td>{{ signup_form.title.errors }}</td>
                            <td>{{ signup_form.first_name.errors }}</td>
                            <td>{{ signup_form.last_name.errors }}</td>
                        </tr>
                        <tr>
                            <td class='title'>
                                <label for="id_signup-title">{{ signup_form.title.label }}</label>
                                {{ signup_form.title }}
                            </td>
                            <td class='fName'>
                                <label for="id_signup-first_name">{{ signup_form.first_name.label }}</label>
                                {{ signup_form.first_name }}
                            </td>
                            <td class='lName'>
                                <label for="id_signup-last_name">{{ signup_form.last_name.label }}</label>
                                {{ signup_form.last_name }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3'>
                                {{ signup_form.email.errors }}
                                <label for="id_signup-email">{{ signup_form.email.label }}</label>
                                {{ signup_form.email }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan='2' class='password-strength-bar-container'>
                                <div class='password-strength-bar'></div>
                            </td>
                            <td class='password-strength-text'></td>
                        </tr>
                        <tr>
                            <td colspan='3'>
                                {{ signup_form.password.errors }}
                                <label for="id_signup-password">{{ signup_form.password.label }}</label>
                                {{ signup_form.password }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3'>
                                {{ signup_form.confirm_password.errors }}
                                <label for="id_signup-confirm_password">{{ signup_form.confirm_password.label }}</label>
                                {{ signup_form.confirm_password }}
                            </td>
                        </tr>
                    </table>

                    <input type="submit" name="signup" class="btn btn-primary wide" value="Register">
                </form>
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
