{% extends 'portal/basenonav.html' %}
{% load static %}
{% load compress %}

{% block css %}
    {{block.super}}
    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static 'portal/css/portal.scss' %}' />
    {% endcompress %}
{% endblock %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<header>
    <span class='left'>
        <h1>[ code ] for { life }</h1>
    </span>
    <span class='right'>
        Logged in as {{ user.first_name }} {{ user.last_name }}
        <a class='logout' href='/logout'>Logout</a>
    </span>
</header>

<h3>Welcome, {{ user.first_name }}</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</p>

<h4 style='margin-top: 2em'>Classes / Groups</h4>

<div class='row'>
    <div class='small-6 columns'>
        <table width='100%'>
            <thead>
                <th>Group name</th>
                <th>Access Code</th>
            </thead>
            <tbody>
                {% for class in classes %}
                    <tr>
                        <td><a href="{% url 'portal.views.teacher_class' class.id %}">{{ class.name }}</a></td>
                        <td>{{ class.access_code }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class='small-6 columns'>
        <h4>New Group</h4>

        <p>A unique Access Code will be generated for each group.</p>

        <form method='post'>

            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class='row'>
                <div class='small-9 columns'>
                    {{ form.name.errors }}
                    {{ form.name }}
                </div>

                <div class='small-3 columns'>
                    <input type='submit' value='Create'/>
                </div>
            </div>

        </form>
    </div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
