{% extends 'portal/basenonav.html' %}
{% load static %}
{% load compress %}

{% block css %}
    {{block.super}}
    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static 'portal/css/portal.scss' %}' />
    {% endcompress %}
{% endblock %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<header>
    <h1>[ code ] for { life }</h1>
</header>

<div class='row'>
    <div class='small-6 small-centered columns'>

        <div class='panel radius'>
            <h3>Teachers - log in</h3>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class='row'>
                    <div class='small-12 columns'>
                        {{ form.email.errors }}
                        {{ form.email }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        {{ form.password.errors }}
                        {{ form.password }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-9 columns' style='padding: 10px 23px'>
                        <a href="{% url 'django.contrib.auth.views.password_reset' %}"><u>Lost your password?</u></a>
                    </div>

                    <div class='small-3 columns'>
                        <input type='submit' value='Log in'/>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
