{% extends 'portal/basenonav.html' %}
{% load static %}
{% load compress %}

{% block css %}
    {{block.super}}
    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static 'portal/css/portal.scss' %}' />
    {% endcompress %}
{% endblock %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<header>
    <span class='left'>
        <h1>[ code ] for { life }</h1>
    </span>
    <span class='right'>
        Logged in as {{ user.first_name }} {{ user.last_name }}
        <a class='portal_button logout' href="{% url 'portal.views.logout_view' %}">Logout</a>
    </span>
</header>

<h3>Student Password Reset for {{ student.name }}</h3>

<p><b>Warning:</b> You will only see this screen once. Please print this page or make a note of the password to prevent having to generate another password.</p>

<p>The Class Access Code for this student's class is: <b>{{ class.access_code }}</b></p>
<p>The new password for the above student is: <b>{{ password }}</b></p>

<div class='row'>
    <div class='small-3 columns'>
        <a class='portal_button' href="{% url 'portal.views.teacher_class' class.access_code %}">Return</a>
    </div>
    <div class='small-9 columns'></div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
