{% extends 'portal/basenonav.html' %}
{% load static %}
{% load compress %}

{% block css %}
    {{block.super}}
    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static 'portal/css/portal.scss' %}' />
    {% endcompress %}
{% endblock %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<header>
    <h1>[ code ] for { life }</h1>
</header>

<div class='row'>
    <div class='small-6 small-centered columns'>

        <div class='panel radius'>
            <h3>Teachers - sign up</h3>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class='row'>
                    <div class='small-6 columns'>
                        {{ form.first_name.errors }}
                        {{ form.first_name }}
                    </div>
                    <div class='small-6 columns'>
                        {{ form.last_name.errors }}
                        {{ form.last_name }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        {{ form.email.errors }}
                        {{ form.email }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        {{ form.school.errors }}
                        {{ form.school }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        {{ form.password.errors }}
                        {{ form.password }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        {{ form.confirm_password.errors }}
                        {{ form.confirm_password }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-9 columns'></div>

                    <div class='small-3 columns'>
                        <input type='submit' value='Sign Up!'/>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
