@import "partials/base";

@import "partials/banners";
@import "partials/buttons";
@import "partials/footer";
@import "partials/forms";
@import "partials/header";
@import "partials/images-backgrounds";
@import "partials/onboarding";
@import "partials/subnavs";
@import "partials/tables";
@import "partials/text";
@import "partials/ui-dialog";
@import "partials/utils";

body {
  padding-top: 80px;
}