[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==44.0.1"
django = "==5.2.11"
django-countries = "==7.6.1"
django-csp = "==3.8"
django-import-export = "==4.2.0"
django-pipeline = "==4.1.0"
django-two-factor-auth = "==1.18.1"
djangorestframework = "==3.16.1"
libsass = "==0.23.0"
more-itertools = "==8.7.0"
pgeocode = "==0.4.0"
psycopg2-binary = "==2.9.9"
pyjwt = "==2.6.0"
pysqlite3-binary = "==0.5.4"

[dev-packages]

[requires]
python_version = "3.12"
