{% extends 'portal/form_shapes.html' %}
{% load static %}
{% load app_tags %}

{% block form_content %}
    <div id="independent_login_page"></div>
    <h4 class="center-block">Welcome</h4>
    <h5>Please enter your login details.</h5>
    <form id="independent_student_login_form" method="post" autocomplete="off">

        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="form__input">
            {{ form.username }}
            <small>{{ form.username.help_text }}</small>
            {{ form.username.errors }}
        </div>

        <div class="form--row">
            <div class="input--icon">
                {{ form.password }} <span id="password-field-icon" class="iconify" data-icon="material-symbols:visibility-off"></span>
            </div>
            <small>{{ form.password.help_text }}</small>
            {{ form.password.errors }}
        </div>

        {{ form.captcha }}

        <div class="background">
            <p class="text-left"><strong>Forgotten your password?</strong></p>
            <p class="text-left">Don't worry, you can
                <a id="student_forgotten_password_button" href="{% url 'student_password_reset' %}">reset your password</a>.
            </p>
        </div>

        <p class="text-left"><strong>Part of a school or club?</strong>
            <a href="{% url 'student_login_access_code' %}">Log in here</a>.
        </p>

        <div class="d-flex justify-content-end row">
            <button type="submit" name="independent_student_login"
                    class="button button--home button--login button-right-arrow">Log in</button>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'portal/js/independentLogin.js' %}"></script>
{% endblock form_content %}
