@import 'base';

.banner {
  p {
    a,
    a:visited,
    a:active {
      border-bottom: 1px dotted $color-text-secondary;
      color: $color-text-secondary;
      text-decoration: none;
    }

    a:hover {
      border-bottom: 1px solid $color-text-secondary;
      color: $color-text-secondary;
      text-decoration: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  p,
  a {
    color: $color-text-secondary;
  }

  .row {
    @include _padding(0px, 0px, 30px, 0px);
  }

  .banner--rapid-router--content {
    @include _padding(70px, 0px, 100px, 0px);
  }

  .banner--aimmo--content {
    @include _padding(20 * $spacing, 0px, 20 * $spacing, 0px);
    display: flex;
    justify-content: center;
  }

  div[class^='col-sm'] {
    padding: 0;
  }
}

.banner--aimmo-landing--content {
  @include _padding(20 * $spacing, 0px, 20 * $spacing, 0px);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .kurono-logo {
    @include _padding(0px, 0px, 5 * $spacing, 0px);
    width: 80vw;
  }
}

.banner--picture {
  height: 64 * $spacing;
  margin: 0 auto 0;
  overflow: hidden;
  transform: rotate(120deg);
  visibility: hidden;
  width: 74 * $spacing;
}

.banner--picture__inside1 {
  height: 100%;
  overflow: hidden;
  transform: rotate(-60deg);
  width: 100%;
}

.banner--picture__inside2 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  transform: rotate(-60deg);
  visibility: visible;
  width: 100%;
}

.banner--picture--educate {
  background-image: url('../img/home_educate_hero.jpg');
}

.banner--picture--play {
  background-image: url('../img/home_play_hero.jpg');
}

.banner--picture--about {
  background-image: url('../img/about_us_hero.jpg');
}

.banner--picture--help {
  background-image: url('../img/help_and_support_hero.jpg');
}

.banner--picture--terms,
.banner--picture--tools {
  background-image: url('../img/teaching_resources_hero.jpg');
}

.banner--picture--aimmo {
  background-image: url('../img/kurono_hero.jpg');
}

.banner--picture--aimmo-teaching-packs {
  background-image: url('../img/kurono_teaching_packs.svg');
}

.banner--picture--aimmo-resources {
  background-image: url('../img/kurono_time_machine_hero.png');
}

.banner--homepage {
  height: calc(100vh - #{$menu-height});
  min-height: 768px;
  @include _padding(4 * $spacing, 0px, 4 * $spacing, 0px);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  p {
    @include _font-size(24px);
    @include _padding(0px, 0px, 60px, 10px);
  }
}

.banner--homepage__text {
  @include _font-size(140px);
  @include _line-height(120px);
  @include _padding(0px, 0px, 50px, 0px);
  background-color: transparent;
  color: $color-text-secondary;
}

.banner--game {
  @include _margin(8 * $spacing, auto, 0px, auto);
  @include _padding(25 * $spacing, 4 * $spacing, 25 * $spacing, 4 * $spacing);
  display: flex;
  justify-content: center;
  text-align: center;

  + .banner--game {
    @include _margin(8 * $spacing, auto, 8 * $spacing, auto);
  }

  .banner--game__ages {
    font-family: 'Baloo', serif;
    font-weight: 500;
  }

  .banner--game__title {
    @include _font-size($game-banner-title-font-size);
    @include _line-height($game-banner-title-line-height);
    color: $color-text-secondary;
  }

  .banner--game__text {
    @include _padding(5 * $spacing, 0px, 5 * $spacing, 0px);
    color: $color-text-secondary;
  }
}

.banner__text--primary {
  color: $color-text-secondary;
}

.banner__text--secondary {
  color: $color-text-primary;
}

.banner--homepage--teacher,
.banner--teacher {
  background-image: url('../img/background_blue.png');
  background-position: top right;
}

.banner--homepage--student,
.banner--student {
  background-image: url('../img/background_orange.png');
  background-position: top left;
}

.banner--teacher,
.banner--student {
  align-items: center;
  display: flex;
  height: 64 * $spacing;
  justify-content: center;

  .banner__text--center {
    @include _padding(97.5px, 0px, 97.5px, 0px);
  }
}

.banner--student--plain {
  background-color: $color-background-play;
  background-image: none;
}

.banner--teacher--plain {
  @include _padding(20px, 0px, 50px, 0px);
  background-color: $color-background-teach;
  background-image: none;

  .progress-arrow__body--in-progress p {
    color: $color-background-tertiary;
  }
}

.banner--aimmo-home {
  .dropdown {
    width: 50%;

    button,
    ul {
      @include _margin(0px, 0px, 0px, 0px);
      width: 100%;
      z-index: $hover-content-level;
    }

    li {
      border-bottom: 1px solid $color-table-border;
    }

    .dropdown-menu__option__text {
      border-bottom: 1px solid transparent;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;

      &:hover {
        border-bottom: 1px solid $color-text-gray;
      }
    }

    .glyphicon {
      @include _font-size(10px);
      @include _padding(8px, 0px, 0px, 0px);
    }
  }
}

.banner--teacher--create-aimmo-game {
  align-items: start;

  .kurono-logo {
    @include _padding(20px, 0px, 25px, 0px);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    img {
      width: 90 * $spacing;
    }
  }

  .button-group {
    display: flex;
    align-items: flex-end;
  }

  #create-game-form {
    padding: 0;

    .errorlist {
      display: none;
    }

    label {
      color: white;
    }

    input,
    select {
      height: auto;
      margin: 0;

      &::placeholder {
        color: $color-error;
      }
    }
  }

  img {
    @include _margin(14px, 0px, 0px, 0px);
  }
}

.banner--rapid-router--background {
  background-image: url('../img/rapid_router_landing_hero.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner--aimmo--background {
  background-image: url('../img/kurono_landing_hero.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner--aimmo--blurred-background {
  background-image: url('../img/kurono_landing_hero_blurred.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner--aimmo--video--container {
  @include _padding(12 * $spacing, 0px, 12 * $spacing, 0px);
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.banner--aimmo--video {
  left: 0px;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: $behind-content-level;
}

.banner--aimmo--video--text {
  @include _padding(10 * $spacing, 10 * $spacing, 10 * $spacing, 10 * $spacing);
  color: $color-text-secondary;
}

.banner--resources {
  @include _padding(0px, 0px, 30px, 0px);
  align-items: center;
  background-image: url('../img/background_blue.png');
  background-position: top right;
  display: flex;
  justify-content: center;

  iframe {
    @include _margin(30px, 30px, 0px, 0px);
    height: 320px;
    width: 560px;
  }
}

.banner--error-page {
  @include _padding(100px, 0px, 100px, 10px);

  p {
    @include _font-size(24px);
  }
}

@media (max-width: $tablet-large-max-width) {
  .banner {
    .col-sm-offset-2 {
      margin-left: 0;
    }
  }

  .banner--homepage {
    .col-sm-7 {
      width: 100%;
    }
  }
}

@media (min-width: $tablet-large-min-width) {
  .banner__text--primary,
  .banner__text--secondary {
    @include _font-size(72px);
    @include _line-height(75px);
  }
}

@media (min-width: $tablet-small-min-width) {
  .banner__item,
  .button--banner__item {
    display: none;
  }

  .banner--aimmo-landing--content {
    .kurono-logo {
      width: 615px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .banner--homepage {
    @include _padding(50px, 0px, 50px, 10px);
    height: auto;
  }

  .banner__item {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .banner__item--teacher {
    background-color: $color-background-teach;
  }

  .banner__item--student {
    background-color: $color-background-play;
  }

  .banner {
    @include _padding(10px, 10px, 50px, 10px);
    text-align: center;

    p a {
      color: $color-text-secondary;
    }

    .banner--picture {
      display: none;
    }
  }

  .banner--rapid-router {
    @include _padding(50px, 0px, 150px, 0px);
    flex-direction: column;

    .button {
      margin-bottom: 50px;
    }
  }

  .banner--aimmo {
    @include _padding(50px, 0px, 150px, 0px);
    flex-direction: column;

    .button {
      margin-bottom: 50px;
    }
  }

  .banner--game {
    @include _padding(4 * $spacing, 4 * $spacing, 4 * $spacing, 4 * $spacing);

    .banner--game__title {
      @include _font-size($game-banner-title-font-size-small);
      @include _line-height($game-banner-title-line-height-small);
    }
  }

  .banner--aimmo-landing--content {
    @include _padding(8 * $spacing, 8 * $spacing, 8 * $spacing, 8 * $spacing);
  }

  .banner--aimmo--video {
    max-height: 300px;
    object-fit: none;
  }

  .banner--aimmo--video--container {
    @include _padding(0px, 0px, 0px, 0px);
  }
}
