@import "base";

.footer {
  background-color: $color-background-primary;
  text-align: center;

  p,
  label {
    @include _padding(0px, 0px, 10px, 0px);
    font-weight: 600;
    margin: 0;
  }

  small {
    @include _padding(0px, 0px, 10px, 0px);
  }

  .material-icons-outlined {
    @include _margin(20px, 0px, 0px, 0px);
  }

  form {
    @include _margin(20px, 0px, 20px, 0px);
    padding: 0;
  }

  p,
  label,
  small,
  .material-icons-outlined {
    color: $color-text-secondary;

    a,
    a:visited,
    a:active {
      border: none;
      color: $color-text-secondary;
    }

    a:hover {
      border-bottom: 1px solid $color-text-secondary;
      color: $color-text-secondary;
    }
  }

  .social-media a,
  .social-media a:hover {
    border-bottom: none;
    color: $color-text-secondary;
    display: flex;
  }

  .external-links {
    @include _margin(20px, 0px, 0px, 0px);
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .social-media {
    @include _font-size(58px);
    align-items: center;
    display: flex;
  }

  input[type='email'] {
    @include _font-size(20px);
    border: none;
    border-radius: 0;
    height: 50px;
    margin: 0;
    vertical-align: middle;
  }

  input[type='email']:focus {
    border: none;
    outline: none;
  }

  .input-button {
    @include _padding(2px, 0px, 0px, 13px);
    background-color: $color-background-secondary;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 6%;
  }

  .form--news-signup {
    align-items: center;
    display: flex;

    .form--news-signup__input {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }

    #newsletter_email_field {
      @include _padding(0px, 40px, 0px, 15px);
    }

    .iconify-email-outline {
      @include _font_size(24px);
      @include _margin(0px, 15px, 0px, 0px);
      position: absolute;
    }
  }

  table {
    border: none;
    margin: 0;
    text-align: left;

    tr,
    td {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  .button {
    border: 0;
  }
}

@media (min-width: $tablet-large-min-width) {
  .footer {
    .button {
      @include _margin(0px, 0px, 0px, 20px);
    }

    .social-media a {
      @include _margin(0px, 20px, 0px, 0px);
    }
  }
}

@media (max-width: $tablet-small-max-width) {
  .footer {
    text-align: center;

    img {
      @include _padding(25px, 15px, 25px, 15px);
      float: none;
      max-width: 50%;
    }

    tr {
      display: grid;
    }

    .external-links,
    .form--news-signup {
      flex-direction: column;
    }

    .social-media a {
      @include _margin(0px, 10px, 0px, 10px);
    }

    .form--news-signup__input,
    .input--icon,
    .button {
      width: 100%;
    }
  }
}
