@import "base";

.footer {
  background-color: #e0004d;
  text-align: center;

  p,
  .material-icons-outlined {
    color: $color-text-secondary;

    a,
    a:visited,
    a:active {
      border-bottom: 1px dotted $color-text-secondary;
      text-decoration: none;
      color: $color-text-secondary;
    }

    a:hover {
      border-bottom: 1px solid $color-text-secondary;
      text-decoration: none;
      color: $color-text-secondary;
    }

    a {
      color: $color-text-secondary;
    }
  }

  .row {
    padding: 0;

    p {
      @include _padding(0px, 15px, 0px, 15px);
      display: inline;
    }
  }

  .no-padding {
    padding: 0;
  }

  .back-to-top,
  .social-media a,
  .social-media a:hover {
    border-bottom: none;
    color: $color-text-secondary;
  }

  .social-media {
    @include _font-size(58px);
    @include _margin(20px, 0px, 0px, 0px);
    align-items: center;
    display: flex;

    img {
      @include _padding(0px, 15px, 0px, 15px);
    }
  }

  input {
    @include _font-size(20px);
    @include _margin(0px, -3px, 0px, 5px);
    @include _padding(0px, 0px, 0px, 15px);
    border: none;
    height: 50px;
    vertical-align: middle;
    width: 20%;
  }

  input:focus {
    border: none;
    outline: none;
  }

  .input-button {
    @include _padding(2px, 0px, 0px, 13px);
    background-color: $color-background-secondary;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 6%;
  }

  .form--news-signup {
    position: relative;

    #newsletter_email_field {
      padding-right: 40px;
    }

    .iconify-email-outline {
      position: absolute;
      top: 76px;
      left: 334px;
    }
  }

  table {
    border: none;
    margin: 0;
    text-align: left;

    tr,
    td {
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}
