@import 'base';

$column--info-width: 13%;
$column--icon-width: 3%;

@media (min-width: 760px) {
  .grid-games {
    @include _column-gap($spacing*12);
    display: grid;
    grid-auto-flow: column;
    grid-template: auto auto auto / auto;

    img {
      min-height: 240px;
    }
  }

  .grid-sessions {
    border-top: 1px solid $color-table-border;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns:
            $column--info-width
            auto
            $column--info-width
            $column--icon-width
            $column--icon-width;

    & > * {
      align-items: center;
      border-bottom: 1px solid $color-table-border;
      display: flex;
    }

    .grid-icon {
      max-height: 60%;
      max-width: 60%;
    }
  }

  .grid-resources {
    border-top: 1px solid $color-table-border;
    display: grid;
    grid-auto-rows: auto;

    & > * {
      border-bottom: 1px solid $color-table-border;
    }
  }

  $max-resource-sheets-numbers-per-key-stage: (
          ks1: 4,
          ks2: 3,
          lower-ks3: 4,
          intermediate-ks3: 2,
          upper-ks3: 3
  );

  @each $key-stage, $max-resource-sheets-number in $max-resource-sheets-numbers-per-key-stage {
    .grid-resources--#{$key-stage} {
      grid-template-columns: $column--info-width repeat($max-resource-sheets-number, auto);
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-sessions,
  .grid-resources {

    & > * {
      border: none;
    }
  }

  .grid-icon {
    display: none;
  }
}

@media (max-width: 760px) {
  .grid-icon {
    display: none;
  }
}
