@import 'base';

$column--info-width: 13%;
$column--icon-width: 3%;

.grid-cards {
  @include _gap($spacing * 10);
  @include _padding($spacing * 4, 0px, 0px, 0px);
  display: grid;
  grid-auto-flow: row;
  grid-template: auto / repeat(3, 1fr);

  .card {
    @include _border-radius(8px, 8px, 8px, 8px);
    background-color: $color-background-secondary;

    h4 {
      @include _padding(0px, 0px, $spacing * 4, 0px);
      margin: 0;
    }

    .background {
      @include _padding($spacing * 4, 0px, 0px, 0px);

      .button {
        align-items: center;
        display: inline-flex;

        .glyphicon {
          @include _font-size(25px);
          @include _padding(0px, $spacing, 0px, 0px);
        }
      }
    }
  }
}

.grid-cards--no-image {
  .card {
    @include _padding($spacing * 4, $spacing * 4, $spacing * 4, $spacing * 4);

    p {
      padding: 0;
    }
  }
}

.grid-cards--image {
  p {
    @include _padding($spacing * 4, $spacing * 4, $spacing * 4, $spacing * 4);
  }

  img {
    @include _border-radius(8px, 8px, 0px, 0px);
    max-height: fit-content;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
  }
}

@media (min-width: 768px) {
  .grid-games {
    @include _column-gap($spacing * 10);
    display: grid;
    grid-auto-flow: column;
    grid-template: auto auto auto / auto;

    img {
      min-height: 240px;
    }
  }

  .grid-sessions {
    border-top: 1px solid $color-table-border;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns:
            $column--info-width
            auto
            $column--info-width
            $column--icon-width
            $column--icon-width;

    & > * {
      align-items: center;
      border-bottom: 1px solid $color-table-border;
      display: flex;
    }

    .grid-icon {
      max-height: 60%;
      max-width: 60%;
    }
  }

  .grid-resources {
    border-top: 1px solid $color-table-border;
    display: grid;
    grid-auto-rows: auto;

    & > * {
      border-bottom: 1px solid $color-table-border;
    }
  }

  .grid-benefits {
    @include _column-gap($spacing * 10);
    display: grid;
    display: -ms-grid;
    grid-template-areas: "image1 image2 image3"
                          "title1 title2 title3"
                          "text1 text2 text3"
                          "button1 button2 button3";
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
  }

  .grid-benefits__button {
    align-content: center;
    display: flex;
  }

  .grid-benefits__button1 {
    grid-area: button1;
  }

  .grid-benefits__button2 {
    grid-area: button2;
  }

  .grid-benefits__button3 {
    grid-area: button3;
  }

  $max-resource-sheets-numbers-per-key-stage: (
          ks1: 4,
          ks2: 3,
          lower-ks3: 4,
          intermediate-ks3: 2,
          upper-ks3: 3
  );

  @each $key-stage, $max-resource-sheets-number in $max-resource-sheets-numbers-per-key-stage {
    .grid-resources--#{$key-stage} {
      grid-template-columns: $column--info-width repeat($max-resource-sheets-number, auto);
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-sessions,
  .grid-resources {

    & > * {
      border: none;
    }
  }

  .grid-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .grid-icon {
    display: none;
  }

  .grid-benefits {
    display: grid;
    display: -ms-grid;
    grid-template-areas: "image1"
                          "title1"
                          "text1"
                          "button1"
                          "image2"
                          "title2"
                          "text2"
                          "button2"
                          "image3"
                          "title3"
                          "text3"
                          "button3";
    row-gap: 4 * $spacing;
  }

  .grid-cards {
    grid-template: auto / auto;
  }
}

@media (max-width: 768px) and (orientation:landscape) {
  .grid-cards {
    grid-template: auto / repeat(3, 1fr);
  }
}
