@import 'base';

.grid-games {
  @include _column-gap($spacing*12);
  display: grid;
  grid-auto-flow: column;
  grid-template: auto auto auto / auto;

  img {
    min-height: 240px;
  }
}

@media (max-width: 760px) {
  .grid-games {
    grid-auto-flow: row;
  }
}
