@import 'base';


.dropdown {
  display: flex;
}

.menu__right-side {
  .dropdown {
    width: 80%;
  }
}

.dropdown__text {
  display: block;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
}

.dropdown-menu {
  @include _border-radius(0px, 0px, 10px, 10px);
  border: none;
  font-weight: 300;
  margin: 0;
  max-height: 300px;
  min-width: 0;
  overflow: auto;
  padding: 0;
  width: 80%;

  .dropdown-menu__option {

    .button--regular,
    .button--regular:hover,
    .button--regular:focus,
    .button--regular:visited {
      @include _line-height(25px);
      @include _padding(10px, 15px, 10px, 15px);
      align-items: center;
      background: $color-background-tertiary;
      color: $color-text-secondary;
      display: flex;

      .dropdown-menu__option__text {
        border-bottom: 1px dotted transparent;
        text-decoration: none;
      }

      .glyphicon {
        @include _font-size(18px);
        @include _padding(0px, 10px, 0px, 0px);
      }

    }

    .button--regular:hover {

      .dropdown-menu__option__text {
        border-bottom: 1px solid $color-text-secondary;
        cursor: pointer;
        text-decoration: none;
      }

    }

    &:last-of-type {

      .button--regular {
        border: none;
      }

    }

  }

}

.dropdown-content {
  @include _box-shadow(0px, 8px, 16px, 0px, $color-background-box-shadow);
  @include _margin(54px, 0px, 0px, 20px);
  background-color: $color-background-secondary;
  display: none;
  position: absolute;
  width: 100%;
  z-index: $hover-content-level;

  a {
    color: $color-text-tertiary;
    display: block;
    padding: 12px 16px;

    small {
      border-bottom: 1px dotted $color-text-tertiary;
      text-decoration: none;
    }
  }

  a:hover {
    small {
      border-bottom: 1px solid $color-text-tertiary;
      text-decoration: none;
    }
  }
}

.dropdown:hover {
  .button--menu--student--active {
    border-bottom: 6px solid $color-button-secondary-border-light;
  }

  .dropdown-content {
    display: block;
  }
}

@media (min-width: 1400px) {

  .menu__right-side {
    align-items: center;
    display: flex;
    justify-content: center;
  }

}

@media (min-width: 760px) and (max-width: 1200px) {

  .home-icon {
    display: none;
  }

}

@media (min-width: 760px) and (max-width: 1400px) {

  .menu__right-side {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &.col-sm-3 {
      width: 100%;
    }
  }

}

@media (min-width: 760px) {

  .hamburger {
    display: none;
  }

  .menu {
    @include _padding(10px, 0px, 0px, 0px);
    background-color: $color-background-secondary;
    border-bottom: 1px solid $color-background-tertiary;
    display: flex;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $nav-bar-level;

    .button--menu {
      border-radius: 0;
    }

    .button--menu--primary {
      @include _padding(10px, 0px, 16px, 0px);
    }

    .button--menu--secondary {
      @include _padding(10px, 0px, 18px, 0px);
    }

    .button--menu--enabled {
      color: $color-text-tertiary;
    }

    .button--menu--disabled {
      color: $color-button-disabled;
    }

    .button--secondary--no-border {
      @include _font-size(30px);
      font-weight: 500;
    }

    .button--primary--general-play {
      @include _margin(0px, 30px, 0px, 0px);
    }

  }

  .menu__left-side {
    align-items: flex-end;
    display: flex;
  }

  .button--menu__item,
  .button--menu__item__sub {
    display: none;
  }

}

@media (max-width: 760px) {

  .menu {
    @include _padding(0px, 0px, 15px, 0px);
    background-color: $color-background-tertiary;

    .hamburger {
      @include _margin(15px, 0px, 0px, 15px);
      background-color: transparent;
      background-image: url('../img/hamburger.png');
      border-radius: 0;
      height: 30px;
      width: 48px;
    }

    .logo-horizontal {
      margin: 0;
      @include _padding(0px, 0px, 10px, 15px);
      content: url('../img/logo_c4l_horizontal.png');
      position: relative;
      width: 80%;
      z-index: $hover-content-level;
    }

    button {
      @include _margin(15px, 5px, 0px, 5px);
    }

    .button--menu,
    .home-icon {
      display: none;
    }

  }

  .menu__right-side {
    display: none;
  }

  .menu__left-side {
    @include _padding(0px, 0px, 10px, 0px);
    align-items: flex-end;
    display: inline;
  }
}
