@import "base";

.dropdown {
  display: flex;

  &.header__account-details-dropdown {
    justify-content: flex-end;
  }

  > .button--menu--enabled:hover {
    text-decoration: none;
  }
}

.dropdown__text {
  display: block;
  text-align: left;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
}

.dropdown-menu {
  @include _border-radius(0px, 0px, 0px, 0px);
  border: 2px solid $color-orange;
  border-top: 0;
  font-weight: 300;
  margin: 0;
  max-height: 300px;
  min-width: 0;
  overflow: auto;
  padding: 0;

  .dropdown-menu__option {
    .button--regular,
    .button--regular:hover,
    .button--regular:focus,
    .button--regular:visited {
      @include _line-height($spacing * 5);
      @include _padding($spacing * 2, $spacing * 3, $spacing * 2, $spacing * 3);
      align-items: center;
      background: #ffffff;
      border-bottom: 2px solid $color-orange;
      color: $color-text-tertiary;
      display: flex;
      justify-content: space-between;
      margin: 0;

      .dropdown-menu__option__text {
        text-decoration: none;
      }

      .glyphicon {
        @include _font-size(18px);
        @include _padding(0px, $spacing * 2, 0px, 0px);
      }
    }

    .button--regular:hover {
      .dropdown-menu__option__text {
        cursor: pointer;
        text-decoration: none;
      }
    }

    &:last-of-type {
      .button--regular {
        border: none;
      }
    }
  }

  &.header__account-details-dropdown-menu {
    left: auto;
    right: 0;
  }
}

.dropdown-content {
  @include _box-shadow(0px, 8px, 16px, 0px, $color-background-box-shadow);
  @include _margin(54px, 0px, 0px, 0px);
  background-color: $color-background-secondary;
  display: none;
  position: absolute;
  width: 100%;
  z-index: $hover-content-level;

  a {
    color: $color-text-tertiary;
    display: block;
    padding: 12px 16px;

    small {
      border-bottom: 1px dotted $color-text-tertiary;
      text-decoration: none;
    }
  }

  a:hover {
    small {
      border-bottom: 1px solid $color-text-tertiary;
      text-decoration: none;
    }
  }
}

.dropdown:hover {
  .button--menu--student--active {
    border-bottom: 6px solid $color-button-secondary-border-light;
  }

  .dropdown-content {
    display: block;
  }
}

.button--dropdown {
  &.header__account-details-dropdown {
    justify-content: space-between;

    &::after {
      content: "\e8a6";
    }
  }
}

.menu a {
  display: flex;
  align-items: center;
}

@media (min-width: $desktop-large-min-width) {
  .menu__brand {
    a {
      align-items: center;
      display: flex;
      height: 100%;
    }
  }
}

@media (min-width: $tablet-large-min-width) {
  .header__account-details-dropdown,
  .header__account-details-dropdown-menu {
    min-width: 190px;
    width: 80%;
    background: transparent;
  }
}

@media (min-width: $tablet-small-min-width) and (max-width: $tablet-small-max-width) {
  .menu__brand {
    @include _padding($spacing * 2, 0px, $spacing * 2, 0px);
  }

  .header__account-details-dropdown,
  .header__account-details-dropdown-menu {
    width: 100%;
  }
}

@media (min-width: $tablet-small-min-width) {
  .menu__right-side {
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
}

@media (min-width: $desktop-small-min-width) {
  .menu {
    height: $menu-height;

    .logo {
      height: 106px;
    }

    .menu__brand {
      @include _margin(0px, $spacing * 7, 0px, 0px);
    }

    .menu__brand--ocado {
      img {
        height: 68px;
      }
    }
  }
}

@media (min-width: $tablet-small-min-width) and (max-width: $tablet-large-max-width) {
  .menu {
    height: $menu-height-sm;

    .logo {
      @include _padding(0px, $spacing * 9, 0px, $spacing * 3);
      height: 78px;
    }

    .menu__brand {
      @include _margin(0px, $spacing * 7, 0px, 0px);
    }

    .menu__brand--ocado {
      img {
        height: 50px;
      }
    }
  }
}

@media (min-width: $tablet-small-min-width) {
  .menu {
    background-color: $color-background-secondary;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $nav-bar-level;

    .button--menu {
      border-radius: 0;
    }

    .button--menu--secondary {
      @include _padding($spacing * 3, 0px, $spacing * 3, 0px);
    }

    .button--menu--enabled {
      color: $color-text-tertiary;
    }

    .button--menu--disabled {
      color: $color-button-disabled;
    }

    .button--secondary--no-border {
      @include _font-size(30px);
      font-weight: 500;
    }

    .button--primary--general-play {
      @include _margin(0px, $spacing * 6, 0px, 0px);
    }

    .button--register {
      @include _margin(0px, $spacing * 6, 0px, 0px);
      justify-content: center;
      width: 155px;
    }

    .login {
      width: 155px;
    }
  }

  .menu__brand {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      max-width: none;
    }
  }

  .menu__left-side {
    align-items: center;
    display: flex;
  }

  .button--menu__item,
  .button--menu__item__sub {
    display: none;
  }

  .header__login-options-dropdown-menu {
    width: 100%;
  }
}

.header__ot-logo--no-tagline {
  height: 30px;
}

@media (max-width: $mobile-max-width) {
  .menu {
    height: $menu-height-xs;

    .menu__brand {
      @include _padding($spacing * 3, $spacing * 4, $spacing * 3, $spacing * 4);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    .logo {
      @include _padding(0px, 0px, 0px, 0px);
      height: 50px;
    }

    button {
      @include _margin($spacing * 3, $spacing, 0px, $spacing);
    }

    .button--menu {
      display: none;
    }
  }

  .menu__right-side {
    display: none;
  }

  .menu__left-side {
    @include _padding(0px, 0px, $spacing * 2, 0px);
    align-items: center;
    display: inline;
  }
}
