@import "base";

.sub-nav,
.hijacked-warning {
  @include _padding(0px, 20px, 0px, 20px);
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  text-align: center;
  width: 100%;
  z-index: $nav-bar-level - 1;

  .material-icons-outlined.md-32 {
    @include _font_size(32px);
  }

  .button {
    @include _margin(0px, 16px, 0px, 16px);
  }

  .dropdown {
    .button {
      @include _margin(0px, 1px, 0px, 1px);
    }
  }

  .dropdown-menu {
    width: 100%;

    .dropdown-menu__option {
      .button {
        border-bottom: 1px solid $color-button-outlined-border;
      }
    }
  }

  form {
    padding: 0;

    .button {
      margin: 0;
    }
  }

  p {
    @include _padding(0px, 20px, 0px, 20px);
    text-align: left;
  }
}

.sub-nav--hidden {
  display: none;
}

.sub-nav--fixed {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $nav-bar-level + 1;
}

.sub-nav--warning {
  background-color: $color-background-sub-banner;
  color: $color-text-primary;

  .button--secondary--dark {
    &:hover,
    &:active,
    &:focus {
      background-color: $color-background-tertiary;
      color: $color-text-secondary;
    }
  }
}

.sub-nav--warning--fixed {
  margin: 0;
  position: fixed;
  top: $menu-height;
  width: 100%;
  z-index: $nav-bar-level - 1;
}

.sub-nav--message--fixed {
  margin: 0;
  position: fixed;
  top: $menu-height;
  width: 100%;
  z-index: $nav-bar-level - 1;
}

.sub-nav--key-stage {
  background-color: $color-background-key-stage;

  .sub-nav__text {
    color: $color-text-secondary;
    margin: 0;
  }
}

.sub-nav--filler {
  padding-top: 0;
}

.sub-nav--teacher {
  background-color: $color-primary-300;
  color: $color-text-secondary;

  .button:hover,
  .button:focus {
    background: none;
    text-decoration: underline;
  }

  /* Inverted outline button for sub nav bar */
  .active {
    .button,
    .button:hover,
    .button:active,
    .button:focus {
      background-color: $color-background-secondary;
      color: $color-primary-300;
      text-decoration: none;
    }
  }
}

.sub-nav--student {
  background-color: $color-background-play;
}

.sub-nav__content {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  .button-group {
    padding: 0;
  }

  p {
    width: 65%;
  }
}

.sub-nav--icon {
  @include _font-size(40px);
  color: $color-text-primary;
}

.success,
.info,
.warning {
  background-color: $color-background-sub-banner;
  border-bottom: 1px solid $color-message-border;
}

.hijacked-warning {
  .close {
    display: none;
  }
}

@media (min-width: $desktop-small-min-width) {
  .sub-nav--fixed {
    height: $menu-height;
  }

  .sub-nav--filler {
    @include _padding($menu-height + 60px, 0px, 0px, 0px);
  }
}

@media (min-width: $tablet-small-min-width) and (max-width: $tablet-large-max-width) {
  .sub-nav--fixed {
    height: $menu-height-xs;
  }

  .sub-nav--warning--fixed,
  .sub-nav--message--fixed {
    top: $menu-height-xs;
  }

  .sub-nav--filler {
    @include _padding($menu-height-xs + 60px, 0px, 0px, 0px);
  }
}

@media (min-width: $tablet-large-min-width) {
  .sub-nav__content {
    p {
      padding: 0;
    }
  }
}

@media (max-width: $tablet-small-max-width) {
  .sub-nav {
    @include _padding(20px, 20px, 20px, 20px);
    height: auto;

    .button {
      @include _margin(0px, 3px, 0px, 3px);
    }
  }

  .sub-nav__content {
    p {
      padding-left: 0;
    }
  }

  .sub-nav--warning--fixed,
  .sub-nav--message--fixed {
    position: static;
  }

  .sub-nav--filler {
    @include _padding(60px, 0px, 0px, 0px);
  }
}
