@import "base";

.sub-nav--warning {
  p,
  a,
  a:hover {
    color: $color-text-primary;
  }
}

.sub-nav {
  @include _padding(0px, 20px, 0px, 20px);
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  text-align: center;
  width: 100%;
  z-index: 2;

  .button--regular {
    @include _margin(0px, 16px, 0px, 16px);
  }

  form {
    padding: 0;

    button {
      margin: 0;
    }

  }

  p {
    @include _padding(0px, 20px, 0px, 20px);
    text-align: left;
  }

}

.sub-nav--hidden {
  display: none;
}

.sub-nav--fixed {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.sub-nav--warning--fixed {
  margin: 0;
  position: fixed;
  top: 80px;
  width: 100%;
}

.sub-nav--message--fixed {
  margin: 0;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 2;
}

.sub-nav--filler {
  padding-top: 160px;
}

.sub-nav--big-filler {
  padding-top: 240px;
}

.sub-nav--teacher {
  background-color: $color-background-teach;

  a:focus,
  a:hover,
  a:active {
    background-color: $color-background-secondary;
    color: $color-teacher-blue;
  }
}

.sub-nav--student {
  background-color: $color-background-play;

  .button--secondary--background-light {
    color: $color-background-play;
  }
}

.sub-nav--warning {
  background-color: $color-background-warning;
}

.success {
  background-color: $color-background-tint-quaternary;
  border-bottom: 1px solid grey;
}

.safe, .info {
  background-color: $color-background-tint-primary;
  border-bottom: 1px solid grey;
}

@media (max-width: 760px) {

  .sub-nav--teacher,
  .sub-nav--student {
    display: none;
  }
}