@import "base";

body {
  color: $color-text-tertiary;
}

h1 {
  @include _font-size(60px);
  font-weight: 500;

  a,
  a:hover,
  a:active,
  a:visited,
  a:focus {
    color: $color-text-secondary;
    font-weight: 500;
  }
}

h2 {
  @include _font-size(55px);
  font-weight: 500;
}

h3 {
  @include _font-size(45px);
  font-weight: 500;
}

h4 {
  @include _font-size(30px);
  font-weight: 500;
}

h5 {
  @include _font-size(24px);
  font-weight: 500;
}

h6 {
  @include _font-size(20px);
  font-weight: 500;
}

.subtitle1 {
  font-family: "Inter", sans-serif;
  @include _font-size(22px);
}

.subtitle2 {
  font-family: "Inter", sans-serif;
  @include _font-size(20px);
  font-weight: 500;
}

.quote {
  @include _font-size(24px);
  font-weight: 500;
}

a {
  color: $color-text-tertiary;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: $color-text-tertiary;
  text-decoration: underline;
  font-weight: 600;
}

.kurono-overview__paragraph {
  @include _font-size(25px);
  @include _line-height(35px);

  + .kurono-overview__paragraph {
    @include _padding(8 * $spacing, 0px, 0px, 0px);
  }
}

.grid-benefits__text1 {
  grid-area: text1;
}

.grid-benefits__text2 {
  grid-area: text2;
}

.grid-benefits__text3 {
  grid-area: text3;
}

.grid-benefits__title {
  @include _padding(0px, 0px, 0px, 0px);
}

.grid-benefits__title1 {
  grid-area: title1;
}

.grid-benefits__title2 {
  grid-area: title2;
}

.grid-benefits__title3 {
  grid-area: title3;
}

p,
div#ot-sdk-cookie-policy {
  @include _padding(10px, 0px, 10px, 0px);
  margin: 0;
}

small {
  font-size: 80%;
}

.disabled {
  color: $color-text-disabled;
}

blockquote {
  border-left: none;

  p {
    @include _font-size(20px);
    @include _line-height(25px);
    display: block;
    font-weight: lighter;
    text-align: right;

    &.says {
      font-family: "Space Grotesk", sans-serif;
      @include _font-size(24px);
      @include _line-height(30px);
      font-weight: 500;
      color: $color-quote-text;
      padding: 0 0 0 2.5rem;
      position: relative;
      text-align: left;
    }
  }
}

@media (min-width: $desktop-large-min-width) {
  html {
    font-size: 10px;
  }

  body {
    font-size: 18px;
  }
}

@media (min-width: $desktop-small-min-width) and (max-width: $desktop-small-max-width) {
  html {
    font-size: 9px;
  }

  body {
    font-size: 17px;
  }
}

@media (min-width: $tablet-large-min-width) and (max-width: $tablet-large-max-width) {
  html {
    font-size: 9px;
  }

  body {
    font-size: 16px;
  }
}

@media (min-width: $tablet-small-min-width) and (max-width: $tablet-small-max-width) {
  html {
    font-size: 8px;
  }

  body {
    font-size: 15px;
  }
}

@media (max-width: $mobile-max-width) {
  html {
    font-size: 7px;
  }

  body {
    font-size: 14px;
  }
}
