@import 'base';

.video--aimmo--play-online {
  max-width: 90%;
  -webkit-box-shadow: 0px 4px 18px 0px $color-video-shadow;
  -moz-box-shadow: 0px 4px 18px 0px $color-video-shadow;
  box-shadow: 0px 4px 18px 0px $color-video-shadow;
}
