@import "base";

#episodes .ui-accordion-header {
  color: #000;
  margin-bottom: 5px;
  padding: 10px;
  text-align: left;
}

#episodes .ui-state-default {
  border: 0;
  box-shadow: none;
  filter: none;
  font-weight: normal;
  text-shadow: none;

}

.episode_range_text {
  float: right;
  font-size: 10pt;
  margin-right: 2.2em;
  text-align: right;
  width: 98px;
}

.ui-widget-content p {
  padding-bottom: 15px;
}

.ui-widget-content a {
  line-height: 25px;
}
