{% extends 'redesign/base_new.html' %}

{% block topBar %}
<a href="{% url 'home_new' %}"><img class="logo col-sm-offset-1"></a>
<div class="sub-nav sub-nav--teacher sub-nav--fixed row--small">
    <a href="#school" class="button--regular button--secondary button--secondary--light">Your school</a>
    <a href="#classes" class="button--regular button--secondary button--secondary--light">Classes</a>
    <a href="#account" class="button--regular button--secondary button--secondary--light">Your Account</a>
</div>
<div class="background"></div>
{% endblock topBar %}

{% block content %}
{% endblock content %}
