{% extends 'redesign/base_new.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block secondaryButtons %}
<a class="button--menu button--menu--secondary button--menu--teacher--active">School / Club</a>
<a class="button--menu button--menu--secondary button--menu--disabled">Rapid Router</a>
<a class="button--menu button--menu--secondary button--menu--disabled">Teaching Resources</a>
{% endblock secondaryButtons %}

{% block content %}
<div class="banner banner--teacher--plain">
    <h1 class="col-sm-offset-2">Welcome, {{ user|make_into_username }}</h1>
    <h4 class="col-sm-offset-2">Everything you need to start coding with your class is here. Let&rsquo;s set you up.</h4>
    <div class="arrows">
        <div class="onboarding__step onboarding__step--done">
            <p class="body-text"><img title="Done" alt="Step done" src='{% static "portal/img_new/step_done.png" %}'>Account created</p>
        </div>
        {% block createJoinSchoolStep %}
        <div class="onboarding__step onboarding__step--in-progress">
            <p class="body-text"><img title="In progress" alt="Step in progress" src='{% static "portal/img_new/step_in_progress.png" %}'>Create/Join a school</p>
        </div>
        {% endblock createJoinSchoolStep %}
        {% block createClassStep %}
        <div class="onboarding__step onboarding__step--todo">
            <p class="body-text"><img title="To do" alt="Step to do" src='{% static "portal/img_new/step_undone.png" %}'>Create class</p>
        </div>
        {% endblock createClassStep %}
        {% block addStudentsStep %}
        <div class="onboarding__step onboarding__step--todo">
            <p class="body-text"><img title="To do" alt="Step to do" src='{% static "portal/img_new/step_undone.png" %}'>Add students</p>
        </div>
        {% endblock addStudentsStep %}
        {% block printStudentCardsStep %}
        <div class="onboarding__step onboarding__step--todo">
            <p class="body-text"><img title="To do" alt="Step to do" src='{% static "portal/img_new/step_undone.png" %}'>Print student IDs</p>
        </div>
        {% endblock printStudentCardsStep %}
        {% block setupCompleteStep %}
        <div class="onboarding__step onboarding__step--todo">
            <p class="body-text"><img title="To do" alt="Step to do" src='{% static "portal/img_new/step_undone.png" %}'>Setup complete</p>
        </div>
        {% endblock setupCompleteStep %}
    </div>
</div>
{% endblock content %}