{% extends 'redesign/teach_new/base_class_edit.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block scripts %}
{{ block.super }}
{% endblock scripts %}

{% block pageID %}id='homeWrapper'{% endblock %}

{% block content %}
{{ block.super }}

<div id="teach_class_page"></div>

<section class="background">
    <h2>{{ user|make_into_username }}, {{ class.name }} ({{ class.access_code }})</h2>
    <h4 class="col-sm-6 col-center">Here you can view and manage all of your students within each of your classes. We&rsquo;ve created reminder cards which includes each
        students login details for you to print out, meaning they won&rsquo;t forget and you don&rsquo;t have to remember this for them. You can add new students, transfer
        existing students to another one of your classes or to another teacher within your school or club, or remove students altogether.</h4>
</section>

<div class="background col-sm-8 col-center">
    <div class="row">
        <div class="col-sm-6">
            <h3>Current students</h3>
            <p class="body-text">Select an individual student to change their details, including their name and password.</p>
            <p class="body-text">Select multiple students using the checkboxes to reset their passwords, move them to another class, release them from your school and
                make them an independent Code for Life user, or delete them permanently.</p>
        </div>
        <div class="col-sm-6">
            <table id="student_table" class="header-secondary data-quaternary">
                <tr>
                    <th class="cell-center">
                        <p class="body-text">Select</p>
                        <input type="checkbox" name="vehicle" value="">
                        <p class="small-text">Select all</p>
                    </th>
                    <th><p class="body-text">Student details</p></th>
                    <th>
                        <p class="body-text">Status</p>
                        <div class="student-status student-status--online"></div><p class="small-text">Logged in</p>
                        <div class="student-status student-status--offline"></div><p class="small-text">Logged out</p>
                    </th>
                </tr>
                {% for student in students %}
                <tr>
                    <td class="cell-center"><input type="checkbox" name="vehicle" value=""></td>
                    <td>
                        <p class="small-text">{{ student.new_user.first_name }}</p>
                        <button class="button--small button--primary--positive">Edit</button>
                    </td>
                    <td>
                        {% if student.logged_in %}<div class="student-status student-status--online"></div>
                        {% else %}<div class="student-status student-status--offline"></div>{% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="table-footer" colspan="3" rowspan="2">
                        <p class="small-text">0/7 selected</p>
                        <button class="button--small button--primary--navigation">Move</button>
                        <button class="button--small button--primary--navigation">Release</button>
                        <button class="button--small button--primary--danger">Delete</button>
                        <button class="button--small button--primary--danger">Reset passwords</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <p class="body-text"><a href="{% url 'dashboard' %}#classes">&#10229; Back to Classes</a></p>
</div>

<div class="background background--quaternary">
    <div class="col-sm-8 col-center">
        <div class="row">
            <div class="col-sm-6">
                <h3>Add new students</h3>
                <p class="body-text">Add the students&rsquo; names to the box below with one student name per line. Students&rsquo; names will be used in their login
                    details, and so each name should be unique.</p>
                <p class="body-text">You have the option to use students&rsquo; first names only, or first and last names. Students&rsquo; names and the class access code
                    are required to sign in.</p>
            </div>
            <div class="col-sm-6">
                <form id='form-create-students' method='POST'>

                    {% csrf_token %}

                    {{ new_students_form.non_field_errors }}

                    {{ new_students_form.names.errors }}
                    {{ new_students_form.names }}

                    <button type='submit' class='button--regular button--primary--positive' name='new_students' value='Add students'>Add students</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="background col-sm-8 col-center">
    <h3>Edit other class settings</h3>
    <p class="body-text">Here you may change the name of the class, transfer the class to another teacher in the school or club, create permissions for the class to
        accept requests from external students, or delete classes for which there are no students. You can also create permissions for students in this class to see
        their classmates&rsquo; progress.</p>
    <button class="button--regular button--primary--positive">Edit settings</button>
    <button class="button--regular button--primary--danger">Delete class</button>
    <p class="body-text"><a href="{% url 'dashboard' %}#classes">&#10229; Back to Classes</a></p>
</div>

{% endblock content %}
