{% extends 'redesign/teach_new/base_registering.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block scripts %}
{{ block.super }}
{% endblock scripts %}

{% block pageID %}id='homeWrapper'{% endblock %}

{% block content %}
{{ block.super }}

<div id="onboarding_classes_page"></div>

<div class="banner banner--teacher--plain">
    <h1 class="col-sm-offset-2">Welcome, {{ user|make_into_username }}</h1>
    <h4 class="col-sm-offset-2">Everything you need to start coding with your class is here. Let&rsquo;s set you up.</h4>
    <div class="arrows col-sm-offset-1">
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_blue_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--done">
                <img src='{% static "portal/img_new/step_done.png" %}'>
                <p class="body-text">Account created</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_blue_front.png" %}'>
        </div>
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_blue_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--done">
                <img src='{% static "portal/img_new/step_done.png" %}'>
                <p class="body-text">Join a school</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_blue_front.png" %}'>
        </div>
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_white_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--in-progress">
                <img src='{% static "portal/img_new/step_in_progress.png" %}'>
                <p class="body-text">Classes</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_white_front.png" %}'>
        </div>
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_grey_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--undone">
                <img src='{% static "portal/img_new/step_undone.png" %}'>
                <p class="body-text">Add students</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_grey_front.png" %}'>
        </div>
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_grey_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--undone">
                <img src='{% static "portal/img_new/step_undone.png" %}'>
                <p class="body-text">Print student IDs</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_grey_front.png" %}'>
        </div>
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_grey_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--undone">
                <img src='{% static "portal/img_new/step_undone.png" %}'>
                <p class="body-text">Setup complete</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_grey_front.png" %}'>
        </div>
    </div>
</div>

{% if classes %}
<div class="background background--primary col-sm-12">
    <div class="form col-sm-4 col-sm-offset-4">
        {% for class in classes %}
        <h3>It looks like you&rsquo;ve already created a class ({{ class.name }}) in your school ({{ user.new_teacher.school.name }})</h3>
        <section class="background">
            <a id="add_students" href="{% url 'onboarding-class' class.access_code %}" class='button--regular button-primary button--primary--general-play' >Add students</a>
        </section>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="background background--primary col-sm-12">
    <div class="form col-sm-4 col-sm-offset-4">
        <h4>{{ user.new_teacher.school.name }}</h4>
        <h3>Create a class</h3>
        <form id="form-create-class" method='post'>

            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="section group">

                <label for="id_{{ form.name.html_name }}">{{ form.name.label }}</label>
                {{ form.name.errors }}
                {{ form.name }}
                <div class="col span_1_of_3">
                    <label for="id_{{ form.classmate_progress.html_name }}">{{ form.classmate_progress.label }}</label>
                    {{ form.classmate_progress.errors }}
                </div>
                <div class="col span_1_of_3">
                    {{ form.classmate_progress }}
                </div>
                <button id="create_class_button" type='submit' class='button--regular button-primary button--primary--general-play'>Create class</button>
            </div>
        </form>
    </div>
</div>
{% endif %}

{% endblock content %}
