{% extends 'redesign/teach_new/base_registering.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block scripts %}
{{ block.super }}
{% endblock scripts %}

{% block pageID %}id='homeWrapper'{% endblock %}

{% block content %}
{{ block.super }}

<div id="onboarding_students_page"></div>

<div class="banner banner--teacher--plain">
    <h1 class="col-sm-offset-2">Welcome, {{ user|make_into_username }}</h1>
    <h4 class="col-sm-offset-2">Everything you need to start coding with your class is here. Let&rsquo;s set you up.</h4>
    <div class="arrows col-sm-offset-1">
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_blue_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--done">
                <img src='{% static "portal/img_new/step_done.png" %}'>
                <p class="body-text">Account created</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_blue_front.png" %}'>
        </div>
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_blue_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--done">
                <img src='{% static "portal/img_new/step_done.png" %}'>
                <p class="body-text">Join a school</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_blue_front.png" %}'>
        </div>
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_blue_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--done">
                <img src='{% static "portal/img_new/step_done.png" %}'>
                <p class="body-text">Classes</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_blue_front.png" %}'>
        </div>
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_white_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--in-progress">
                <img src='{% static "portal/img_new/step_in_progress.png" %}'>
                <p class="body-text">Add students</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_white_front.png" %}'>
        </div>
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_grey_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--undone">
                <img src='{% static "portal/img_new/step_undone.png" %}'>
                <p class="body-text">Print student IDs</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_grey_front.png" %}'>
        </div>
        <div class="progress-arrow">
            <img class="progress-arrow__back" src='{% static "portal/img_new/arrow_grey_back.png" %}'>
            <div class="progress-arrow__body progress-arrow__body--undone">
                <img src='{% static "portal/img_new/step_undone.png" %}'>
                <p class="body-text">Setup complete</p>
            </div>
            <img class="progress-arrow__front" src='{% static "portal/img_new/arrow_grey_front.png" %}'>
        </div>
    </div>
</div>

<div class="background background--primary col-sm-12">
    <div class="form col-sm-4 col-sm-offset-4">
        <h4>{{ user.new_teacher.school.name }}</h4>
        {% if classes %}
            {% for class in classes %}
                <h3>Add students to class: {{ class.name }}</h3>
            {% endfor %}
        {% else %}
        <p>It doesn&rsquo;t look like you have any classes assigned to you. To create a class, use the &lsquo;New Class&rsquo; box on the right.</p>
        {% endif %}
        <p class="body-text">Add the students&rsquo; names to the box with one student name per line. Students&rsquo; names will be used in their login details, and so
            each name should be unique.</p><br>
        <p class="body-text">You have the option the use the students&rsquo; first names only, or first and last names. Students&rsquo; names and the class access code
            are required to sign in.</p>
        <form id='form-create-students' method='POST'>

            {% csrf_token %}

            {{ new_students_form.non_field_errors }}

            {{ new_students_form.names.errors }}
            {{ new_students_form.names }}

            <button type='submit' class='button--regular button-primary button--primary--general-play' name='new_students' value='Add students'>Add students</button>
        </form>
    </div>
</div>

{% endblock content %}
