{% extends 'redesign/teach_new/base_registering.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block dashboard %}
<a href="{% url 'dashboard' %}" class="button--menu button--menu--secondary button--menu--enabled button--menu--teacher--active">School / Club</a>
{% endblock dashboard %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block scripts %}
{{ block.super }}

<script type="text/javascript">
    $(window).scroll(function() {
        var currentScroll = $(window).scrollTop();
        if (currentScroll >= 268) {
            $('.sub-nav--hidden').css({
                'display': 'block',
                'top': '80px'
            });
        } else {
            $('.sub-nav--hidden').css({
                'display': 'none'
            });
        }
    });
</script>

{% endblock scripts %}

{% block pageID %}id='homeWrapper'{% endblock %}

{% block createJoinSchoolStep %}
<div class="onboarding-step onboarding-step--done">
    <p class="body-text"><img title="Done" alt="Step done" src='{% static "portal/img_new/step_done.png" %}'>Create / Join school</p>
</div>
{% endblock createJoinSchoolStep %}
{% block createClassStep %}
<div class="onboarding-step onboarding-step--done">
    <p class="body-text"><img title="Done" alt="Step done" src='{% static "portal/img_new/step_done.png" %}'>Create class</p>
</div>
{% endblock createClassStep %}
{% block addStudentsStep %}
<div class="onboarding-step onboarding-step--done">
    <p class="body-text"><img title="Done" alt="Step done" src='{% static "portal/img_new/step_done.png" %}'>Add students</p>
</div>
{% endblock addStudentsStep %}
{% block printStudentCardsStep %}
<div class="onboarding-step onboarding-step--in-progress">
    <p class="body-text"><img title="In progress" alt="Step in progress" src='{% static "portal/img_new/step_in_progress.png" %}'>Print student IDs</p>
</div>
{% endblock printStudentCardsStep %}

{% block content %}
{{ block.super }}

<div id="onboarding_student_list_page"></div>

<div class="sub-nav sub-nav--warning">
    <div class="row">
        <img title="Warning" alt="Warning sign" src='{% static "portal/img_new/warning.png" %}'>
        <p class="small-text"><i>This is the only time you will be able to view this page. You can print PDF format <br>reminder cards that populate these details which can
            be given to the students.</i></p>
        <form target="_blank" method='post' action="{% url 'teacher_print_reminder_cards_new' class.access_code %}">
            {% csrf_token %}
            <input type='hidden' name='data' value='{{ query_data }}'/>
            <div class='section'>
                <button class='button--regular button-primary button--primary--navigation'
                        type='submit'>Print reminder cards</button>
                <a href="{% url 'onboarding-complete' %}" class="button--regular button--secondary button--secondary--dark">Finish setup</a>
            </div>
        </form>
    </div>
</div>

<div class="sub-nav sub-nav--hidden sub-nav--warning">
    <div class="row">
        <img src='{% static "portal/img_new/warning.png" %}'>
        <p class="small-text"><i>This is the only time you will be able to view this page. You can print PDF format <br>reminder cards that populate these details which can
            be given to the students.</i></p>
        <form target="_blank" method='post' action="{% url 'teacher_print_reminder_cards_new' class.access_code %}">
            {% csrf_token %}
            <input type='hidden' name='data' value='{{ query_data }}'/>
            <div class='section'>
                <button class='button--regular button-primary button--primary--navigation'
                        type='submit'>Print reminder cards</button>
                <a href="{% url 'onboarding-complete' %}" class="button--regular button--secondary button--secondary--dark">Finish setup</a>
            </div>
        </form>
    </div>
</div>

<div class="background background--primary col-sm-12">
    <div class="form col-sm-4 col-sm-offset-4">
        <h4>{{ user.new_teacher.school.name }}</h4>
        <h3>New students created in class: {{ class.name }} ({{ class.access_code }})</h3><br>
        <p class="body-text">The following students have been created for your class. When they log in for the first time, you may want students to change their
            passwords to something more memorable. You will be able to reset these students&rsquo; passwords at any time.</p><br>
        <p class="body-text">The Class Access Code for this class is: {{ class.access_code }}.</p>
        <table id='student_table' class="header-primary data-quinary">
            <tr>
                <th><p class="body-text">Name</p></th>
                <th><p class="body-text">Password</p></th>
            </tr>
            {% for name_token in name_tokens %}
            <tr>
                <td><p class="small-text">{{ name_token.name }}</p></td>
                <td><p class="small-text">{{ name_token.password }}</p></td>
            </tr>
            {% endfor %}
        </table>
        <section>
            <form target="_blank" method='post' action="{% url 'teacher_print_reminder_cards_new' class.access_code %}">
                {% csrf_token %}
                <input type='hidden' name='data' value='{{ query_data }}'/>
                <div class='section'>
                    <button id="print_cards_button" class='button--regular button-primary button--primary--navigation'
                            type='submit'>Print reminder cards</button>
                    <a href="{% url 'onboarding-complete' %}" class="button--regular button--secondary button--secondary--dark">Finish setup</a>
                </div>
            </form>
        </section>
    </div>
</div>

{% endblock content %}
