{% extends "portal/base.html" %}
{% load static %}

{% block content %}
<div id="administration_login" class="background background--primary">
    <div class="form col-sm-6 col-center">
        <h3>Admin login</h3>
        <p>This is for site admins to log in. If you are not part of the Code for Life development team then
            this is not the login form you are looking for.</p>

        <form method="post" action="{% url 'administration_login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.username.errors }}
            <label>{{ form.username.label_tag }}</label>
            {{ form.username }}
            {{ form.password.errors }}
            <label>{{ form.password.label_tag }}</label>
            {{ form.password }}
            {{ form.captcha }}

            <button type="submit" name="login_view"
                    class="button--regular button--primary--general-educate button--login">Log in</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
</div>

{% endblock %}
