{% extends 'portal/base.html' %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'portal/js/passwordStrength.js' %}"></script>
<script>
var PASSWORD_FIELD_ID = '{{ form.new_password1.auto_id }}';
var PASSWORD_TYPE = '{{ usertype }}';
</script>
{% endblock scripts %}

{% block content %}
<div id="password_reset_form_page"></div>
<div class='section group'>

    <div class='span_centered_half'>

        <div class='login-card'>
            <h3>Password Reset</h3><br>
            {% if validlink %}
                <p>Please enter a new password and confirm it in the boxes below to reset your account's password.</p>

                <form method='post'>

                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    <div class='section group'>
                        <div class='col span_2_of_3 password-strength-bar-container'>
                            <div class='password-strength-bar'></div>
                        </div>
                        <div class='col span_1_of_3 password-strength-text'></div>
                    </div>

                    {{ form.new_password1.errors }}
                    <label for="{{ form.new_password1.id }}">{{ form.new_password1.label }}</label>
                    {{ form.new_password1 }}

                    {{ form.new_password2.errors }}
                    <label for="{{ form.new_password2.id }}">{{ form.new_password2.label }}</label>
                    {{ form.new_password2 }}

                    <div class='section group'>
                        <div class='col span_1_of_2'>
                            <a class='btn btn-default wide' href="{% url 'home' %}">Cancel</a>
                        </div>

                        <div class='col span_1_of_2'>
                            <input id='update_button' type='submit' class='btn btn-primary wide' value='Update'/>
                        </div>
                    </div>

                </form>
            {% else %}
                <p>The password reset link used was invalid. Did you use it once already?</p>
                <p>Please request to reset your password again.</p>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}
