{% extends 'portal/base.html' %}
{% load static %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<header>
    <h1>[ code ] for { life }</h1>
</header>

<div class='row'>
    <div class='small-6 small-centered columns'>

        <div class='panel radius'>
            <h3>Reset password</h3>

            <p>An email has been sent to the email address you have provided with instructions on resetting your password.</p>
            <p>You should receive it shortly.</p>
        </div>

    </div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
