{% extends 'portal/base.html' %}
{% load static %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<header>
    <h1>[ code ] for { life }</h1>
</header>

<div class='row'>

    <div class='small-6 small-centered columns'>

        <div class='panel radius'>
            <h3>Password Reset</h3>
            {% if validlink %}
                <p>Please enter a new password and confirm it in the boxes below to reset your account's password.</p>

                <form method='post'>

                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    <div class='row'>
                        <div class='small-12 columns'>
                            {{ form.new_password1.errors }}
                            {{ form.new_password1 }}
                        </div>
                    </div>

                    <div class='row'>
                        <div class='small-12 columns'>
                            {{ form.new_password2.errors }}
                            {{ form.new_password2 }}
                        </div>
                    </div>

                    <div class='row'>
                        <div class='small-3 columns'>
                            <a class='portal_button' href="{% url 'portal.views.home' %}">Cancel</a>
                        </div>

                        <div class='small-6 columns'></div>

                        <div class='small-3 columns'>
                            <input type='submit' value='Update'/>
                        </div>
                    </div>

                </form>
            {% else %}
                <p>The password reset link used was invalid. Did you use it once already?</p>
                <p>Please request a new password again.</p>
            {% endif %}
        </div>

    </div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
