{% extends 'portal/basenonav.html' %}
{% load static %}
{% load compress %}

{% block css %}
    {{block.super}}
    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static 'portal/css/portal.scss' %}' />
    {% endcompress %}
{% endblock %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<header>
    <h1>[ code ] for { life }</h1>
</header>

<div class='row'>
    <div class='small-6 small-centered columns'>

        <div class='panel radius'>
            <h3>Reset password</h3>

            <p>Enter your email address below to reset your Code For Life password</p>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class='row'>
                    <div class='small-12 columns'>
                        {{ form.email.errors }}
                        {{ form.email }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-3 columns'>
                        <a class='portal_button' href="{% url 'portal.views.home' %}">Cancel</a>
                    </div>
                        
                    <div class='small-6 columns'></div>

                    <div class='small-3 columns'>
                        <input type='submit' value='Reset'/>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
