{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div id="studentPasswordResetForm_page"></div>

<div class='section group'>
    <div class='span_centered_half'>

        <div class='login-card'>
            <h3>Independent student reset password</h3><br>

            <p>Enter your username below to reset your Code For Life password. A notification will be sent to your registered email address.</p>

            <form method='post'>
                {% csrf_token %}

                {{ form.non_field_errors }}

                {{ form.username.errors }}
                <label for="id_{{ form.username.html_name }}">{{ form.username.label }}</label>
                {{ form.username }}

                {{ form.recaptcha.errors }}
                <label for="id_{{ form.recaptcha.html_name }}">{{ form.recaptcha.label }}</label>
                {{ form.recaptcha|safe }}

                <div class='section group'>
                    <div class='col span_1_of_2'>
                        <a id="cancel_button" class='btn btn-default wide' href="{% url 'home' %}">Cancel</a>
                    </div>

                    <div class='col span_1_of_2'>
                        <input id="reset_button" type='submit' class='btn btn-primary wide' value='Reset'/>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
