{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div class='section group'>
    <div class='span_centered_half'>

        <div class='login-card'>
            <h3>Teacher reset password</h3><br>

            <p>Enter your email address below to reset your Code For Life password</p>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                {{ form.email.errors }}
                 <label class="ieLabels">{{ form.email.html_name }}</label>
                {{ form.email }}

                <div class='section group'>
                    <div class='col span_1_of_2'>
                        <a class='btn btn-default wide' href="{% url 'home' %}">Cancel</a>
                    </div>

                    <div class='col span_1_of_2'>
                        <input type='submit' class='btn btn-primary wide' value='Reset'/>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
