{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div id="teacherPasswordResetForm_page"></div>

<div class='section group'>
    <div class='span_centered_half'>

        <div class='login-card'>
            <h3>Teacher reset password</h3><br>

            <p>Enter your email address below to reset your Code For Life password</p>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                {{ form.email.errors }}
                 <label for="id_{{ form.email.html_name }}">{{ form.email.label }}</label>
                {{ form.email }}

                {{ form.recaptcha.errors }}
                <label for="id_{{ form.recaptcha.html_name }}">{{ form.recaptcha.label }}</label>
                {{ form.recaptcha|safe }}

                <div class='section group'>
                    <div class='col span_1_of_2'>
                        <a id="cancel_button" class='btn btn-default wide' href="{% url 'home' %}">Cancel</a>
                    </div>

                    <div class='col span_1_of_2'>
                        <input id="reset_button" type='submit' class='btn btn-primary wide' value='Reset'/>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
