{# Overriding the original "two_factor" template #}

{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
    <h4>{% block title %}{% trans "Disable Two-factor Authentication" %}{% endblock %}</h4>
    <p>{% blocktrans trimmed %}You are about to disable two-factor authentication. This
        weakens your account security, are you sure?{% endblocktrans %}</p>
    <form method="post">
        {% csrf_token %}
        <div class="row is-flex">
            {{ form }}
        </div>
        <button class="button--primary button--primary--danger" type="submit">{% trans "Disable" %}</button>
    </form>
{% endblock %}
