{# Overriding the original "two_factor" template #}

{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
    <h4>{% block title %}{% trans "Disable Two-factor Authentication" %}{% endblock %}</h4>
    <a id="return_to_classes_button" href="{% url 'dashboard' %}#account" class="button--menu button--menu--enabled">< Back to Your account</a>
    <p>{% blocktrans trimmed %}Disabling 2FA makes your account security weaker. Are you sure?{% endblocktrans %}</p>
    <form method="post">
        {% csrf_token %}
        <div class="row is-flex">
            {{ form }}
        </div>
        <button class="button--primary button--primary--danger" type="submit">{% trans "Disable 2FA" %}</button>
    </form>
{% endblock %}
