{% extends 'portal/base.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block css %}
{{ block.super }}
<link href="{% static 'portal/css/jquery-ui.css' %}" rel="stylesheet">
{% endblock css %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'portal/js/teach_class.js' %}"></script>
<script type="text/javascript" src="{% static 'portal/js/common.js' %}"></script>
{% endblock scripts %}

{% block subNav %}
<div class="sticky-subnav sub-nav sub-nav--teacher">
    <a href="{% url 'dashboard' %}#school" class="button button--secondary button--secondary--light">Your school</a>
    <a href="{% url 'dashboard' %}#classes" class="button button--secondary button--secondary--light">Your classes</a>
    <a href="{% url 'dashboard' %}#account" class="button button--secondary button--secondary--light">Your account</a>
</div>
{% endblock subNav %}

{% block content %}
{% include "portal/partials/popup.html" %}

<div id="teach_class_page"></div>

<section class="background">
    <h4>{{ user|make_into_username }}, {{ class.name }} ({{ class.access_code }})</h4>
    <h6 class="col-sm-6 col-center">Here you can view and manage all of your students within this class. You can add new students, transfer
        existing students to another one of your classes or to another teacher within your school or club, or remove students altogether.</h6>
    <a href="#add_new_students" class="button button--secondary button--secondary--dark">Add students</a>
</section>

<div class="background col-sm-8 col-center">
    <div class="row">
        <div class="col-sm-5">
            <h5>Current students</h5>
            <p>Select an individual student to change their details, including their name and password.</p>
            <p>Select multiple students using the checkboxes to reset their passwords, move them to another class, release them from your school and
                make them an independent Code for Life user, or delete them permanently.</p>
        </div>
        <div class="col-sm-7">
            <table id="student_table" class="student-table header-primary data-primary">
                <tr class="student-table__header">
                    <th class="cell-center">
                        <p>Select</p>
                        <div class="student-table__cell">
                            <input id="selectedStudentsListToggle" name="selectedStudentsListToggle" type="checkbox" value="">
                            <p><small>Select all</small></p>
                        </div>
                    </th>
                    <th class="cell-center">Student details</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td class="cell-center"><input id="student_checkbox" type="checkbox" class="student" name="{{ student.id }}" value=""></td>
                    <td>
                        <div class="student-table__cell">
                            <p><small>{{ student.new_user.first_name }}</small></p>
                            <a id="edit_student_button" href="{% url 'teacher_edit_student' student.id %}" class="button button--small button--secondary button--secondary--dark">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="table-footer" colspan="3" rowspan="2">
                        <p><small><span id="num_students_selected">0</span>/{{ num_students }} selected</small></p>
                        <button onclick="postSelectedStudents('{% url 'teacher_move_students' class.access_code %}');"
                                id="moveSelectedStudents" class="button--small button--primary">Move</button>
                        <button onclick="postSelectedStudents('{% url 'teacher_dismiss_students' class.access_code %}')"
                                id="dismissSelectedStudents" class="button--small button--primary">Release</button>
                        <button onclick="deleteStudentsConfirmation('{% url 'teacher_delete_students' class.access_code %}')"
                                id="deleteSelectedStudents" class="button--small button--primary--danger">Delete</button>
                        <button onclick="resetStudentPasswords('{% url 'teacher_class_password_reset' class.access_code %}')"
                                id="resetSelectedStudents" class="button--small button--primary--danger">Reset password and login link</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <p><a id="return_to_classes_button" href="{% url 'dashboard' %}#classes">&#10229; Back to Classes</a></p>
</div>

<div id="add_new_students" class="background background--primary">
    <div class="col-sm-8 col-center">
        <div class="row">
            <div class="col-sm-6">
                <h4>Add new students</h4>
                <p>Add the students' names to the box below with one student name per line. Students' names will be used in their login
                    details, and so each name should be unique.</p>
                <p>You have the option to use students' first names only, or first and last names. Students' names and the class access code
                    are required to sign in.</p>
            </div>
            <div class="col-sm-6">
                <form id="form-create-students" method="POST">

                    {% csrf_token %}

                    {{ new_students_form.non_field_errors }}

                    {{ new_students_form.names.errors }}
                    {{ new_students_form.names }}

                    <button id="submitStudents" type="submit" class="button button--primary" name="new_students" value="Add students">Add students</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="background col-sm-8 col-center">
    <h4>Additional class settings</h4>
    <p>Here you may change the name of the class, transfer the class to another teacher in the school or club, create permissions for the class to
        accept requests from external students, or delete classes for which there are no students. You can also create permissions for students in this class to see
        their classmates' progress.</p>
    <div class="background button-group">
        <a id="class_settings_button" href="{% url 'teacher_edit_class' class.access_code %}" class="button button--primary">Edit settings</a>
        <button onclick="deleteClassConfirmation('{% url 'teacher_delete_class' class.access_code %}')"
                id="deleteClass" class="button button--primary button--primary--danger">Delete class</button>
    </div>
    <p><a id="return_to_classes_button" href="{% url 'dashboard' %}#classes">&#10229; Back to Classes</a></p>
</div>

<script type="text/javascript">
  $(document).ready(function(){
        if($(window).width() > 760) {
            toggleStickySubnav($('.menu').innerHeight());
        }
        
        $('#form-create-students').submit(disableOnClick('#submitStudents'));
    });
</script>

{% endblock content %}
