{% extends 'portal/base.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'portal/js/organisation_manage.js' %}"></script>
<script>
    var CONFIRMATION_DATA = {};

    function updateLocationHash(hash) {
        // using replaceState as changing hash directly will scroll to element
        history.replaceState({}, '', hash)
    }

    $(document).ready(function(){
        // select the tab based on the current location hash
        const tabs = $('.sub-nav [data-toggle="tab"]')
        const tabNames = tabs.map((index, element) => $(element).attr('href')).toArray()
        const currentTabIndex = tabNames.indexOf(window.location.hash)
        if (currentTabIndex < 0) {
            updateLocationHash(tabNames[0])
        }
        else {
            tabs[currentTabIndex].click()
        }

        // make each tab update the current location hash on click
        tabs.on('shown.bs.tab', (event) => {
            updateLocationHash(event.target.hash)
        })

        $("#update-details").on("click", () => {
            $("#tab-account").click()
        })
    })
</script>
{% endblock scripts %}

{% block subNav %}
<section class="banner banner--teacher">
    <h1 class="banner__text--primary">Welcome back, {{ user|make_into_username }}</h1>
</section>
<div class="sticky-subnav sub-nav sub-nav--teacher">
    <ul class="nav is-flex" role="tablist">
        <li class="active"><a id="tab-school" class="button button--secondary button--secondary--light" data-toggle="tab" href="#school">Your school</a></li>
        <li><a id="tab-classes" class="button button--secondary button--secondary--light" data-toggle="tab" href="#classes">Your classes</a></li>
        <li><a id="tab-account" class="button button--secondary button--secondary--light" data-toggle="tab" href="#account">Your account</a></li>
    </ul>
</div>
{% endblock subNav %}

{% block content %}
{% include "portal/partials/popup.html" %}

<div id="teach_dashboard_page"></div>

<div class="tab-content">
    <div id="school" class="tab-pane active">
        {% if is_admin and join_requests %}
            <div id="sticky-warning" class="sub-nav sub-nav--warning">
                <span class="iconify sub-nav--icon" data-icon="mdi:alert-outline"></span>
                <p><small><strong>You have pending requests from teachers wanting to join your school or club.
                    <a id="requests_button" href="#requests">View the requests</a></strong></small></p>
            </div>
        {% endif %}
        <div class="background">
            <section>
                <h4>Your school: {% if user.new_teacher.school %} {{ user.new_teacher.school.name }} ({{ user.new_teacher.school.postcode }}){% endif %}</h4>
            </section>
            {% if is_admin %}
                <p class="col-sm-8 col-center">As an administrator of your school or club, you can select other teachers to whom you can provide or revoke
                    administrative rights. You can also remove teachers from your school or club if they leave, and respond to requests from new teachers
                    joining your organisation.</p>
                <section>
                    <a href="{% url 'invite_teacher' %}" class="button button--primary button--icon" name="invite_teacher">
                        Invite a teacher<span class="iconify" data-icon="mdi:account-plus"></span></a>
                </section>
            {% else %}
                <h5 class="col-sm-8 col-center">You can see which other teachers in your school or club are registered here. Should you need to leave the
                    school or club, you can do so below.</h5>
                <section>
                    <button id="leave_organisation_button" class="button button--secondary button--secondary--dark"
                            onclick="postWithCsrf('{% url 'organisation_leave' %}');">Leave school or club</button>
                </section>
            {% endif %}
        </div>

        {% if is_admin %}
            <div class="background col-sm-8 col-center">
                <h5>These teachers are already part of your school or club</h5>
                <table id="teachers_table" class="header-primary data-primary">
                    <tr>
                        <th class="col-sm-3"><p>Name</p></th>
                        <th><p>Administrator status</p></th>
                        <th class="col-sm-6 col-md-5 col-lg-7" colspan="3"><p>Actions</p></th>
                    </tr>
                    {% for coworker in coworkers %}
                        <tr>
                            <td><p><small>{{ coworker.new_user.first_name }} {{ coworker.new_user.last_name }}
                                {% if coworker.new_user == user %}<b>(you)</b>{% endif %}</small></p></td>
                            <td><p><small>{% if coworker.is_admin %}Administrator{% else %}Standard Teacher{% endif %}{% if coworker.is_admin or is_admin %}
                                ({{ coworker.new_user.email|emaildomain }}){% endif %}</small></p></td>
                            {% if coworker.new_user != user %}
                                <td class="cell-center" colspan="3">
                                    {% if coworker.is_admin %}
                                        <button id="make_non_admin_button" class='button button--small button--primary--danger button--icon'
                                                onclick="postWithCsrf('{% url 'organisation_toggle_admin' coworker.id %}');">
                                            Revoke admin<span class="iconify" data-icon="mdi:block"></span></button>
                                    {% else %}
                                        <button id="make_admin_button" class="button button--small button--primary button--icon"
                                                onclick="showToggleAdminConfirmation('{% url 'organisation_toggle_admin' coworker.id %}', '{{ coworker.new_user.first_name|striptags | escapejs}}')">
                                            Make admin<span class="iconify" data-icon="mdi:plus"></span></button>
                                    {% endif %}
                                    {% if coworker.new_user|has_2FA %}
                                        <button id="disable_2fa_button" class="button button--small button--primary--danger button--icon"
                                                onclick="showDisable2FAConfirmation('{% url 'teacher_disable_2FA' coworker.id %}', '{{ coworker.new_user.first_name|striptags | escapejs}}')">
                                            Remove 2FA<span class="iconify" data-icon="mdi:minus-circle-outline"></span></button>
                                    {% endif %}
                                    <button id="kick_button" class="button button--small button--primary--danger button--icon"
                                            onclick="showRemoveConfirmation('{% url 'organisation_kick' coworker.id %}', '{{ coworker.new_user.first_name|striptags | escapejs }}', '{True}')">
                                        Delete<span class="iconify" data-icon="mdi:delete-outline"></span></button>
                                </td>
                            {% else %}
                                <td class="cell-center" colspan="3">
                                    <a id="update-details" class="button button--small button--primary button--icon">
                                        Update details<span class="iconify" data-icon="mdi:edit"></span></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <div class="row">
                    <p class="col-sm-6">Select ‘Delete’ to delete a teacher from your school or club. You will be able to move any existing classes assigned to that
                        teacher to other teachers in your school or club.</p>
                    <strong class="col-sm-6 text-danger">We strongly recommend that administrators who are using 2FA ensure there is another administrator who will be able to disable their 2FA should they have problems
                        with their smartphone or tablet.</strong>
                </div>
            </div>
        {% else %}
            <div class="background secondary-table">
                <div class="col-sm-8 col-center">
                    <h5>These teachers are already part of your school or club</h5>
                    <table class="header-primary data-primary">
                        <tr>
                            <th><p>Name</p></th>
                            <th><p>Administrator status</p></th>
                        </tr>
                        {% for coworker in coworkers %}
                            <tr>
                                <td><p><small>{{ coworker.new_user.first_name }} {{ coworker.new_user.last_name }}
                                    {% if coworker.new_user == user %}<b>(you)</b>{% endif %}</small></p></td>
                                <td><p><small>{% if coworker.is_admin %}Administrator{% else %}Standard Teacher{% endif %}{% if coworker.is_admin or is_admin %}
                                    ({{ coworker.new_user.email|emaildomain }}){% endif %}</small></p></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if is_admin %}
            <div id="requests" class="background col-sm-8 col-center">
                {% if join_requests %}
                    <h5>These teachers have requested to join your school or club</h5>
                    <table id="request_table" class="header-primary data-primary">
                        <tr>
                            <th><p>Name</p></th>
                            <th><p>Email address</p></th>
                            <th colspan="3"><p>Actions</p></th>
                        </tr>
                        {% for join_request in join_requests %}
                            <tr>
                                <td><p><small>{{ join_request.new_user.first_name }} {{ join_request.new_user.last_name }}</small></p></td>
                                <td><p><small>{{ join_request.new_user.email }}</small></p></td>
                                <td class="cell-center" colspan="3">
                                    <button id="allow_button" class="button button--small button--primary button--icon"
                                            onclick="postWithCsrf('{% url 'organisation_allow_join' join_request.id %}');">
                                        Allow<span class="iconify" data-icon="mdi:plus"></span></button>
                                    <button id="deny_button" class="button button--small button--primary--danger button--icon"
                                            onclick="postWithCsrf('{% url 'organisation_deny_join' join_request.id %}');">
                                        Deny<span class="iconify" data-icon="mdi:block"></span></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h5>No teachers have currently requested to join your school or club.</h5>
                {% endif %}
            </div>

            <div id="school-details" class="background background--primary">
                <div class="col-sm-8 col-center">
                    <h5>Update details of your school or club</h5>
                    <p>Update your school or club’s name and/or postcode.</p>
                    <strong>These details are used to allow other teachers to join your team.</strong>
                    <form id="edit_form" method="post">
                        {% csrf_token %}

                        {{ update_school_form.non_field_errors }}
                        <div class="row form--row">
                            {% for field in update_school_form %}
                                <div class="form--row__input col-sm-6 col-md-4">
                                    <div class="input--icon">
                                        {{ field }}
                                        {% if not field == update_school_form.country %}
                                            <span class="iconify" data-icon="mdi:domain"></span>
                                        {% endif %}
                                    </div>
                                    <small>{{ field.help_text }}</small>
                                    {{ field.errors }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="section group">
                            <button id="update_details_button" type="submit" class="button button--primary" name="update_school">Update details</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    <div id="classes" class="tab-pane">
        <div class="background col-sm-8 col-center">
            <section>
                <h4>Your classes</h4>
            </section>
            <p>Below is a list of all the classes you teach. You can add a class or edit your existing classes. You can also accept or deny
                requests from independent students wanting to join one of your classes.</p>
        </div>
        <div class="col-sm-8 col-center">
            {% if classes %}
                <table id="classes-table" class="header-primary data-primary">
                    <tr>
                        <th><p>Class name</p></th>
                        <th><p>Access code</p></th>
                        <th><p>Action</p></th>
                    </tr>
                    {% for class in classes %}
                        <tr>
                            <td><p><small>{{ class.name }}</small></p></td>
                            <td class="mw-0">
                                <div class="d-flex justify-content-between">
                                    <div id="class-code-{{ class.access_code }}"><small>{{ class.access_code }}</small></div>
                                    <div>
                                        <a onclick="copyToClipboardFromElement(this, '#class-code-{{ class.access_code }}')" data-toggle="copyToClipboardTooltip">
                                            <span class="iconify" data-icon="mdi:content-copy" title="Copy to clipboard"></span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="cell-center">
                                <a id="class_button" href="{% url 'view_class' class.access_code %}"
                                   class="button button--small button--primary button--icon">
                                    Edit details<span class="iconify" data-icon="mdi:edit"></span></a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h5>It doesn't look like you have any classes assigned to you. To create a class, use the 'New Class' box below.</h5>
            {% endif %}
            <section>
                <h4>External requests to join your classes</h4>
            </section>
            <p>External, or independent students may request to join your classes, if the student has been given a Class Access Code, and provided you
                have enabled external requests for that class.</p>
            {% if requests %}
                <p>The following users have made requests to join your classes. If you accept a request, you will be able to choose a
                    name that is unique for the user in the class and then pass on their new login details. At this point, you will be able to manage them
                    like any other student.</p>
                <p>To conform to our security policy, the requested student’s username and email will be deleted on acceptance.
                    These details are displayed here to enable you to identify them as genuine.</p>
                <p>You should not accept a request from a student whose email and username you do not recognise, or if you weren’t
                    expecting such a request.</p>

                <table id="independent_request_table" class="header-primary data-primary">
                    <tr>
                        <th><p>Name</p></th>
                        <th><p>Email address</p></th>
                        <th><p>Class</p></th>
                        <th colspan="2">Actions</th>
                    </tr>
                    {% for join_request in requests %}
                        <tr>
                            <td><p><small>{{ join_request.new_user.first_name }}</small></p></td>
                            <td><p><small>{{ join_request.new_user.email }}</small></p></td>
                            <td><p><small>{{ join_request.pending_class_request.name }}
                                ({{ join_request.pending_class_request.access_code }})</small></p></td>
                            <td colspan="2" class="cell-center">
                                <button id="allow_independent_button" class="button--small button--primary button--icon"
                                        onclick="postWithCsrf('{% url 'teacher_accept_student_request' join_request.id %}');">
                                    Add to class<span class="iconify" data-icon="mdi:plus"></span></button>
                                <button id="deny_independent_button" class="button--small button--primary--danger button--icon"
                                        onclick="postWithCsrf('{% url 'teacher_reject_student_request' join_request.id %}');">
                                    Reject request<span class="iconify" data-icon="mdi:block"></span></button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
            {% else %}
                <p><strong>No students have currently requested to join your classes.</strong></p>
            {% endif %}
        </div>

        <div id="new-class" class="background background--primary">
            <div class="col-sm-8 col-center">
                <h5>Create a new class</h5>
                <p>When you set up a new class, a unique class access code will automatically be generated, with you being identified as the teacher for that
                    class.</p>
                <form method="post">

                    {% csrf_token %}

                    {{ create_class_form.non_field_errors }}

                    <div class="row form--row">
                        <div class="form--row__input col-sm-6 col-md-6">
                            <div class="input--icon">
                                {{ create_class_form.class_name }}<span class="iconify" data-icon="mdi:account-multiple"></span>
                            </div>
                            <small>{{ create_class_form.class_name.help_text }}</small>
                            {{ create_class_form.class_name.errors }}
                        </div>
                        <div class="form--row__input col-sm-12 col-md-6">
                            <div class="form__checkbox">
                                <div class="form__checkbox-input">
                                    {{ create_class_form.classmate_progress }}
                                </div>
                                <label for="id_{{ form.classmate_progress.html_name }}">{{ create_class_form.classmate_progress.label }}</label>
                            </div>
                            {{ create_class_form.classmate_progress.errors }}
                        </div>
                    </div>
                    <button id="create_class_button" type="submit" class="button button--primary" name="create_class">Create class</button>
                </form>
            </div>
        </div>
    </div>

    <div id="account" class="tab-pane">
        <div class="background col-sm-8 col-center">
            <section>
                <h4>Your account</h4>
            </section>
            <p>You can update your account details below.</p>
            <form method="post" id="form-edit-teacher">

                {% csrf_token %}

                {{ update_account_form.non_field_errors }}

                <div class="row form--row">
                    <div class="form--row__input col-sm-6 col-md-4">
                        <div class="input--icon">
                            {{ update_account_form.first_name }}
                        </div>
                        <small>{{ update_account_form.first_name.help_text }}</small>
                        {{ update_account_form.first_name.errors }}
                    </div>
                    <div class="form--row__input col-sm-6 col-md-4">
                        <div class="input--icon">
                            {{ update_account_form.last_name }}
                        </div>
                        <small>{{ update_account_form.last_name.help_text }}</small>
                        {{ update_account_form.last_name.errors }}
                    </div>
                    <div class="form--row__input col-sm-6 col-md-4">
                        <div class="input--icon">
                            {{ update_account_form.email }}
                            <span class="iconify" data-icon="mdi:email-outline"></span>
                        </div>
                        <small>{{ update_account_form.email.help_text }}</small>
                        {{ update_account_form.email.errors }}
                    </div>
                </div>
                <div id="edit_account_details_password" class="row form--row">
                    <div class="form--row__input col-sm-6 col-md-4">
                        <div class="input--icon">
                            {{ update_account_form.password }}
                            <span class="iconify" data-icon="mdi:security"></span>
                        </div>
                        <small>{{ update_account_form.password.help_text }}</small>
                        {{ update_account_form.password.errors }}
                    </div>
                    <div class="form--row__input col-sm-6 col-md-4">
                        <div class="input--icon">
                            {{ update_account_form.confirm_password }}
                        </div>
                        <small>{{ update_account_form.confirm_password.help_text }}</small>
                        {{ update_account_form.confirm_password.errors }}
                    </div>
                    <div class="form--row__input col-sm-6 col-md-4">
                        <div class="input--icon">
                            {{ update_account_form.current_password }}
                            <span class="iconify" data-icon="mdi:lock-outline"></span>
                        </div>
                        <small>{{ update_account_form.current_password.help_text }}</small>
                        {{ update_account_form.current_password.errors }}
                    </div>
                </div>
                <button id="update_button" type="submit" class="button button--primary" name="update_account">Update details</button>
            </form>
        </div>

        <div class="background background--primary">
            <div class="col-sm-8 col-center">
                <h5>Two Factor Authentication</h5>
                <p>Use your smartphone or tablet to enhance your account's security by installing an authenticator app.</p>

                {% if user|has_2FA %}
                    <div class="row row--regular">
                        <div class="col-sm-6">
                            <h6>Backup tokens</h6>
                            <p>If you don't have your smartphone or tablet with you, you can access your account using backup tokens.
                                {% if backup_tokens == 1 %}
                                    You have only one backup token remaining.
                                {% else %}
                                    You have {{ backup_tokens }} backup tokens remaining.
                                {% endif %}
                            </p>
                            <p>View and create backup tokens for your account.</p>
                            <div class="background">
                                <a class="button button--primary"
                                   href="{% url 'two_factor:backup_tokens' %}">Manage backup tokens</a>
                            </div>
                            <small class="text-danger"><strong>Note: Please make sure that you store any login details in a secure place.</strong></small>
                        </div>
                        <div class="col-sm-6">
                            <h6>Disable Two Factor Authentication (2FA)</h6>
                            <p>We recommend you to continue using 2FA, however you can disable 2FA for your account using the button below.</p>
                            <div class="background">
                                <a class="button button--primary button--primary--danger button--icon" href="{% url 'two_factor:disable' %}">
                                    Disable 2FA<span class="iconify" data-icon="mdi:alert-circle-outline"></span></a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>Find out more about Two Factor Authentication and how it helps keep your account secure.</p>
                    <div class="background">
                        <a class="button button--primary"
                           href="{% url 'two_factor:profile' %}">Setup Two Factor Authentication</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        if($(window).width() > 760) {
            toggleStickySubnav($('.banner').outerHeight());
        }
    });
</script>

{% endblock content %}
