{% extends 'portal/base.html' %}
{% load staticfiles %}
{% load app_tags %}
{% load banner_tags %}
{% load table_tags %}

{% block subNav %}
{% banner banner_name="KURONO_TEACHING_PACKS_BANNER" %}
<div class="sub-nav sub-nav--key-stage hidden visible-xs">
    <h2 class="sub-nav__text">Key Stage 3+ (Python)</h2>
</div>
<div class="sticky-subnav sub-nav sub-nav--teacher">
    <div class="col-sm-12 col-md-11 col-lg-9 sub-nav__content">
        <p class="hidden-xs">Challenges to help embed Python skills, a list of useful resources, pupil activities and
            guidance on share and
            review following the sessions.</p>
        <div class="button-group button-group__icon">
            <a href="{{ 'kurono/latest/kurono.zip'|cloud_storage }}"
                onclick='send_event("kurono/latest/kurono.zip", "Downloaded");'
                class="button button--secondary button--secondary--light">Download all resources
                <span class="material-icons-outlined">file_download</span>
            </a>
        </div>
    </div>
</div>
{% endblock subNav %}

{% block content %}

<div id="kurono_packs_page"></div>

<div class="hidden-xs">
    <div class="background col-sm-8 col-center">
        <div class="grid-kurono-sessions">
            <div>
                <h6>Introduction to Kurono and how to use the game</h6>
                <p>This user guide talks you through what you will be teaching and how to use our resources efficiently.
                </p>
            </div>
            <div class="button-group button-group__icon">
                <a href="{% url 'materials_viewer' pdf_name='Kurono_teacher_user_guide' %}"
                    class="button button--primary button-right-arrow">
                    View user guide
                </a>
            </div>
            {% for worksheet in worksheets %}
            {% if worksheet.thumbnail_text == "" %}
            <div>
                <h6>Challenge {{ worksheet.id }}: {{ worksheet.name }}</h6>
                <p>{{ worksheet.short_description}}</p>
            </div>
            <div class="button-group button-group__icon">
                <a href="{% url 'materials_viewer' pdf_name=worksheet.student_pdf_name %}"
                    class="button button--primary button-right-arrow">
                    View challenge
                </a>
                <a href="{% url 'materials_viewer' pdf_name=worksheet.teacher_pdf_name %}"
                    class="button button--primary button-right-arrow">
                    View guide
                </a>
            </div>
            {% else %}
            <div class="disabled">
                <h6>Challenge {{ worksheet.id }}: COMING SOON</h6>
            </div>
            <div></div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="background">
        <div class="col-sm-8 col-center">
            <h4>KS3 - Extra Resources</h4>
            <div class="grid-kurono-sessions">
                <div>
                    <h6>How Kurono relates to Key Stages 3 & 4 of the English National Curriculum.</h6>
                    <p>This document will be updated as we build it.</p>
                </div>
                <div class="button-group button-group__icon">
                    <a href="{% url 'materials_viewer' pdf_name='Kurono_national_curriculum' %}"
                        class="button button--primary button-right-arrow">
                        View guide
                    </a>
                </div>
                <div>
                    <h6>The Story</h6>
                    <p>Set the scene with the story of the game.</p>
                </div>
                <div class="button-group button-group__icon">
                    <a href="{% url 'materials_viewer' pdf_name='Kurono_story' %}"
                        class="button button--primary button-right-arrow">
                        View story
                    </a>
                </div>
                <div>
                    <h6>Kurono cheat sheet</h6>
                    <p>To be used with the Kurono game.</p>
                </div>
                <div class="button-group button-group__icon">
                    <a href="{% url 'materials_viewer' pdf_name='Kurono_cheat_sheet' %}"
                        class="button button--primary button-right-arrow">
                        View guide
                    </a>
                </div>
                <div>
                    <h6>Challenge solutions</h6>
                    <p>Download a .py file of example solutions to copy and paste into your lessons.</p>
                </div>
                <div class="button-group button-group__icon">
                    <a href="{{ 'kurono/latest/kurono_teacher_solutions.py'|cloud_storage }}"
                        class="button button--primary button-right-arrow">
                        Download solutions
                    </a>
                </div>
                <div>
                    <h6>See student user guide</h6>
                    <p>This guide will be available to the students.</p>
                </div>
                <div class="button-group button-group__icon">
                    <a href="{% url 'materials_viewer' pdf_name='Kurono_student_user_guide' %}"
                        class="button button--primary button-right-arrow">
                        View guide
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden visible-xs">
    <div class="background col-sm-8 col-center">
        <div class="grid-kurono-sessions">
            <div class="grid-kurono-sessions__item">
                <div class="grid-kurono-sessions__accordion-button" data-toggle="collapse"
                    data-target="#intro_kurono_pdf">
                    <h6>Introduction to Kurono and how to use the game</h6>
                    <span class="material-icons-outlined icon-drop-down"></span>
                </div>
                <div id="intro_kurono_pdf" class="collapse">
                    <p>This user guide talks you through what you will be teaching and how to use our resources
                        efficiently.</p>
                    <div class="button-group button-group__icon">
                        <a href="{% url 'materials_viewer' pdf_name='Kurono_teacher_user_guide' %}"
                            class="button button--primary button-right-arrow">
                            View user guide
                        </a>
                    </div>
                </div>
            </div>
            {% for worksheet in worksheets %}
            <div class="grid-kurono-sessions__item">
                {% if worksheet.thumbnail_text == "" %}
                <div class="grid-kurono-sessions__accordion-button" data-toggle="collapse"
                    data-target="#{{ worksheet.id }}">
                    <h6>Challenge {{ worksheet.id }}</h6>
                    <span class="material-icons-outlined icon-drop-down"></span>
                </div>
                <div id="{{ worksheet.id }}" class="collapse">
                    <p>{{ worksheet.short_description}}</p>
                    <div class="button-group button-group__icon">
                        <a href="{% url 'materials_viewer' pdf_name=worksheet.student_pdf_name %}"
                            class="button button--primary button-right-arrow">
                            View challenge
                        </a>
                        <a href="{% url 'materials_viewer' pdf_name=worksheet.teacher_pdf_name %}"
                            class="button button--primary button-right-arrow">
                            View guide
                        </a>
                    </div>
                </div>
                {% else %}
                <h6 class="disabled">Challenge {{ worksheet.id }}: COMING SOON</h6>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="background">
        <div class="col-sm-8 col-center">
            <h4>KS3 - Extra Resources</h4>
            <div class="grid-kurono-sessions">
                <div class="grid-kurono-sessions__item">
                    <div class="grid-kurono-sessions__accordion-button" data-toggle="collapse"
                        data-target="#kurono_curriculum_pdf">
                        <h6>How Kurono relates to Key Stages 3 & 4 of the English National Curriculum.</h6>
                        <span class="material-icons-outlined icon-drop-down"></span>
                    </div>
                    <div id="kurono_curriculum_pdf" class="collapse">
                        <p>This document will be updated as we build it.</p>
                        <div class="button-group button-group__icon">
                            <a href="{% url 'materials_viewer' pdf_name='Kurono_national_curriculum' %}"
                                class="button button--primary button-right-arrow">
                                View guide
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-kurono-sessions__item">
                    <div class="grid-kurono-sessions__accordion-button" data-toggle="collapse"
                        data-target="#kurono_story">
                        <h6>Kurono story</h6>
                        <span class="material-icons-outlined icon-drop-down"></span>
                    </div>
                    <div id="kurono_story" class="collapse">
                        <p>Set the scene with the story of the game.</p>
                        <div class="button-group button-group__icon">
                            <a href="{% url 'materials_viewer' pdf_name='Kurono_story' %}"
                                class="button button--primary button-right-arrow">
                                View guide
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-kurono-sessions__item">
                    <div class="grid-kurono-sessions__accordion-button" data-toggle="collapse"
                        data-target="#kurono_cheat_sheet">
                        <h6>Kurono cheat sheet</h6>
                        <span class="material-icons-outlined icon-drop-down"></span>
                    </div>
                    <div id="kurono_cheat_sheet" class="collapse">
                        <p>To be used with the Kurono game.</p>
                        <div class="button-group button-group__icon">
                            <a href="{% url 'materials_viewer' pdf_name='Kurono_cheat_sheet' %}"
                                class="button button--primary button-right-arrow">
                                View guide
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-kurono-sessions__item">
                    <div class="grid-kurono-sessions__accordion-button" data-toggle="collapse"
                        data-target="#kurono_teacher_solutions">
                        <h6>Challenge solutions</h6>
                        <span class="material-icons-outlined icon-drop-down"></span>
                    </div>
                    <div id="kurono_teacher_solutions" class="collapse">
                        <p>Download a .py file of example solutions to copy and paste into your lessons.</p>
                        <div class="button-group button-group__icon">
                            <a href="{{ 'kurono/latest/kurono_teacher_solutions.py'|cloud_storage }}"
                                class="button button--primary">
                                Download solutions<span class="material-icons-outlined">file_download</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-kurono-sessions__item">
                    <div class="grid-kurono-sessions__accordion-button" data-toggle="collapse"
                        data-target="#kurono_student_guide">
                        <h6>See student user guide</h6>
                        <span class="material-icons-outlined icon-drop-down"></span>
                    </div>
                    <div id="kurono_student_guide" class="collapse">
                        <p>This guide will be available to the students.</p>
                        <div class="button-group button-group__icon">
                            <a href="{% url 'materials_viewer' pdf_name='Kurono_student_user_guide' %}"
                                class="button button--primary button-right-arrow">
                                View guide
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($(window).width() > 760) {
            toggleStickySubnav($('.banner').outerHeight() + $('.menu').outerHeight());
        }
    });
</script>

{% endblock content %}
