{% extends 'portal/teach/base_logged_in.html' %}
{% load staticfiles %}
{% load app_tags %}
{% load table_tags %}

{% block materials %}
<a href="{% url 'teaching_resources' %}" class="button--menu button--menu--secondary button--menu--enabled button--menu--teacher--active">Teaching Resources</a>
{% endblock materials %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block scripts %}
{{ block.super }}
{% endblock scripts %}

{% block pageID %}id="homeWrapper"{% endblock %}

{% block subNav %}
{{ block.super }}
<div class="banner banner--teacher row">
    <div class="col-sm-5 col-sm-offset-2">
        <h1 class="banner__text--primary">Teaching Packs</h1>
        <p>We&rsquo;ve created a comprehensive set of teaching materials to give you the confidence and resources to use the Rapid Router game to help you teach children the UK
            National Computing Curriculum right through their primary education.</p>
    </div>
    <div class="col-sm-5">
        <div class="banner--picture"><div class="banner--picture__inside1"><div class="banner--picture__inside2 banner--picture--tools"></div></div></div>
    </div>
</div>
<div class="sticky-subnav sub-nav sub-nav--teacher">
    <a href="#user_guide" class="button button--regular button--secondary button--secondary--light">User guide</a>
    <a href="#ks1" class="button button--regular button--secondary button--secondary--light">Key Stage 1</a>
    <a href="#lks2" class="button button--regular button--secondary button--secondary--light">Lower Key Stage 2</a>
    <a href="#uks2" class="button button--regular button--secondary button--secondary--light">Upper Key Stage 2</a>
    <a href="#ks3" class="button button--regular button--secondary button--secondary--light">Key Stage 3</a>
</div>
{% endblock subNav %}

{% block content %}
{{ block.super }}

<div id="materials_page"></div>

<div id="user_guide">
    <div class="background background--primary">
        <div class="col-sm-6 col-center">
            <section>
                <h2>User Guide</h2>
            </section>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Key Stage 1, and Lower Key Stage 2</h4>
                    <p><a id="pdf_link" href="{% url 'materials_viewer' pdf_name='introduction_to_coding' %}">Introduction to Coding Guide</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='levels_guide_1-50' %}">Levels Guide (1-50)</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='glossary' %}">Glossary</a></p>
                </div>
                <div class="col-sm-4">
                    <h4>Upper Key Stage 2</h4>
                    <p><a href="{% url 'materials_viewer' pdf_name='introduction_to_python' %}">Introduction to Python in Rapid Router</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='levels_guide_51-109' %}">Levels Guide (51-109)</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='blockly_python_phrasebook' %}">Blockly - Python Phrasebook</a></p>
                </div>
                <div class="col-sm-4">
                    <h4>Key Stage 3</h4>
                    <p><a href="{% url 'materials_viewer' pdf_name='user_guide_aimmo' %}">User Guide (AI:MMO)</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ks1">
    <div class="background col-sm-8 col-center">
        <section>
            <h2>Key Stage 1</h2>
            <img title="KS1" alt="KS1 icon" src="{% static 'portal/img/stage_icon_ks1.png' %}">
            <h4>Children will learn the basics of coding by programming a delivery van to drive around simple routes. They will sequence instructions and use simple repetition
                commands in a visual programming language.</h4>
            <a href="{{ 'KS1.zip'|cloud_storage }}" class="button button--regular button--primary--positive">Download all KS1 resources</a>
            <img title="ZIP" alt="ZIP icon" src="{% static 'portal/img/icon_zip.png' %}">
        </section>
        <h3>Sessions <span class="ks-tag">KS1</span></h3>
        <p>Complete lesson plans for each session, including learning objectives, a list of useful resources, pupil activities, and guidance on share and
            review following the session.</p>
        <table class="table--resources table--sessions">
            {% for ks1_session in ks1_sessions %}
            <tr>
                <td><p><strong>Session {{ ks1_session.session_number }}</strong></p></td>
                <td><p>
                    <a href="{% url 'materials_viewer' pdf_name=ks1_session.url_name %}">
                        {{ ks1_session.description }} {% if ks1_session.video %}(includes video){% endif %}</a></p></td>
                <td><img title="PDF" alt="PDF icon" src="{% static 'portal/img/icon_pdf.png' %}"></td>
                <td>
                    {% if ks1_session.video %}
                    <img title="Video" alt="Video icon" src="{% static 'portal/img/icon_video.png' %}">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <h3>Resource Sheets <span class="ks-tag">KS1</span></h3>
        <p>Resource sheets help you teach coding concepts offline in the classroom.
            You can <a href="{{ 'KS1/resource_sheets.zip'|cloud_storage }}">download the whole set</a> (zip file), or view and download
            them individually below.</p>
        {% resource_sheets_table ks1_sheets %}
    </div>

    <div class="background background--quaternary">
        <div class="col-sm-8 col-center">
            <div class="row row--under">
                <div class="col-sm-6">
                    <h3>Program Solutions <span class="ks-tag">KS1</span></h3>
                    <p>This sheet gives you the confidence and the understanding needed to teach the lessons and the solutions to each level.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='program_solutions_1-28' %}">View programme solutions</a></p>
                </div>
                <div class="col-sm-6">
                    <h3>Activity Set <span class="ks-tag">KS1</span></h3>
                    <p>This activity set gives you an overview of the Key Stage 1 module. It covers the resources that will be useful, learning
                        expectations and teacher preparation.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='ks1_activity_set' %}">View activity set</a></p>
                </div>
            </div>
            <div class="row row--under">
                <div class="col-sm-6">
                    <h3>Assets <span class="ks-tag">KS1</span></h3>
                    <p>Printable sheets with all the game assets from direction arrows to scenery for offline activity activities.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='ks1_assets' %}">Assets</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='ks1_code_wall_cards' %}">Code wall cards</a></p>
                </div>
                <div class="col-sm-6">
                    <h3>Assessments <span class="ks-tag">KS1</span></h3>
                    <p>Assessment guidance sheets for teachers explain techniques and key questions, pupil-led self-assessment sheets, along with
                        a record sheet for pupils. You can <a href="{{ 'KS1/assessment.zip'|cloud_storage }}"> download the
                        whole set</a> (zip file), or view and download them individually below.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='ks1_assessment_guide' %}">Assessment Sheet</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='ks1_self_assessment_sheet' %}">Self Assessment Sheet</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='ks1_teacher_record_sheet' %}">Teacher Record Sheet</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="lks2">
    <div class="background col-sm-8 col-center">
        <section>
            <h2>Lower Key Stage 2</h2>
            <img title="LKS2" alt="LKS2 icon" src="{% static 'portal/img/stage_icon_lks2.png' %}">
            <h4>Children will develop their understanding of programming principles by learning how to use repeat loops,
                if statements and respond to changes in variables in a visual programming language.</h4>
            <a href="{{ 'KS2.zip'|cloud_storage }}" class="button button--regular button--primary--setup">Download all Lower KS2 resources</a>
            <img title="ZIP" alt="ZIP icon" src="{% static 'portal/img/icon_zip.png' %}">
        </section>
        <h3>Sessions <span class="ks-tag">Lower KS2</span></h3>
        <p>Complete lesson plans for each session, including learning objectives, a list of useful resources, pupil activities, and guideance on share and
            review following the session.</p>
        <table class="table--resources table--sessions">
            {% for lks2_session in lks2_sessions %}
            <tr>
                <td><p><strong>Session {{ lks2_session.session_number }}</strong></p></td>
                <td><p>
                    <a href="{% url 'materials_viewer' pdf_name=lks2_session.url_name %}">
                        {{ lks2_session.description }} {% if lks2_session.video %}(includes video){% endif %}</a></p></td>
                <td><img title="PDF" alt="PDF icon" src="{% static 'portal/img/icon_pdf.png' %}"></td>
                <td>
                    {% if lks2_session.video %}
                    <img title="Video" alt="Video icon" src="{% static 'portal/img/icon_video.png' %}">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <h3>Resource Sheets <span class="ks-tag">Lower KS2</span></h3>
        <p>Resource sheets help you teach coding concepts offline in the classroom.
            You can <a href="{{ 'KS2/resource_sheets.zip'|cloud_storage }}">download the whole set</a> (zip file), or view and download
            them individually below.</p>
        {% resource_sheets_table lks2_sheets %}
    </div>

    <div class="background background--secondary">
        <div class="col-sm-8 col-center">
            <div class="row row--under">
                <div class="col-sm-6">
                    <h3>Program Solutions <span class="ks-tag">Lower KS2</span></h3>
                    <p>This sheet gives you the confidence and the understanding needed to teach the lessons and the solutions to each level.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='program_solutions_29-50' %}">View programme solutions</a></p>
                </div>
                <div class="col-sm-6">
                    <h3>Activity Set <span class="ks-tag">Lower KS2</span></h3>
                    <p>This activity set gives you an overview of the Key Stage 1 module. It covers the resources that will be useful, learning
                        expectations and teacher preperation.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='lks2_activity_set' %}">View activity set</a></p>
                </div>
            </div>
            <div class="row row--under">
                <div class="col-sm-6">
                    <h3>Assets <span class="ks-tag">Lower KS2</span></h3>
                    <p>Printable sheets with all the game assets from direction arrows to scenery for offline activity activities.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='lks2_assets' %}">Assets</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='lks2_code_wall_cards' %}">Code wall cards</a></p>
                </div>
                <div class="col-sm-6">
                    <h3>Assessments <span class="ks-tag">Lower KS2</span></h3>
                    <p>Assessment guidance sheets for teachers explain techniques and key questions, pupil-led self-assessment sheets, along with
                        a record sheet for pupils. You can <a href="{{ 'KS2/assessment.zip'|cloud_storage }}"> download the
                        whole set</a> (zip file), or view and download them individually below.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='lks2_assessment_guide' %}">Assessment Guide</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='lks2_self_assessment_sheet' %}">Self Assessment Sheet</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='lks2_teacher_record_sheet' %}">Teacher Record Sheet</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="uks2">
    <div class="background col-sm-8 col-center">
        <section>
            <h2>Upper Key Stage 2</h2>
            <img title="UKS2" alt="UKS2 icon" src="{% static 'portal/img/stage_icon_uks2.png' %}">
            <h4>Children will revise their skills in the Blockly visual programming language and learn the basics of the
                text-based language: Python. Throughout, they will be designing, creating and debugging their own programs.</h4>
            <a href="{{ 'python/UKS2_Python.zip'|cloud_storage }}" class="button button--regular button--primary--negative">Download all Upper KS2 resources</a>
            <img title="ZIP" alt="ZIP icon" src="{% static 'portal/img/icon_zip.png' %}">
        </section>
        <h3>Sessions <span class="ks-tag">Upper KS2</span></h3>
        <p>Complete lesson plans for each session, including learning objectives, a list of useful resources, pupil activities, and guideance on share and
            review following the session.</p>
        <table class="table--resources table--sessions">
            {% for uks2_session in uks2_sessions %}
            <tr>
                <td><p><strong>Session {{ uks2_session.session_number }}</strong></p></td>
                <td><p>
                    <a href="{% url 'materials_viewer' pdf_name=uks2_session.url_name %}">
                        {{ uks2_session.description }} {% if uks2_session.video %}(includes video){% endif %}</a></p></td>
                <td><img title="PDF" alt="PDF icon" src="{% static 'portal/img/icon_pdf.png' %}"></td>
                <td>
                    {% if uks2_session.video %}
                    <img title="Video" alt="Video icon" src="{% static 'portal/img/icon_video.png' %}">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <h3>Resource Sheets <span class="ks-tag">Upper KS2</span></h3>
        <p>Resource sheets help you teach coding concepts offline in the classroom.
            You can <a href="{{ 'python/UKS2_Resource_sheets.zip'|cloud_storage }}">download the whole set</a> (zip file), or view and download
            them individually below.</p>
        {% resource_sheets_table uks2_sheets %}
    </div>

    <div class="background background--tertiary">
        <div class="col-sm-8 col-center">
            <div class="row row--under">
                <div class="col-sm-6">
                    <h3>Program Solutions <span class="ks-tag">Upper KS2</span></h3>
                    <p>This sheet gives you the confidence and the understanding needed to teach the lessons and the solutions to each level.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='program_solutions_51-109' %}">View programme solutions</a></p>
                </div>
                <div class="col-sm-6">
                    <h3>Activity Set <span class="ks-tag">Upper KS2</span></h3>
                    <p>This activity set gives you an overview of the Key Stage 1 module. It covers the resources that will be useful, learning
                        expectations and teacher preparation.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='uks2_activity_set' %}">View activity set</a></p>
                </div>
            </div>
            <div class="row row--under">
                <div class="col-sm-6">
                    <h3>Assets <span class="ks-tag">Upper KS2</span></h3>
                    <p>Printable sheets with all the game assets from direction arrows to scenery for offline activity activities.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='uks2_assets' %}">Assets</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='uks2_code_wall_cards' %}">Code wall cards</a></p>
                </div>
                <div class="col-sm-6">
                    <h3>Assessments <span class="ks-tag">Upper KS2</span></h3>
                    <p>Assessment guidance sheets for teachers explain techniques and key questions, pupil-led self-assessment sheets, along with
                        a record sheet for pupils. You can <a href="{{ 'python/UKS2-Assessment.zip'|cloud_storage }}" > download the
                        whole set</a> (zip file), or view and download them individually below.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='uks2_assessment_guide' %}">Assessment Guide</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='uks2_self_assessment_sheet' %}">Self Assessment Sheet</a></p>
                    <p><a href="{% url 'materials_viewer' pdf_name='uks2_teacher_record_sheet' %}">Teacher Record Sheet</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ks3">
    <div class="banner banner__game banner__game--aimmo row">
        <section>
            <div class="row row--under">
        <img title="AIMMO Logo" alt="AIMMO icon" src="{% static 'portal/img/aimmo_logo_white_no_box.svg' %}">
            </div>
            <div class="row row--under">
        <img title="Preview Version" alt="Preview Version" src="{% static 'portal/img/preview_version_label.svg' %}">
            </div>
        <p>The Key Stage 3 teaching resources and AI:MMO game are still being developed.</p>
        </section>
    </div>
    <div class="background col-sm-8 col-center">
        <section>
            <h2>Key Stage 3</h2>
            <img title="KS3" alt="KS3 icon" src="{% static 'portal/img/stage_icon_ks3.svg' %}">
            <h4>Playing AI:MMO will build on skills learnt in Rapid Router (Key Stages 1 and 2).
                The game is a Massively Multiplayer Online (MMO) time travelling adventure, which will take them to the
            next level on their coding journey: Artificial Intelligence and Python.</h4>
            <a href="{{ 'KS3/KS3_resources.zip'|cloud_storage }}" class="button button--regular button--primary--navigation">Download all KS3 resources</a>
            <img title="ZIP" alt="ZIP icon" src="{% static 'portal/img/icon_zip.png' %}">
        </section>
        <h3>User Guide <span class="ks-tag">KS3</span></h3>
        <p><a href="{% url 'materials_viewer' pdf_name='user_guide_aimmo' %}">AI:MMO User Guide</a></p>
        <h3>Resource Sheets <span class="ks-tag">KS3</span></h3>
        <p>Resource sheets help you teach coding concepts that will be used within the MMO game.</p>
        {% for ks3_sessions in ks3_sheets %}
            <table class="table--resources table--sessions">
                {% for ks3_sheet in ks3_sessions %}
                <tr>
                    <td><p><strong>MMO</strong></p></td>
                    <td><p>
                        <a href="{% url 'materials_viewer' pdf_name=ks3_sheet.url_name %}">
                            {{ ks3_sheet.title }} {% if ks3_sheet.video %}(includes video){% endif %}</a></p></td>
                    <td><img title="PDF" alt="PDF icon" src="{% static 'portal/img/icon_pdf.png' %}"></td>
                    <td>
                        {% if ks3_sheet.video %}
                        <img title="Video" alt="Video icon" src="{% static 'portal/img/icon_video.png' %}">
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>

    <div class="background background--quinary">
        <div class="col-sm-8 col-center">
            <div class="row row--under">
                <div class="col-sm-6">
                    <h3>Activity Set <span class="ks-tag">KS3</span></h3>
                    <p>Coming soon.</p>
                </div>
                <div class="col-sm-6">
                    <h3>Assessments <span class="ks-tag">KS3</span></h3>
                    <p>A record sheet for pupils.</p>
                    <p><a href="{% url 'materials_viewer' pdf_name='ks3_teacher_record_sheet' %}">Teacher Record Sheet</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        if($(window).width() > 760) {
            toggleStickySubnav($('.banner').outerHeight() + $('.menu').outerHeight());
        }
    });
</script>


{% endblock content %}
