{% extends 'portal/teach/base_registering.html' %}
{% load staticfiles %}
{% load app_tags %}

{% if not onboarding_done %}
{% block createJoinSchoolStep %}
<div class="onboarding-step onboarding-step--done">
    <p><img title="Done" alt="Step done" src="{% static 'portal/img/step_done.png' %}">Create / Join school</p>
</div>
{% endblock createJoinSchoolStep %}
{% block createClassStep %}
<div class="onboarding-step onboarding-step--done">
    <p><img title="Done" alt="Step done" src="{% static 'portal/img/step_done.png' %}">Create class</p>
</div>
{% endblock createClassStep %}
{% block addStudentsStep %}
<div class="onboarding-step onboarding-step--done">
    <p><img title="Done" alt="Step done" src="{% static 'portal/img/step_done.png' %}">Add students</p>
</div>
{% endblock addStudentsStep %}
{% block printStudentCardsStep %}
<div class="onboarding-step onboarding-step--in-progress">
    <p><img title="In progress" alt="Step in progress" src="{% static 'portal/img/step_in_progress.png' %}">Print student IDs</p>
</div>
{% endblock printStudentCardsStep %}

{% endif %}

{% block content %}
<div id="onboarding_student_list_page"></div>

<div id="sticky-warning" class="sub-nav sub-nav--warning">
    <img title="Warning" alt="Warning sign" src="{% static 'portal/img/warning.png' %}">
    <p><small><i>This is the only time you will be able to view this page. You can print PDF format <br>reminder cards that populate these details which can
        be given to the students.</i></small></p>
    <form target="_blank" method="post" action="{% url 'teacher_print_reminder_cards' class.access_code %}">
        {% csrf_token %}
        <input type="hidden" name="data" value="{{ query_data }}"/>
        <div class="section">
            <button class="button button--primary" type="submit">Print reminder cards</button>
        </div>
    </form>
</div>

<div class="background container">
    <div class="form col-sm-12 col-center">
        <h4>{{ user.new_teacher.school.name }}</h4>
        {% if passwords_reset %}
        <h5>Students&rsquo; passwords reset for class {{ class.name }} ({{ class.access_code }})</h5>
        <p>The following students have had their passwords reset:</p><br>
        {% else %}
        <h5>New students created in class: {{ class.name }} ({{ class.access_code }})</h5>
        <p>The following students have been created for your class. When they log in for the first time, you may want students to change their
            passwords to something more memorable. You will be able to reset these students&rsquo; passwords at any time.</p><br>
        {% endif %}
        <p>The Class Access Code for this class is: {{ class.access_code }}.</p>
        <table id="student_table" class="col-sm-12 header-primary data-primary">
            <tr>
                <th class="col-xs-6" colspan="2"><p>Option 1 Login details</p></th>
                <th class="no-bg"></th>
                <th class="col-xs-6"><p>Option 2 Login links</p></th>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="d-flex align-items-center">
                        <div><small>Class link:</small></div>
                        <div class="flex-grow-1 mx-1"><small>{{ class_url }}</small></div>
                        <div><span class="iconify" data-icon="mdi:content-copy"></span></div>
                    </div>
                </td>
                <td class="no-bg"><div class="or-circle">OR</div></td>
                <td><p><small>No class code or password required</small></p></td>
            </tr>
            <tr class="header-secondary">
                <th><p>Name</p></th>
                <th><p>Password</p></th>
                <th class="no-bg"></th>
                <th><p>Copy the links below and share with the student</p></th>
            </tr>
            {% for name_token in name_tokens %}
            <tr>
                <td><p><small>{{ name_token.name }}</small></p></td>
                <td><p><small>{{ name_token.password }}</small></p></td>
                <td class="no-bg"></td>
                <td><p><small>TODO</small></p></td>
            </tr>
            {% endfor %}
        </table>
        <section>
            <form target="_blank" method="post" action="{% url 'teacher_print_reminder_cards' class.access_code %}">
                {% csrf_token %}
                <input type="hidden" name="data" value="{{ query_data }}"/>

                <button class="button button--primary pull-left margin-0" type="submit">Print reminder cards</button>
                {% if onboarding_done %}
                    <a href="{% url 'view_class' class.access_code %}" class="button button--secondary button--secondary--dark pull-right">Back to class</a>
                {% else %}
                    <a href="{% url 'onboarding-complete' %}" class="button button--secondary button--secondary--dark pull-right">Finish setup</a>
                {% endif %}
                </div>
            </form>
        </section>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        if($(window).width() > 760) {
            {% if not onboarding_done %}
                toggleStickySubnav($('.banner').outerHeight());
            {% else %}
                toggleStickySubnav(0);
            {% endif %}
        }
    });
</script>

{% endblock content %}
