{% extends 'portal/teach/base_registering.html' %}
{% load staticfiles %}
{% load app_tags %}

{% if not onboarding_done %}

{% block createJoinSchoolStep %}
<div class="onboarding-step onboarding-step--done">
    <p><img title="Done" alt="Step done" src="{% static 'portal/img/step_done.png' %}">Create / Join school</p>
</div>
{% endblock createJoinSchoolStep %}
{% block createClassStep %}
<div class="onboarding-step onboarding-step--done">
    <p><img title="Done" alt="Step done" src="{% static 'portal/img/step_done.png' %}">Create class</p>
</div>
{% endblock createClassStep %}
{% block addStudentsStep %}
<div class="onboarding-step onboarding-step--done">
    <p><img title="Done" alt="Step done" src="{% static 'portal/img/step_done.png' %}">Add students</p>
</div>
{% endblock addStudentsStep %}
{% block printStudentCardsStep %}
<div class="onboarding-step onboarding-step--in-progress">
    <p><img title="In progress" alt="Step in progress" src="{% static 'portal/img/step_in_progress.png' %}">Print student IDs</p>
</div>
{% endblock printStudentCardsStep %}

{% endif %}

{% block content %}

{% if onboarding_done %}
<section class="banner banner--teacher row mx-0 flex-column">
    <h5>Class and class access code:</h5>
    <h1 class="banner__text--primary mt-3 mb-4">{{ class.name }}, ({{ class.access_code }})</h1>
    <h5>{{ user.new_teacher.school.name }}</h5>
</section>
{% endif %}

<div id="onboarding_student_list_page"></div>

<div id="sticky-warning" class="sub-nav--warning">
    <div class="container">
        <div class="col-sm-12 sub-nav">
            <span class="iconify sub-nav--icon" data-icon="mdi:alert-outline"></span>
            <p class="flex-grow-1">
                <small><strong>This is the only time you will be able to view this page. You can print reminder cards or download as a CSV file.</strong></small>
            </p>
            <form target="_blank" method="post" action="{% url 'teacher_print_reminder_cards' class.access_code %}">
                {% csrf_token %}
                <input type="hidden" name="data" value="{{ query_data }}"/>
                <div class="section">
                    <button class="button button--secondary" type="submit">
                        <div class="d-flex align-items-center">
                            <div>Print reminder cards</div>
                            <span class="iconify ml-3" data-icon="mdi:printer"></span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="background container">
    <div class="form col-sm-12">
        {% if passwords_reset %}
        <h5>Students' passwords reset for class {{ class.name }} ({{ class.access_code }})</h5>
        <p>The following students have had their passwords reset:</p><br>
        {% else %}
        <p>
            The following credentials have been created for your class. When they log in for the first time, you may want students to change their
            passwords to something more memorable. You can reset these details for them at any time.
        </p>
        <p>
            To log on, they will need to enter their name and passwords. Alternatively, you can provide them with a direct access link from the
            table below.
        </p>
        <p class="text-danger">
            <strong>
                You will not be shown this page again, so please make sure you retain a copy of the passwords for your records. You can print the
                reminder cards from the button below. Please ensure you share student passwords securely.
            </strong>
        </p>
        {% endif %}
        <div class="row">
            <table id="student_table" class="col-sm-12 header-primary data-primary">
                <tr>
                    <th class="col-xs-6" colspan="2"><p>Option 1 Login details</p></th>
                    <th class="no-bg"></th>
                    <th class="col-xs-6"><p>Option 2 Login links</p></th>
                </tr>
                <tr>
                    <td colspan="2" class="mw-0">
                        <div class="d-flex">
                            <div><small>Class link:</small></div>
                            <div id="class_url" class="flex-grow-1 mx-1 text-truncate"><small>{{ class_url }}</small></div>
                            <div>
                                <a onclick="copyToClipboardFromElement(this, '#class_url')" data-toggle="copyToClipboardTooltip">
                                    <span class="iconify" data-icon="mdi:content-copy" title="Copy to clipboard"></span>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td class="no-bg"><div class="or-circle d-none d-lg-block">OR</div></td>
                    <td><p><small><strong>No class code or password required</strong></small></p></td>
                </tr>
                <tr class="header-secondary">
                    <th><p>Name</p></th>
                    <th><p>Password</p></th>
                    <th class="no-bg"></th>
                    <th><p>Copy the links below and share with the student</p></th>
                </tr>
                {% for student_info in students_info %}
                <tr>
                    <td><p><small>{{ student_info.name }}</small></p></td>
                    <td><p><small>{{ student_info.password }}</small></p></td>
                    <td class="no-bg"></td>
                    <td class="mw-0">
                        <div class="d-flex align-items-center">
                            <div id="student_{{ student_info.id }}_url" class="flex-grow-1 mx-1 text-truncate"><small>{{ student_info.login_url }}</small></div>
                            <div>
                                <a onclick="copyToClipboardFromElement(this, '#student_{{ student_info.id }}_url')" data-toggle="copyToClipboardTooltip">
                                    <span class="iconify" data-icon="mdi:content-copy" title="Copy to clipboard"></span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <section>

            <div class="d-flex justify-content-between b-5">
                <form target="_blank" method="post" action="{% url 'teacher_print_reminder_cards' class.access_code %}">
                    {% csrf_token %}
                    <input type="hidden" name="data" value="{{ query_data }}"/>
                    <button class="button button--primary m-0" type="submit">
                        <div class="d-flex align-items-center">
                            <div>Print password reminder cards</div>
                            <span class="iconify ml-3" data-icon="mdi:printer"></span>
                        </div>
                    </button>
                </form>

                <form target="_blank" method="post" action="{% url 'teacher_download_csv' class.access_code %}">
                    {% csrf_token %}
                    <input type="hidden" name="data" value="{{ query_data }}"/>
                    <div class="button-group">
                        <button class="button button--primary button--icon" type="submit">
                            Download CSV<span class="iconify" data-icon="mdi:tray-arrow-down"></button>
                    </div>
                </form>
            </div>

            {% if onboarding_done %}
                <div class="d-flex">
                    <a id="back_to_class_button" href="{% url 'view_class' class.access_code %}" class="button button--secondary button--secondary--dark">
                        <div class="d-flex align-items-center">
                            <span class="iconify mr-3" data-icon="mdi:chevron-left"></span>
                            <div>Back to class</div>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="d-flex justify-content-end">
                    <a href="{% url 'onboarding-complete' %}" class="button button--secondary button--secondary--dark">
                        <div class="d-flex align-items-center">
                            <div>Complete set up </div>
                            <span class="iconify ml-3" data-icon="mdi:check"></span>
                        </div>
                    </a>
                </div>
            {% endif %}
        </section>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        if($(window).width() > 760) {
            toggleStickySubnav($('.banner').outerHeight());
        }
    });
</script>

{% endblock content %}
