{% extends 'portal/teach/base.html' %}
{% load static %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<div class='section group'>
    <h1>Manage organisation</h1>
</div>

<br>

<div class='section group'>
    <h3>Teachers who are part of your school/club</h3>

    <table class='CSSTable' width='100%'>
        <tr>
            <td>Name</td>
            <td>Email address</td>
            {% if is_admin %}
                <td colspan='2'>Actions</td>
            {% endif %}
        </tr>

        {% for coworker in coworkers %}
            <tr>
                <td>{{ coworker.user.user.first_name }} {{ coworker.user.user.last_name }} {% if coworker.user.user == user %}<b>(you)</b>{% endif %}</td>
                <td>{{ coworker.user.user.email }}</td>
                {% if coworker.user.user != user and is_admin %}
                    <td><a class='btn' href="{% url 'portal.views.organisation_kick' coworker.id %}">Kick</a></td>
                    <td><a class='btn' href="{% url 'portal.views.organisation_toggle_admin' coworker.id %}">{% if coworker.is_admin %}Make non-admin{% else %}Make admin{% endif %}</a></td>
                {% else %}
                    {% if is_admin %}
                        <td></td>
                        <td></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

{% if is_admin %}

<br>

<div class='section group'>
    <h3>Teachers who have made a request to join your school/club</h3>
    {% if join_requests %}
        <table class='CSSTable' width='100%'>
            <tr>
                <td>Name</td>
                <td>Email address</td>
                <td colspan='2'>Actions</td>
            </tr>

            {% for join_request in join_requests %}
                <tr>
                    <td>{{ join_request.user.user.first_name }} {{ join_request.user.user.last_name }}</td>
                    <td>{{ join_request.user.user.email }}</td>
                    <td><a class='btn' href="{% url 'portal.views.organisation_allow_join' join_request.id %}">Allow</a></td>
                    <td><a class='btn' href="{% url 'portal.views.organisation_deny_join' join_request.id %}">Deny</a></td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>No teachers have currently requested to join your school/club.</p>

    {% endif %}
</div>

<br>

<div class='span_centered_third'>
    <div class='section group login-card'>
        <h3>Change the details of your school/club</h3><br>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}
                    {{ field.errors }}
                    <label class="ieLabels">{{ field.html_name }}</label>
                    {{ field }}
                {% endfor %}
                <div class='section group'>
                    <div class="col span_2_of_3"></div>
                    <div class="col span_1_of_3">
                        <input type='submit' class='btn' value='Change'/>
                    </div>
                </div>

            </form>
    </div>
</div>
{% else %}

<br>

    <div class='section group'>
        <div class='small-3 small-centered columns'>
            <a class='portal_button' href="{% url 'portal.views.organisation_leave' %}">Leave school/club</a>
        </div>
    </div>

{% endif %}

{% endblock %}
