{% extends 'portal/teach/base.html' %}
{% load static %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<script>
// Here we want to send off an ajax request whenever the user types something
// but we want it limited to some rate. This method of setting timeouts will
// unfortunately introduce a delay but it was easy to implement and it ensures
// that every character the user types is considered and the last one cannot
// be missed off.

var timeout_scheduled = false;
function updateChosenOrgSelect() {
    if (!timeout_scheduled) {
        timeout_scheduled = true;
        update_timeout = setTimeout(function() {
            fuzzy_name = $('#{{ join_form.fuzzy_name.auto_id }}').val();
            $.getJSON("{% url 'portal.views.organisation_fuzzy_lookup' %}", { fuzzy_name: fuzzy_name }, function(data) {
                select = document.getElementById('{{ join_form.chosen_org.auto_id }}');
                select.options.length = 0;
                select.options.add(new Option('Select school/club', '-1'));
                select.options[0].selected = true;
                select.options[0].disabled = true;
                for (var i = 0; i < data.length; i++) {
                    var d = data[i];
                    select.options.add(new Option(d.name + ', ' + d.postcode, d.id));
                }
            });
            timeout_scheduled = false;
        }, 200);
    }
}

$(function() {
    fuzzy_name = $('#{{ join_form.fuzzy_name.auto_id }}');
    select = document.getElementById('{{ join_form.chosen_org.auto_id }}');
    select.options.length = 0;
    select.options.add(new Option('Select school/club', '-1'));
    select.options[0].selected = true;
    select.options[0].disabled = true;
    if (fuzzy_name.length > 0) {
        fuzzy_name.on('keydown', updateChosenOrgSelect);
        fuzzy_name.on('paste', updateChosenOrgSelect);
        fuzzy_name.on('cut', updateChosenOrgSelect);
    }
});
</script>

<div class='section group'>
    {% if teacher.pending_join_request %}
    <div class='span_centered_third'>
        <div class='login-card'>

            <h3>Request to join organisation</h3>

            <p>You have a pending join request to '{{ teacher.pending_join_request.name }}'.</p>
            <p>You may only have one at a time, if you wish to join another you must revoke your pending request first.</p>

            <form method='post'>

                {% csrf_token %}

                <div class='section group'>
                    <input class='btn' type='submit' name='revoke_join_request' value="Revoke request to '{{ teacher.pending_join_request.name }}'"/>
                </div>

            </form>
        </div>
    </div>
    {% else %}

        <div class='col span_1_of_2'>
            <div class='login-card'>
                <h3>Create a new organisation</h3><br>

                <p>You will be set up as the administrator of this new organisation and will be responsible for approving other teachers to join the organisation.</p>

                <form method='post'>

                    {% csrf_token %}

                    {{ create_form.non_field_errors }}

                    {% for field in create_form %}
                        {{ field.errors }}
                        <label class="ieLabels">{{ field.html_name }}</label>
                        {{ field }}
                    {% endfor %}

                    <div class='section group'>
                        <div class='col span_2_of_3'></div>

                        <div class='col span_1_of_3'>
                            <input type='submit' class='btn' name='create_organisation' value='Create'/>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class='col span_1_of_2'>
            <div class='login-card'>
                <h3>Join an organisation</h3><br>

                <p>A request will be sent to the administrator of the organisation who will either accept or deny your request.</p>

                <form method='post'>

                    {% csrf_token %}

                    {{ join_form.non_field_errors }}

                    {% for field in join_form %}
                        {{ field.errors }}
                        <label class="ieLabels">{{ field.html_name }}</label>
                        {{ field }}
                    {% endfor %}

                    <div class='section group'>
                        <div class='col span_2_of_3'></div>

                        <div class='col span_1_of_3'>
                            <input type='submit' class='btn' name='join_organisation' value='Join'/>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    {% endif %}
</div>

{% endblock %}
