{% extends 'portal/teach/base.html' %}
{% load static %}
{% load app_tags %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{% static 'portal/js/organisation_manage.js' %}"></script>
<script>
var CONFIRMATION_DATA = {};
</script>
{% endblock %}

{% block nav_teacher_school %}<b><a id="teacher_organisation_button" href="{% url 'organisation_manage' %}">School | Club</a></b>{% endblock nav_teacher_school %}

{% block content %}

<div id="teach_organisation_manage_page"></div>

<div class='section group'>
    <h1>School | Club</h1><br>
    <h2>Manage my school or club ({{ teacher.school.name }})</h2><br>

    {% if is_admin %}
        <div id="admin_view"></div>
        <p>As an administrator of your school or club, you can select other teachers to whom you can provide or revoke administrative rights. You can also remove teachers from your school or club if they leave, and respond to requests from new teachers joining your organisation.</p>
    {% else %}
        <p>You can see which other teachers in your school or club are registered here. Should you need to leave the school or club, you can do so below.</p>
    {% endif %}
</div>

<br>

<div class='section group'>
    <h4>Teachers who are part of your school or club</h4><br>

    <p>The following teachers are in your school or club.</p>

    {% if is_admin %}
        <p>Select 'Remove' to delete a teacher from your school or club. You will be able to move any existing classes assigned to that teacher to other teachers in your school or club.</p>
        <p>If another teacher is having problems with their Two Factor Authentication, you can disable it for them by selecting 'Disable 2FA'. We strongly recommend that administrators who are using 2FA ensure there is another administrator who will be able to disable their 2FA should they have problems with their smartphone or tablet.</p>
        <p>You can also manage administrator rights by clicking the 'Make non-admin' and 'Make admin' buttons.</p>
    {% endif %}

    <table id="coworker_table" class='CSSTable smaller alternate wide'>
        <tr>
            <th>Name</th>
            <th>Administrator Status</th>
            {% if is_admin %}
                <th colspan='3'>Actions</th>
            {% endif %}
        </tr>

        {% for coworker in coworkers %}
            <tr>
                <td>{{ coworker.title }} {{ coworker.user.user.first_name }} {{ coworker.user.user.last_name }} {% if coworker.user.user == user %}<b>(you)</b>{% endif %}</td>
                <td>{% if coworker.is_admin %}Administrator{% else %}Standard Teacher{% endif %}{% if coworker.is_admin or is_admin %} ({{ coworker.user.user.email|emaildomain }}){% endif %}</td>
                {% if coworker.user.user != user and is_admin %}
                    <td><button class='btn btn-danger btn-small no-margin' onclick="showRemoveConfirmation('{% url 'organisation_kick' coworker.id %}', '{{ coworker.user.user.first_name }}')">Remove</button></td>
                    <td>{% if coworker.is_admin %}<a class='btn btn-default btn-small no-margin' href="{% url 'organisation_toggle_admin' coworker.id %}">Make non-admin</a>{% else %}<button class='btn btn-default btn-small no-margin' onclick="showToggleAdminConfirmation('{% url 'organisation_toggle_admin' coworker.id %}', '{{ coworker.user.user.first_name }}')">Make admin</button>{% endif %}</td>
                    <td>{% if coworker.user.user|has_2FA %}<button class='btn btn-default btn-small no-margin' onclick="showDisable2FAConfirmation('{% url 'teacher_disable_2FA' coworker.id %}', '{{ coworker.user.user.first_name }}')">Disable 2FA</button>{% endif %}</td>
                {% else %}
                    {% if is_admin %}
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
</div>

{% if is_admin %}

<br>

<div class='section group'>
    <h4>Teachers who have made a request to join your school or club</h4><br>

    {% if join_requests %}
        <p>The following teachers have requested to join your school or club. Use the email address to verify their identity, selecting the 'Allow' button to join your organisation or 'Deny' button to reject their request. Do not accept requests that you were not expecting, or that are from an unknown source.</p>
        <table id="request_table" class='CSSTable alternate smaller wide'>
            <tr>
                <th>Name</th>
                <th>Email address</th>
                <th colspan='2'>Actions</th>
            </tr>

            {% for join_request in join_requests %}
                <tr>
                    <td>{{ join_request.title }} {{ join_request.user.user.first_name }} {{ join_request.user.user.last_name }}</td>
                    <td>{{ join_request.user.user.email }}</td>
                    <td><a class='btn btn-default btn-small no-margin' href="{% url 'organisation_allow_join' join_request.id %}">Allow</a></td>
                    <td><a class='btn btn-default btn-small no-margin' href="{% url 'organisation_deny_join' join_request.id %}">Deny</a></td>
                </tr>
            {% endfor %}
        </table>
        <br>

    {% else %}
        <p>No teachers have currently requested to join your school or club.</p>

    {% endif %}
</div>

<br>

<div class='span_1_of_2'>
    <div class='section group login-card'>
        <h4>Change the details of your school or club</h4><br>

            <p>Update your school or club's name and/or postcode.</p>
            <p>These details are used to allow other teachers to join your team.</p>

            <form id="edit_form" method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}
                    {{ field.errors }}
                    <label for="id_{{ field.html_name }}">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}
                <div class='section group'>
                    <input id="update_details_button" type='submit' class='btn btn-primary wide' value='Change'/>
                </div>

            </form>
    </div>
</div>
{% else %}

<br>

<div class='section group'>
    <div class='span_1_of_2'>
        <div class='login-card'>
            <h4>Leave {{ user.userprofile.teacher.school.name }}</h4><br>
            <p>Time to go? As a teacher with non-administrative responsibilities, you may leave this school or club and transfer students or classes to other teachers within your organisation.</p>
            <a class='btn btn-danger wide' href="{% url 'organisation_leave' %}">Leave school or club</a>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
