{% extends 'portal/teach/base.html' %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'portal/js/fuzzySchoolLookup.js' %}"></script>
<script>
var FUZZY_NAME_FIELD_ID = '{{ join_form.fuzzy_name.auto_id }}';
var CHOSEN_ORG_FIELD_ID = '{{ join_form.chosen_org.auto_id }}';
var FUZZY_ORG_LOOKUP_URL = "{% url 'organisation_fuzzy_lookup' %}";
</script>
{% endblock scripts %}

{% block nav_teacher_school %}<b><a id="teacher_organisation_button" href="{% url 'organisation_manage' %}">School | Club</a></b>{% endblock nav_teacher_school %}

{% block content %}

<h1>School | Club</h1><br>
<h2>Create or join a school or club</h2><br>

<p>You can either request to join a school or club that is already set up on Code for Life, or create a new one if you are the first teacher in your school or club.</p>

{% if teacher.pending_join_request %}
<div id='teach_organisation_revoke_page'></div>

<div class='section group'>
    <div class='span_1_of_2'>
        <div class='login-card'>

            <h3>Request to join a school or club</h3><br>

            <p>You have a pending request to join {{ teacher.pending_join_request.name }}, {{ teacher.pending_join_request.postcode }}.</p>
            <p>Please note: You may only have one request to join a school or club at a time. If you wish to join another school or club, you must revoke your pending request first.</p>

            <form id="revoke_form" method='post'>

                {% csrf_token %}

                <div class='section group'>
                    <input class='btn btn-primary wide' type='submit' name='revoke_join_request' value="Revoke request to {{ teacher.pending_join_request.name }}"/>
                </div>

            </form>
        </div>
    </div>
</div>
{% else %}
<div id='teach_organisation_create_page'></div>

<div class='section group'>
    <div class='col span_1_of_2'>
        <div class='login-card'>
            <h3>Create a new school or club</h3><br>

            <p><b>Please note:</b> As the first person from your school or club to register for Code for Life, by default, you become the organisation's administrator. As administrator you have the authority to give and revoke administrative powers to other teachers within your organisation, allow or deny requests from other teachers who wish to join your organisation and remove teachers from your organisation.</p>
            <p>The administrator is responsible and accountable for ensuring the overall safety of your school or club, and should only accept insitutional address when requesting to join.</p>

            <form id="form-create-organisation" method='post'>

                {% csrf_token %}

                {{ create_form.non_field_errors }}

                {% for field in create_form %}
                    {{ field.errors }}
                    <label for="id_{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}

                <div class='section group'>
                    <input type='submit' class='btn btn-primary wide' name='create_organisation' value='Create'/>
                </div>

            </form>
        </div>
    </div>

    <div class='col span_1_of_2'>
        <div class='login-card'>
            <h3>Join a school or club</h3><br>

            <p>You can search for your school or club by name and/or postcode below.</p>
            <p>You can verify that you are joining the desired school or club through its postcode and the email address shown.</p>
            <p>A request will be sent to the school or club's administrator for processing.</p>

            <form id="form-join-organisation" method='post'>

                {% csrf_token %}

                {{ join_form.non_field_errors }}

                {{ join_form.fuzzy_name.errors }}
                <label for="id_{{ join_form.fuzzy_name.html_name }}">{{ join_form.fuzzy_name.label }}</label>
                {{ join_form.fuzzy_name }}

                {{ join_form.chosen_org.errors }}
                <label for="id_{{ join_form.chosen_org.html_name }}">{{ join_form.chosen_org.label }}</label>
                {{ join_form.chosen_org }}

                {% if join_form.recaptcha %}
                    {{ join_form.recaptcha.errors }}
                    <label for="id_{{ join_form.recaptcha.html_name }}">{{ join_form.recaptcha.label }}</label>
                    {{ join_form.recaptcha|safe }}
                {% endif %}

                <div class='section group'>
                    <input type='submit' class='btn btn-primary wide' name='join_organisation' value='Join'/>
                </div>

            </form>
        </div>
    </div>
</div>
{% endif %}
</div>

{% endblock %}
