{% extends 'portal/teach/base.html' %}
{% load static %}

{% block content %}

<h3>New students created</h3>

<p><b>Warning:</b> You will only see this screen once. Please print this page or make a note of their passwords to prevent having to generate a new set of passwords for these students.</p>

<p>The following students have been created for your class. When they log in for the first time, you may wish them to change to a new password which is more memorable. You will be able to reset these students' passwords at any time.</p>

<div class='section group'>
    <div class='col span_2_of_3'>
        <p>The Class Access Code for this class is: <b>{{ class.access_code }}</b></p>
    </div>

    <div class='col span_1_of_3'>
        <form method='post' action="{% url 'portal.views.teacher_print_reminder_cards' class.access_code %}">
            {% csrf_token %}
            <input type='hidden' name='data' value='{{ query_data }}'/>
            <input class='btn wide'type='submit' value='Print Reminder Cards'/>
        </form>
    </div>
</div>

<div class='span_centered_third'>
    <table class='CSSTable' width='100%'>
        <tr>
            <td>name</td>
            <td>Password</td>
        </tr>
        {% for name_token in name_tokens %}
            <tr>
                <td>{{ name_token.name }}</td>
                <td>{{ name_token.password }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<a class='btn' href="{% url 'portal.views.teacher_class' class.access_code %}">Return to class</a>

{% endblock %}
