{% extends 'portal/teach/base.html' %}
{% load static %}

{% block content %}

<div class='login-card'>
    <h3>Students to remove from class</h3><br>

    <p>You may have to change the new username a student will use. The suggestions below are unique, but you may want to change them to something more memorable. The students will then log in with these new names via the individual login (on the <a href="{% url 'portal.views.play' %}">Play</a> page), and so will not have to provide a class access code. Their passwords will stay the same.</p>

    <p>Please also set email addresses for the students you are removing from this class. Email addresses are required for students not part of a class. If a student is too young to have one or otherwise does not have one please enquire as to the address of one of their parents/guardians to use instead. These email addresses will have to be validated through a verification email before the student can log in. More than one student can be registered to the same email address.</p>

    <form method='POST'>

        {% csrf_token %}

        {{ formset.management_form }}

        <table class='CSSTable' width='100%'>
            <tr>
                <td>Original Student Name</td>
                <td>New Student Username</td>
                <td>Email address</td>
            </tr>
                {{ formset.non_form_errors }}
                {% for form in formset %}
                    <tr>
                        <td>{{ form.orig_name }}</td>
                        <td>{{ form.name.errors }}{{ form.name }}</td>
                        <td>{{ form.email.errors }}{{ form.email }}</td>
                    </tr>
                {% endfor %}
        </table>

        <div class='section group'>
            <a class='col span_1_of_3 btn' href="{% url 'portal.views.teacher_class' class.access_code %}">Cancel</a>

            <div class='col span_1_of_3 pull-right'>
                <input type='submit' name='submit_dismiss' class='btn' value='Remove'/>
            </div>
        </div>

    </form>
</div>

{% endblock %}
