{% extends 'portal/teach/base.html' %}

{% block nav_teacher_classes %}<b><a id="teacher_classes_button" href="{% url 'teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block content %}

<div id='teach_edit_class_page'></div>

<h1>Classes</h1><br>

<h2>Update settings for class {{ class.name }} ({{ class.access_code }})</h2><br/>
<p>You may change the name of the class, change permissions to allow external requests from independent students to join this class. You may also transfer the class to another teacher, or change permissions to allow pupils to see their classmates' progress.</p>
<div class='span_1_of_2'>
    <div class='login-card'>


        <form method='post'>

            {% csrf_token %}

            {{ form.non_field_errors }}

            {{ form.name.errors }}
            <h4>Class details</h4><br>
            <label for="id_{{ form.name.html_name }}">{{ form.name.label }}</label>
            {{ form.name }}

            <div class='section group'>
                <div class='col span_2_of_3'>
                    <label for="id_{{ form.classmate_progress.html_name }}">{{ form.classmate_progress.label }}</label>
                </div>
                <div class='col span_1_of_3'>
                    {{ form.classmate_progress.errors }}
                    {{ form.classmate_progress }}
                </div>
            </div>

            <h4>External requests setting</h4><br>
            <p>You can set up permissions for this class allowing students to send requests asking to join your class from outside of your school or club.</p>

            <p>{{ external_requests_message }}</p>
            {{ form.external_requests.errors }}
            <label for="id_{{ form.external_requests.html_name }}">{{ form.external_requests.label }}</label>
            {{ form.external_requests }}


            <div class='section group'>
                <div class='col span_1_of_2'>
                    <a id='cancel_button' class='btn btn-default wide' href="{% url 'teacher_class' class.access_code %}">Cancel</a>
                </div>
                
                <div class='col span_1_of_2'>
                    <input id='update_button' type='submit' class='btn btn-primary wide' value='Update'/>
                </div>
            </div>
        </form>


    </div>
    <br>
    <div class='login-card'>
        <h4>Transfer class to another teacher</h4><br>
        <div class='section group'>
            <div class='col span_2_of_3'>
                <p>To transfer this class to another teacher in your school or club, click 'Transfer'</p>
            </div>
            <div class='col span_1_of_3'>
                <a id='transfer_button' class='btn btn-default wide' href="{% url 'teacher_move_class' class.access_code %}">Transfer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
