{% extends 'portal/teach/base.html' %}
{% load app_tags %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "portal/css/colorbox.css" %}'>
{% endblock css %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src='{% static "portal/js/lib/jquery.colorbox.js" %}'></script>

<script type="text/javascript">
$(document).ready(function(){
    //Examples of how to assign the Colorbox event to elements

    $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});

    $(".callbacks").colorbox({
        onOpen:function(){ alert('onOpen: colorbox is about to open'); },
        onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
        onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
        onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
        onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
    });

    $('.non-retina').colorbox({rel:'group5', transition:'none'})
    $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
    
    //Example of preserving a JavaScript event for inline calls.
    $("#click").click(function(){ 
        $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
        return false;
    });
});
</script>
{% endblock scripts %}

{% block content %}   	

<h2>Teaching Packs</h2>
<div class="section group">

  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">General Resources Key Stage 1, and Lower Key Stage 2</td>
    </tr>
    <tr>
      <td width="40%"><a href="{{ 'KS1/general_resources/introduction_to_coding.pdf'|cloud_storage }}">Introduction to coding guide <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
     <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/general_resources/levels_guide.pdf'|cloud_storage }}">Levels guide <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
     <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/general_resources/glossary.pdf'|cloud_storage }}">Glossary <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
     <td></td>
    </tr>

  </table>
  
  <br>

  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">Key Stage 1</td>
    </tr>
    <tr>
      <td width="40%"><a href="{{ 'KS1.zip'|cloud_storage }}">Download complete KS1 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
     <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/activity_set.pdf'|cloud_storage }}">Activity Set <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
     <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/resource_sheets.zip'|cloud_storage }}">Resource sheets <img src="{% static 'portal/img/zip.png' %}" /></a></td>
     <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/assessment.zip'|cloud_storage }}">Assessment <img src="{% static 'portal/img/zip.png' %}" /></a><span></span></td>
      <td>Assessment techniques and key questions</td>
    </tr>

  </table>
  
  <br>
  
  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>KS1 Sessions</td>
      <td>Descriptions</td>
      <td>Videos</td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/lesson_plans/s1.pdf'|cloud_storage }}">Session 1 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Unplugged algorithms for moving along a route</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/lesson_plans/s2.pdf'|cloud_storage }}">Session 2 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Starting off on-screen with the app</td>
      <td><a href="https://www.youtube.com/embed/PQFyF3R6Xts?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="{{ 'videos/KS1_2_Introduction_to_Rapid_Router_with_Matt_and_Chris.mp4'|cloud_storage }}">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/lesson_plans/s3.pdf'|cloud_storage }}">Session 3 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Creating simple algorithms to reach a single destination</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/lesson_plans/s4.pdf'|cloud_storage }}">Session 4 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Creating simple algorithms to reach a single destination along the shortest route</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/lesson_plans/s5.pdf'|cloud_storage }}">Session 5 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Create a more complex algorithm to deliver one or more packages on the way</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/lesson_plans/s6.pdf'|cloud_storage }}">Session 6 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Delivering several packages in a sensible sequence (extension activity)</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/lesson_plans/s7.pdf'|cloud_storage }}">Session 7 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Introducing the repeat code</td>
      <td><a href="https://www.youtube.com/embed/vFGd0v3msRE?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="{{ 'videos/KS1_7_Mahana_explains_repeat_functions.mp4'|cloud_storage }}">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/lesson_plans/s8.pdf'|cloud_storage }}">Session 8 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Follow-on and extension work on multiple repeat loops and nested repeats</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/lesson_plans/s9.pdf'|cloud_storage }}">Session 9 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Children create their own routes</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS1/lesson_plans/s10.pdf'|cloud_storage }}">Session 10 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Try out a partners route</td>
      <td></td>
    </tr>
  </table>

  <br>
  
  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">KS1 Assets</td>
    </tr>
    <tr>
      <td width="40%"><a href="{{ 'KS1/assets.zip'|cloud_storage }}">KS1 Assets <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td></td>
    </tr>
  </table>
  
  <br>

  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">Key Stage 2</td>
    </tr>
    <tr>
      <td width="40%"><a href="{{ 'KS2.zip'|cloud_storage }}">Download complete KS1 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
     <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/activity_set.pdf'|cloud_storage }}">Activity Set <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
     <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/resource_sheets.zip'|cloud_storage }}">Resource sheets <img src="{% static 'portal/img/zip.png' %}" /></a></td>
     <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/assessment.zip'|cloud_storage }}">Assessment <img src="{% static 'portal/img/zip.png' %}" /></a><span></span></td>
      <td>Assessment techniques and key questions</td>
    </tr>

  </table>
  
  <br>
  
  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>KS2 Sessions</td>
      <td>Descriptions</td>
      <td>Videos</td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/lesson_plans/s1.pdf'|cloud_storage }}">Session 1 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Recap on using a simple 'repeat' loop</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/lesson_plans/s2.pdf'|cloud_storage }}">Session 2 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Using repeat with a condition on a simple route: 'repeat until'</td>
      <td><a href="https://www.youtube.com/embed/EDwc80X_LQI?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="{{ 'videos/LKS2_2_Ana_discusses_repeat_until_and_repeat_while_functions.mp4'|cloud_storage }}">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/lesson_plans/s3.pdf'|cloud_storage }}">Session 3 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Using simple selections and repetition: Repeat until at destination 'if…do'</td>
      <td><a href="https://www.youtube.com/embed/O0RXbJyYq8o?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="{{ 'videos/LKS2_3_Chris_and_Matt_introduce_if_statements.mp4'|cloud_storage }}">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/lesson_plans/s4.pdf'|cloud_storage }}">Session 4 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>General solution using repeat until and if…do…(including else if for more able children)</td>
      <td><a href="https://www.youtube.com/embed/GUUJSRuAyU0?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="{{ 'videos/LKS2_4_Helen_explains_if_else_statements.mp4'|cloud_storage }}">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/lesson_plans/s5.pdf'|cloud_storage }}">Session 5 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Extension group activity - Explain why the general program does not work for some more complex maps</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/lesson_plans/s6.pdf'|cloud_storage }}">Session 6 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Traffic lights: understanding variables and the if do…if else statements</td>
      <td><a href="https://www.youtube.com/embed/UFpsEjaB_DI?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="{{ 'videos/LKS2_6_Will_discusses_variables.mp4'|cloud_storage }}">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/lesson_plans/s7.pdf'|cloud_storage }}">Session 7 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Applying their programming knowledge to create a game challenge</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{{ 'KS2/lesson_plans/s8.pdf'|cloud_storage }}">Session 8 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
      <td>Applying their programming knowledge to play and evaluate a game challenge</td>
      <td></td>
    </tr>
  </table>

  <br>
  
  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">KS2 Assets</td>
    </tr>
    <tr>
      <td width="40%"><a href="{{ 'KS2/assets.zip'|cloud_storage }}">KS2 Assets <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td></td>
    </tr>
  </table>

</div>

<script type="text/javascript" src='{% static "portal/js/lib/magnific.js" %}'></script>

<script type="text/javascript">
$(document).ready(function() {
    $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
        disableOn: 700,
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,

        fixedContentPos: false
    });
});
</script>

{% endblock content %}     
