{% extends 'portal/teach/base.html' %}
{% load static %}

{% block nav_teacher_classes %}<b><a id="teacher_classes_button" href="{% url 'teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block content %}

<div id="add_independent_student_to_class"></div>

<h1>Classes</h1><br>
<h2>Add external student to class {{ class.name }} ({{ class.access_code }})</h2><br>

<div class='section group'>
    <div class='col span_1_of_2'>
        <div class='login-card'>
            <h4>Students currently in class</h4><br>

            {% if students %}
                <p>{{ student.user.user.username }}, the new external student, will be joining students in the class {{ class.name }} ({{ class.access_code }}).</p>
                <table class="CSSTable smaller alternate wide">
                    <tr>
                        <th>Student Name</th>
                    </tr>
                    {% for currentstudent in students %}
                        <tr>
                            <td>{{ currentstudent.user.user.first_name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>The new external student {{ student.user.user.username }} is joining the class {{ class.name }} ({{ class.access_code }}) in which there are currently no other students.</p>
            {% endif %}
        </div>
    </div>

    <div class='col span_1_of_2'>
        <div class='login-card'>
            <h4>Add external student</h4><br>

            <p>Please confirm the name of the new external student joining your class. Their name will be used in their new login details, so please ensure it is different from any other existing student in the class.</p>

            <form method='POST'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}
                    {{ field.errors }}
                    <label for="id_{{ field.html_name }}">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}

                <div class='section group'>
                    <div class='col span_1_of_2'>
                        <a class='btn btn-default wide' href="{% url 'teacher_classes' %}">Cancel</a>
                    </div>

                    <div class='col span_1_of_2'>
                        <input id="save_student_name_button" type='submit' class='btn btn-primary wide' value='Save'/>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}
