{% extends 'portal/teach/base.html' %}
{% load static %}

{% block nav_teacher_classes %}<b><a href="{% url 'portal.views.teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block content %}

<h3>New students created</h3>

<p><b>Warning:</b> You will only see this screen once. Please print this page or make a note of their passwords to prevent having to generate a new set of passwords for these students. You may wish to use the <b>Reminder Cards</b> which are available at <i>this point only</i> to be printed with the student's full login credentials populated (i.e. Name, Class Access Code, and Password).</p>

<p>The following students have been created for your class. When they log in for the first time, you may wish them to change to a new password which is more memorable. You will be able to reset these students' passwords at any time.</p>

<div class='section group'>
    <p>The Class Access Code for this class is: <b>{{ class.access_code }}</b></p>
</div>

<div class='span_centered_third'>
    <table class='CSSTable alternate smaller wide'>
        <tr>
            <th>Name</th>
            <th>Password</th>
        </tr>
        {% for name_token in name_tokens %}
            <tr>
                <td>{{ name_token.name }}</td>
                <td>{{ name_token.password }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <form method='post' action="{% url 'portal.views.teacher_print_reminder_cards' class.access_code %}">
        {% csrf_token %}
        <input type='hidden' name='data' value='{{ query_data }}'/>
        <input class='btn btn-primary wide'type='submit' value='Print Reminder Cards'/>
    </form>
    <br>
    <a class='btn btn-default wide' href="{% url 'portal.views.teacher_class' class.access_code %}">Return to class</a>
</div>


{% endblock %}
