{% extends 'portal/teach/base.html' %}

{% block nav_teacher_classes %}<b><a href="{% url 'portal.views.teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block content %}

<h1>My Classes</h1><br>

<p>COPY COPY Here are the classes you teach. Add a class using the 'New Class' box, or manage a particular class by clicking on its name or access code.</p>

<div class="section group">
    <div class="col span_1_of_2">
        <h3>Current Classes</h3>

        {% if classes %}
            <table class='CSSTable'>
                <tr>
                    <td>Class Name</td>
                    <td>Access Code</td>
                </tr>
                {% for class in classes %}
                    <tr>
                        <td><a href="{% url 'portal.views.teacher_class' class.access_code %}">{{ class.name }}</a></td>
                        <td><a href="{% url 'portal.views.teacher_class' class.access_code %}">{{ class.access_code }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>It doesn't look like you have any classes assigned to you. To create a class, use the 'New Class' box on the right.</p>
        {% endif %}
    </div>

    <div class="col span_1_of_2">
        <div class='login-card'>
            <h3>New Class</h3><br/>

            <p>A unique Class Access Code will be generated for the new class.</p>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class="section group">
                    <div class="col span_2_of_3">
                        {{ form.name.errors }}
                        <label class="ieLabels">{{ form.name.html_name }}</label>
                        {{ form.name }}
                        <div class="section group">
                            <div class='col span_2_of_3'>
                                <p>Allow students to see their classmates' progress?</p>
                            </div>
                            <div class='col span_1_of_3'>
                                {{ form.classmate_progress.errors }}
                                <label class="ieLabels">{{ form.classmate_progress.html_name }}</label>
                                {{ form.classmate_progress }}
                            </div>
                        </div>
                    </div>

                    <div class="col span_1_of_3">
                        <input type='submit' class='btn' value='Create'/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<br/>

<h3>External requests to join your classes</h3>

<p>External/independent students may request to join your classes given a Class Access Code from the above table, provided you have enabled external requests for that class.</p>

{% if requests %}
    <p>The following users have made requests to join your classes. If you accept a request, you will be able to choose a name that is unique for the user in the class and then pass on their new login details. At this point, you will be able to manage them like any other student.</p>

    <p>To conform to security models, the request user's username, last name, and email will be wiped on successful acceptance, but these details are displayed here to enable you to identify them as genuine. You should <b>not</b> accept a request from a student whose email and username you do not recognise, or if you weren't expecting such a request.</p>

    <table class="CSSTable" width='100%'>
        <tr>
            <td>Username</td>
            <td>First name</td>
            <td>Email</td>
            <td>Class</td>
            <td>Access code</td>
            <td colspan='2'>Actions</td>
        </tr>
        {% for request in requests %}
            <tr>
                <td>{{ request.user.user.username }}</td>
                <td>{{ request.user.user.first_name }}</td>
                <td>{{ request.user.user.email }}</td>
                <td>{{ request.pending_class_request.name }}</td>
                <td>{{ request.pending_class_request.access_code }}</td>
                <td><a class='btn' href="{% url 'portal.views.teacher_accept_student_request' request.id %}">Accept</a></td>
                <td><a class='btn' href="{% url 'portal.views.teacher_reject_student_request' request.id %}">Reject</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No students have currently requested to join your classes.</p>
{% endif %}

{% endblock %}
