{% extends 'portal/teach/base.html' %}
{% load static %}

{% block nav_teacher_account %}<b><a href="{% url 'portal.views.teacher_edit_account' %}">Account</a></b>{% endblock nav_teacher_account %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{% static 'portal/js/passwordStrength.js' %}"></script>
<script>
var PASSWORD_FIELD_ID = '{{ form.password.auto_id }}';
var PASSWORD_TYPE = 'TEACHER';
</script>
{% endblock scripts %}

{% block content %}


<h1>Account</h1><br>
<h2>Edit my details</h2><br>
<p>You may update your account details here, including your name, password and email address. Should you update your email address, verification will be required.</p>

<div class='section group'>
    <div class='span_1_of_2'>

        <div class='login-card'>
            <h4> Update details</h4><br>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                <table width='100%'>
                    <tr>
                        <td>{{ form.title.errors }}</td>
                        <td>{{ form.first_name.errors }}</td>
                        <td>{{ form.last_name.errors }}</td>
                    </tr>
                    <tr>
                        <td class='title'>
                            <label class="ieLabels">{{ form.title.html_name }}</label>
                            {{ form.title }}
                        </td>
                        <td class='fName'>
                            <label class="ieLabels">{{ form.first_name.html_name }}</label>
                            {{ form.first_name }}
                        </td>
                        <td class='lName'>
                            <label class="ieLabels">{{ form.last_name.html_name }}</label>
                            {{ form.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.email.errors }}
                            <label class="ieLabels">{{ form.email.html_name }}</label>
                            {{ form.email }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' class='password-strength-bar-container'>
                            <div class='password-strength-bar'></div>
                        </td>
                        <td class='password-strength-text'></td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.password.errors }}
                            <label class="ieLabels">{{ form.password.html_name }}</label>
                            {{ form.password }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.confirm_password.errors }}
                            <label class="ieLabels">{{ form.confirm_password.html_name }}</label>
                            {{ form.confirm_password }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.current_password.errors }}
                            <label class="ieLabels">{{ form.current_password.html_name }}</label>
                            {{ form.current_password }}
                        </td>
                    </tr>
                </table>


                <div class='section group'>
                    <div class='col span_1_of_2'>
                        <a class='btn btn-default wide' href="{% url 'portal.views.teacher_home' %}">Cancel</a>
                    </div>

                    <div class='col span_1_of_2'>
                        <input type='submit' class='btn btn-primary wide' value='Update'/>
                    </div>
                </div>

            </form>
        </div>

        <div style='margin-top: 30px'>
            <h3>Two Factor Authentication</h3>

            <p>For enhanced security, consider setting up two factor authentication.</p>
            <a class='btn btn-primary' href="{% url 'two_factor:profile' %}">Setup Two Factor Authentication</a>
            
        </div>
    </div>
</div>

<br>

{% endblock %}
