{% extends 'portal/teach/base.html' %}
{% load static %}
{% load app_tags %}

{% block nav_teacher_dashboard %}<b><a href="{% url 'portal.views.teacher_home' %}">Dashboard</a></b>{% endblock nav_teacher_dashboard %}

{% block content %}

<div class="section group">
    

    <div class="col span_2_of_3">
        <h3>Hello, {{ user|make_into_username }}</h3>

        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus nibh, accumsan et fringilla eu, dapibus in dui. Proin leo est, varius non vestibulum et, tempor vitae nulla. Etiam ut nisl nec mauris elementum vestibulum. Sed libero nibh, condimentum sit amet nulla ut, tincidunt varius nisi. Pellentesque non velit eu orci cursus pulvinar euismod non tellus.
        </p>

        <h3>Your Classroom</h3>
        <p>
        Sed ac consectetur velit. Duis ultrices fringilla dolor, ut cursus felis molestie ut. Donec at felis vehicula, porta risus at, fringilla nulla. Fusce blandit interdum ante ac iaculis. Fusce fermentum bibendum leo, ut blandit diam. In vestibulum nibh ac metus faucibus, eu lacinia diam placerat. Donec vitae leo felis.
        </p>
        <h3>Your Resources</h3>
        <p>
        Ut laoreet justo metus, ac cursus nulla sagittis vel. Nam enim purus, interdum id dui sit amet, tincidunt adipiscing sem. Morbi in velit ipsum. Praesent id eros libero. Integer iaculis porta elit, a commodo odio mattis vestibulum. Nam quis est non nibh tempor posuere ut non ligula. Sed sodales tortor eu rhoncus varius. Nullam aliquet diam at leo mollis, non hendrerit urna posuere. Nunc tristique vehicula massa sit amet viverra. 
        </p>
    </div>

    <div class="col span_1_of_3">
                    
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="CSSTable">
           <tr>
             <td>Manage classrooms</td>
           </tr>
           <tr>
             <td><a href="{% url 'portal.views.organisation_manage' %}">My School or Club ({% if user.userprofile.teacher.school %}{{ user.userprofile.teacher.school.name }}{% else %}join/create{% endif %})</a></td>
           </tr>
           <tr>
             <td><a href="{% url 'portal.views.teacher_classes' %}">My Classes ({{ num_classes }})</a></td>
           </tr>
            <tr>
              <td><a href="{% url 'game.views.scoreboard' %}">Rapid Router Scoreboard</a></td>
            </tr>
         </table>

         <table width="100%" border="0" cellspacing="0" cellpadding="0" class="CSSTable">
            <tr>
              <td>Resources</td>
            </tr>
            <tr>
              <td><a href="{% url 'game.views.levels' %}">Rapid Router</a></td>
            </tr>
            <tr>
              <td><a href="{% url 'portal.views.teacher_lesson_plans' %}">Downloadable Resources</a></td>
            </tr>
          </table>
    </div>
</div>


<h3>Rapid Router characters summary</h3>         
            
<div class="section group characters">
    <div class="col span_1_of_5">
        <img src="{% static 'portal/img/kirsty.png' %}" />
        <h4>Kirsty</h4>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
    </div>
    <div class="col span_1_of_5">
            <img src="{% static 'portal/img/nigel.png' %}" />
            <h4>Nigel</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
    </div>
    <div class="col span_1_of_5">
         <img src="{% static 'portal/img/dee_red_box.png' %}" />
         <h4>Dee</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
    </div>
    <div class="col span_1_of_5">
        <img src="{% static 'portal/img/phil.png' %}" />
        <h4>Phil</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
    </div>
    <div class="col span_1_of_5">
    <img src="{% static 'portal/img/wes.png' %}" />
    <h4>Wes</h4>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
    </div>
</div>


{% endblock %}
