{% extends 'portal/teach/base.html' %}
{% load static %}

{% block scripts %}
{{block.super}}
  <script type="text/javascript" src="{% static 'portal/js/studentList.js' %}"></script>
    <script>
      var CLASS_CODE = "{{ class.access_code }}";
    </script>
{% endblock %}


{% block content %}

<div class="section group">
    <h3 class="col">{{ class.teacher.user.user.first_name }} {{ class.teacher.user.user.last_name }} / {{ class.name }} ({{ class.access_code }})</h3>

    <a class='col btn pull-right' href="{% url 'portal.views.teacher_edit_class' class.access_code %}">Edit class settings</a>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</p>

<div class="section group">
    <div class="col span_1_of_2">
        <div class="section group">
            <h3 class='col'>Current students ({{ num_students }})</h3>

            <a class='col btn pull-right' href="{% url 'portal.views.teacher_print_reminder_cards' class.access_code %}">Print Reminder Cards</a>
        </div>

        <table class='CSSTable' width='100%'>
            <tr>
                <td></td>
                <td>Student Name</td>
                <td>Password</td>
            </tr>
            {% for student in students %}
                <tr>
                    <td><input type='checkbox' class='student' name='{{ student.id }}' value='1'></td>
                    <td>{{ student.name }} <a href="{% url 'portal.views.teacher_edit_student' student.id %}">(edit)</a></td>
                    <td><a href="{% url 'portal.views.teacher_student_set' student.id %}">(set)</a> <a href="{% url 'portal.views.teacher_student_reset' student.id %}">(reset)</a></td>
                </tr>
            {% endfor %}
        </table>

        <br/>
        <button class='btn wide' id='moveSelectedStudents'>Move selected students to another class</button>
    </div>


    <div class="col span_1_of_2">
        <div class='login-card'>
            <h3>New Students</h3><br/>

            <p>Type or paste the student's names, either one per line or seperated by commas or semicolons. Note that names must be unique within a class.</p>

            <form method='POST'>

                {% csrf_token %}

                {{ new_students_form.non_field_errors }}

                {{ new_students_form.names.errors }}
                {{ new_students_form.names }}

                <input type='submit' class='btn' name='new_students' value='Add students'/>
        </div>
    </div>
</div>

{% endblock %}
