{% extends 'portal/teach/base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "portal/css/colorbox.css" %}'>
{% endblock css %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src='{% static "portal/js/lib/jquery.colorbox.js" %}'></script>

<script type="text/javascript">
$(document).ready(function(){
    //Examples of how to assign the Colorbox event to elements

    $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});

    $(".callbacks").colorbox({
        onOpen:function(){ alert('onOpen: colorbox is about to open'); },
        onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
        onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
        onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
        onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
    });

    $('.non-retina').colorbox({rel:'group5', transition:'none'})
    $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
    
    //Example of preserving a JavaScript event for inline calls.
    $("#click").click(function(){ 
        $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
        return false;
    });
});
</script>
{% endblock scripts %}

{% block content %}   	

<h2>Teaching Packs</h2>
<div class="section group">


  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="40%">Key Stage 1</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Key Stage 1 Activity Set <img src="{% static 'portal/img/zip.png' %}" /></a></td>
     <td></td>
    </tr>
    <tr>
      <td><a href="#">Key Stage 1 Assessment <img src="{% static 'portal/img/zip.png' %}" /></a><span></span></td>
      <td>Assessment techniques and key questions</td>
    </tr>

  </table>
  
  <br>
  
  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>KS1 Sessions</td>
      <td>Descriptions</td>
      <td>Videos</td>
    </tr>
    <tr>
      <td><a href="#">Session 1 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Unplugged algorithms for moving along a route</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Session 2 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Starting off on-screen with the app</td>
      <td><a href="https://www.youtube.com/embed/xP-U-MJLk-g?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="#">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="#">Session 3 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Creating simple algorithms to reach a single destination</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Session 4 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Creating simple algorithms to reach a single destination along the shortest route</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Session 5 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Create a more complex algorithm to deliver one or more packages on the way</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Session 6 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Delivering several packages in a sensible sequence (extension activity)</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Session 7 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Introducing the repeat code</td>
      <td><a href="https://www.youtube.com/embed/xP-U-MJLk-g?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="#">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="#">Session 8 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Follow-on and extension work on multiple repeat loops and nested repeats</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Session 9 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Children create their own routes</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Session 10 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Try out a partners route</td>
      <td></td>
    </tr>
  </table>

  <br>

   <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="40%">Lower Key Stage 2</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Lower Key Stage 2 Activity Set <img src="{% static 'portal/img/zip.png' %}" /></a></td>
     <td></td>
    </tr>
    <tr>
      <td><a href="#">Lower Key Stage 2 Assessment <img src="{% static 'portal/img/zip.png' %}" /></a><span></span></td>
      <td>Assessment techniques and key questions</td>
    </tr>

  </table>

  <br>
  
  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>Lower KS2 Sessions</td>
      <td>Descriptions</td>
      <td>Videos</td>
    </tr>
    <tr>
      <td><a href="#">Session 1 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Session 2 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td><a href="https://www.youtube.com/embed/xP-U-MJLk-g?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="#">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="#">Session 3 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td><a href="https://www.youtube.com/embed/xP-U-MJLk-g?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="#">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="#">Session 4 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td><a href="https://www.youtube.com/embed/xP-U-MJLk-g?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="#">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="#">Session 5 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Session 6 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td><a href="https://www.youtube.com/embed/xP-U-MJLk-g?rel=0&amp;wmode=transparent" class="youtube">Play Video</a><br><a href="#">Download Video</a></td>
    </tr>
    <tr>
      <td><a href="#">Session 7 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Session 8 <img src="{% static 'portal/img/zip.png' %}" /></a></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td></td>
    </tr>
  </table>

</div>

<script type="text/javascript" src='{% static "portal/js/lib/magnific.js" %}'></script>

<script type="text/javascript">
$(document).ready(function() {
    $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
        disableOn: 700,
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,

        fixedContentPos: false
    });
});
</script>

{% endblock content %}     
