{% extends 'portal/teach/base.html' %}
{% load static %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<div class='section group'>

    <div class='span_centered_third'>

        <div class='login-card'>
            <h3>Update account details</h3><br>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                <table width='100%'>
                    <tr>
                        <td>{{ form.title.errors }}</td>
                        <td>{{ form.first_name.errors }}</td>
                        <td>{{ form.last_name.errors }}</td>
                    </tr>
                    <tr>
                        <td class='title'>
                            <label class="ieLabels">{{ form.title.html_name }}</label>
                            {{ form.title }}
                        </td>
                        <td class='fName'>
                            <label class="ieLabels">{{ form.first_name.html_name }}</label>
                            {{ form.first_name }}
                        </td>
                        <td class='lName'>
                            <label class="ieLabels">{{ form.last_name.html_name }}</label>
                            {{ form.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.email.errors }}
                            <label class="ieLabels">{{ form.email.html_name }}</label>
                            {{ form.email }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.password.errors }}
                            <label class="ieLabels">{{ form.password.html_name }}</label>
                            {{ form.password }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.confirm_password.errors }}
                            <label class="ieLabels">{{ form.confirm_password.html_name }}</label>
                            {{ form.confirm_password }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.current_password.errors }}
                            <label class="ieLabels">{{ form.current_password.html_name }}</label>
                            {{ form.current_password }}
                        </td>
                    </tr>
                </table>


                <div class='section group'>
                    <a class='col span_1_of_3 btn' href="{% url 'portal.views.teacher_classes' %}">Cancel</a>

                    <div class='col span_1_of_3 pull-right'>
                        <input type='submit' class='btn' value='Update'/>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

<br>

<div class='section group'>

    <div class='span_centered_third'>

        <div class='login-card'>
            <a class='btn wide' href="/account/two_factor/">Setup Two Factor Authentication</a>
        </div>
    </div>
</div>

{% endblock %}
