{% extends 'portal/teach/base.html' %}
{% load app_tags %}

{% block nav_teacher_classes %}<b><a id="teacher_classes_button" href="{% url 'teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block content %}

<div id="teach_classes_page"></div>

<h1>Classes</h1><br>
<h2>{{ user|make_into_username }}, {{ user.userprofile.teacher.school.name }}</h2><br>

<p>Here is a list of all the classes you teach. Add a class using the 'New Class' box, or manage a particular class by clicking on the class name or access code. You can also accept or deny requests from indpendent students wanting to join one of your classes.</p>

<div class="section group">
    <div class="col span_1_of_2">
        <h3>Current Classes</h3>

        {% if classes %}
            <table id='classes_table' class='CSSTable wide smaller alternate'>
                <tr>
                    <th>Class Name</th>
                    <th>Access Code</th>
                </tr>
                {% for class in classes %}
                    <tr>
                        <td><a href="{% url 'teacher_class' class.access_code %}">{{ class.name }}</a></td>
                        <td><a href="{% url 'teacher_class' class.access_code %}">{{ class.access_code }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            <br>
        {% else %}
            <p>It doesn't look like you have any classes assigned to you. To create a class, use the 'New Class' box on the right.</p>
        {% endif %}
    </div>

    <div class="col span_1_of_2">
        <div class='login-card'>
            <h3>New Class</h3><br/>

            <p>When you set up a new class, a unique class access code will automatically be generated, with you being identified as the teacher for that class.</p>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class="section group">

                    <label for="id_{{ form.name.html_name }}">{{ form.name.label }}</label>
                    {{ form.name.errors }}
                    {{ form.name }}
                    <div class="col span_1_of_3">
                        <label for="id_{{ form.classmate_progress.html_name }}">{{ form.classmate_progress.label }}</label>
                        {{ form.classmate_progress.errors }}
                    </div>
                    <div class="col span_1_of_3">
                        {{ form.classmate_progress }}
                    </div>
                    <input id="create_class_button" type='submit' class='btn btn-primary wide' value='Create'/>
                </div>
            </form>
        </div>
    </div>
</div>

<br/>

<h3>External requests to join your classes</h3>

<p>External, or independent students may request to join your classes, if the student has been given a Class Access Code from the above table, and provided you have enabled external requests for that class.</p>

{% if requests %}
    <p>The following users have made requests to join your classes. If you accept a request, you will be able to choose a name that is unique for the user in the class and then pass on their new login details. At this point, you will be able to manage them like any other student.</p>
    <p>To conform to our security policy, the requested student's username and email will be deleted on acceptance. These details are displayed here to enable you to identify them as genuine.</p>
    <p>You should not accept a request from a student whose email and username you do not recognise, or if you weren't expecting such a request.</p>

    <table id="join_request_table" class="CSSTable alternate smaller wide">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Class</th>
            <th colspan="2"></th>
        </tr>
        {% for join_request in requests %}
            <tr>
                <td>{{ join_request.user.user.username }}</td>
                <td>{{ join_request.user.user.first_name }}</td>
                <td>{{ join_request.user.user.email }}</td>
                <td>{{ join_request.pending_class_request.name }} ({{ join_request.pending_class_request.access_code }})</td>
                <td><a class='btn btn-default btn-small no-margin' href="{% url 'teacher_accept_student_request' join_request.id %}">Accept</a></td>
                <td><a class='btn btn-default btn-small no-margin' href="{% url 'teacher_reject_student_request' join_request.id %}">Reject</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
{% else %}
    <p>No students have currently requested to join your classes.</p>
{% endif %}

{% endblock %}
