{% extends 'portal/teach/base.html' %}

{% block nav_teacher_classes %}<b><a href="{% url 'portal.views.teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block content %}

<div class='span_centered_half'>
    <div class='login-card'>
        <h3>Update class details for {{ class.access_code }}</h3><br/>

        <p>You may change the name of the class, change if the class will allow external requests to join from independent students, and change if pupils will be able to see their classmates progress.</p>

        <form method='post'>

            {% csrf_token %}

            {{ form.non_field_errors }}

            {{ form.name.errors }}
            <label class="ieLabels">{{ form.name.html_name }}</label>
            {{ form.name }}

            <div class='section group'>
                <div class='col span_2_of_3'>
                    <p>Allow students to see their classmates' progress?</p>
                </div>
                <div class='col span_1_of_3'>
                    {{ form.classmate_progress.errors }}
                    <label class="ieLabels">{{ form.classmate_progress.html_name }}</label>
                    {{ form.classmate_progress }}
                </div>
            </div>

            <h4>External requests setting</h4><br>
            <p>You can setup this class to allow students to request to join your class from outside of your school.</p>

            <p>{{ external_requests_message }}</p>
            {{ form.external_requests.errors }}
            <label class="ieLabels">{{ form.external_requests.html_name }}</label>
            {{ form.external_requests }}


            <div class='section group'>
                <div class='col span_1_of_2'>
                    <a class='btn btn-default wide' href="{% url 'portal.views.teacher_class' class.access_code %}">Cancel</a>
                </div>
                
                <div class='col span_1_of_2'>
                    <input type='submit' class='btn btn-primary wide' value='Update'/>
                </div>
            </div>
        </form>


    </div>
    <br>
    <div class='login-card'>
        <h4>Transfer class to another teacher</h4><br>
        <div class='section group'>
            <div class='col span_2_of_3'>
                <p>To transfer this class to another teacher in your school or club, click 'Transfer'</p>
            </div>
            <div class='col span_1_of_3'>
                <a class='btn btn-default wide' href="{% url 'portal.views.teacher_move_class' class.access_code %}">Transfer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
