{% extends 'portal/teach/base.html' %}
{% load static %}

{% block content %}

<h3>Student Password Reset for {{ student.user.user.first_name }}</h3>

<p><b>Warning:</b> You will only see this screen once. Please print this page or make a note of the password to prevent having to generate another password.</p>

<p>The Class Access Code for this student's class is: <b>{{ class.access_code }}</b></p>
<p>The new password for the above student is: <b>{{ password }}</b></p>

<a class='btn' href="{% url 'portal.views.teacher_edit_student' student.id %}">Return</a>

{% endblock %}
