{% extends 'portal/teach/base.html' %}
{% load static %}

{% block nav_teacher_classes %}<b><a href="{% url 'portal.views.teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block content %}

<div class='section group'>

    <div class='span_centered_third'>

        <div class='login-card'>
            <h3>Move students from class {{ old_class.name }} ({{ old_class.access_code }})</h3><br>

            <p>Select a new class for the students to be moved from the class.</p>

            <form method='post' action="{% url 'portal.views.teacher_move_students_to_class' old_class.access_code %}">

                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}
                    {{ field.errors }}
                    <label class="ieLabels">{{ field.html_name }}</label>
                    {{ field }}
                {% endfor %}

                <div class='section group'>
                    <div class='col span_1_of_2'>
                        <a class='btn btn-default' href="{% url 'portal.views.teacher_class' old_class.access_code %}">Cancel</a>
                    </div>

                    <div class='col span_1_of_2'>
                        <input type='hidden' name='transfer_students' value='{{ transfer_students }}'/>
                        <input type='submit' class='btn btn-primary' value='Continue'/>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
