{% extends 'portal/teach/base.html' %}
{% load static %}

{% block nav_teacher_classes %}<b><a id="teacher_classes_button" href="{% url 'teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block content %}

<div id='teach_move_students_page'></div>

<h1>Classes</h1><br>
<h2>Move students from class {{ old_class.name }} ({{ old_class.access_code }})</h2><br>

<div class='section group'>

    <div class='span_1_of_2'>

        <div class='login-card'>
            <h4>Select destination class</h4><br>



            <form method='post' action="{% url 'teacher_move_students_to_class' old_class.access_code %}">

                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}
                    {{ field.errors }}
                    <label for="id_{{ field.html_name }}">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}

                <div class='section group'>
                    <div class='col span_1_of_2'>
                        <a id='cancel_button' class='btn btn-default wide' href="{% url 'teacher_class' old_class.access_code %}">Cancel</a>
                    </div>

                    <div class='col span_1_of_2'>
                        <input type='hidden' name='transfer_students' value='{{ transfer_students }}'/>
                        <input id='move_button' type='submit' class='btn btn-primary wide' value='Continue'/>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
