{% extends 'portal/teach/base.html' %}

{% block content %}

<div class='span_centered_third'>
    <div class='login-card'>
        <h3>Update class details for {{ class.access_code }}</h3><br/>

        <form method='post'>

            {% csrf_token %}

            {{ form.non_field_errors }}

            {{ form.name.errors }}
            {{ form.name }}

            <div class='section group'>
                <a class='col span_1_of_3 btn' href="{% url 'portal.views.teacher_class' class.access_code %}">Cancel</a>

                <div class='col span_1_of_3 pull-right'>
                    <input type='submit' class='btn' value='Update'/>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
