{% extends 'portal/teach/base.html' %}
{% load static %}

{% block nav_teacher_classes %}<b><a href="{% url 'portal.views.teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{% static 'portal/js/studentList.js' %}"></script>
<script>
var CLASS_CODE = "{{ class.access_code }}";
var MOVE_STUDENTS_URL = "{% url 'portal.views.teacher_move_students' class.access_code %}";
var DELETE_STUDENTS_URL = "{% url 'portal.views.teacher_delete_students' class.access_code %}";
var DISMISS_STUDENTS_URL = "{% url 'portal.views.teacher_dismiss_students' class.access_code %}";
</script>
{% endblock %}


{% block content %}

<div class="section group">
    <h3 class="col">{{ class.teacher.user.user.first_name }} {{ class.teacher.user.user.last_name }} / {{ class.name }} ({{ class.access_code }})</h3>
</div>

<p>COPY concise but complete description of class management page.</p>

<div class="section group">
    <div class="col span_1_of_2">
        <div class="section group">
            <h3 class='col'>Current students</h3>
        {% if students %}
            <a class='col btn pull-right' href="{% url 'portal.views.teacher_print_reminder_cards' class.access_code %}">Print Reminder Cards</a>
        {% endif %}
        </div>

        {% if students %}
        <div class="section group">
            <p>Click on a student to change their name, or set or generate a new password.</p>
        </div>
            <table class='CSSTable' width='100%'>
                <tr>
                    <td style='text-align: center'><input type='checkbox' id='selectedStudentsListToggle' name='selectedStudentsListToggle' value='1'></td>
                    <td>Student Name</td>
                </tr>
                {% for student in students %}
                    <tr>
                        <td style='text-align: center'><input type='checkbox' class='student' name='{{ student.id }}' value='1'></td>
                        <td><a href="{% url 'portal.views.teacher_edit_student' student.id %}">{{ student.user.user.first_name }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            <p class='pull-right'>(Total: {{ num_students }})</p>
        {% else %}
            <p>There are no students in this class. Add some students to get started!</p>
        {% endif %}
        <br/>
        {% if students %}
            <h3>Operations on selected students</h3>
            <p>Using the checkboxes next to each student name, you can move students to another class in the school, you can remove them from the school and assign them usernames to login to Code for Life as an indepedent user, and you can delete them from the system.</p>
            <button class='btn wide' id='moveSelectedStudents'>Move to another class</button>
            <div class='section group'>
                <button class='col span_1_of_2 btn' id='dismissSelectedStudents'>Remove from class</button>
                <button class='col span_1_of_2 btn' id='deleteSelectedStudents'>Delete from system</button>
            </div>
        {% endif %}
    </div>


    <div class="col span_1_of_2">
        <div class='login-card'>
            <h3>New Students</h3><br/>

            <p>Type the students' names in the box below with one name per line. Note that names must be unique within a class. Students will use these names plus the class's access code to sign in.</p>

            <form method='POST'>

                {% csrf_token %}

                {{ new_students_form.non_field_errors }}

                {{ new_students_form.names.errors }}
                {{ new_students_form.names }}

                <input type='submit' class='btn' name='new_students' value='Add students'/>
        </div>
    </div>
</div>

<div class="section group">

    <div class="col span_2_of_3">
        <h3>Edit other class settings</h3>

        <p>You may change this class's name, transfer the class to another teacher in the school or club, setup whether the class can accept requests from external students, and setup whether students in this class will be able to see their classmates' progress.</p>
        <p>You may also delete the class if it has no students.</p>
    </div>

    <div class="col span_1_of_3">
        <div class="section group">
            <a class='col btn wide pull-right' href="{% url 'portal.views.teacher_edit_class' class.access_code %}">Edit class settings</a>
            <a class='col btn wide pull-right' href="{% url 'portal.views.teacher_delete_class' class.access_code %}">Delete class</a>
        </div>
    </div>
</div>

{% endblock %}
