{% extends 'portal/teach/base.html' %}
{% load static %}

{% block content %}   	

<h2>Lesson plans</h2>
<div class="section group">
	<div class="col span_1_of_2">
                
                <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <th><h3>Key stage 1 lesson plans</h3></th>
                  </tr>
                  <tr>
                    <td><a href="#">Key stage 1 lesson pack <img src="{% static 'portal/img/zip.png' %}" /></a></td>
                  </tr>
            
                </table>
                
                <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>Individual files</td>
                  </tr>
                  <tr>
                    <td><a href="#">Lesson plan 1 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Lesson plan 2 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Lesson plan 3 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Lesson plan 4 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Lesson plan 5 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
                  </tr>
                </table>
              
	</div>
	<div class="col span_1_of_2">
	
			  <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <th><h3>Lower Key stage 2 lesson plans</h3></th>
                  </tr>
                  <tr>
                    <td><a href="#">Lower Key stage 2 lesson pack <img src="{% static 'portal/img/zip.png' %}" /></a></td>
                  </tr>
            
                </table>
                
                <table class="CSSTable" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>Individual files</td>
                  </tr>
                  <tr>
                    <td><a href="#">Lesson plan 1 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Lesson plan 2 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Lesson plan 3 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Lesson plan 4 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Lesson plan 5 <img src="{% static 'portal/img/pdfsmall.png' %}" /></a></td>
                  </tr>
                </table>

            
	</div>
</div>

{% endblock content %}     
