{% extends 'portal/teach/base.html' %}
{% load static %}

{% block nav_teacher_classes %}<b><a id="teacher_classes_button" href="{% url 'teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block content %}

<div id='teach_new_students_page'></div>

<h1>Classes</h1><br>
<h2>New students created in class {{ class.name }} ({{ class.access_code }})</h2><br>

<div class='login-card warning'>

    <p><b>Warning!</b> This is the <strong>only</strong> time you will see student's full login credentials i.e. name, class, access code and password. You will only see this screen once. Please print this page for your records to prevent generating a new set of passwords for these students. Alternatively print reminder cards which populate these details and can be given to the students.</p>

</div>

<p>The following students have been created for your class. When they log in for the first time, you may want students to change their passwords to something more memorable. You will be able to reset these students' passwords at any time.</p>

<div class='section group'>
    <p>The Class Access Code for this class is: <b>{{ class.access_code }}</b></p>
</div>

<div class='span_1_of_2'>
    <table id='students_table' class='CSSTable alternate smaller wide'>
        <tr>
            <th>Name</th>
            <th>Password</th>
        </tr>
        {% for name_token in name_tokens %}
            <tr>
                <td>{{ name_token.name }}</td>
                <td>{{ name_token.password }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <form target="_blank" method='post' action="{% url 'teacher_print_reminder_cards' class.access_code %}">
        {% csrf_token %}
        <input type='hidden' name='data' value='{{ query_data }}'/>
        <div class='section group'>
            <div class='col span_1_of_2'>
                <a id='return_button' class='btn btn-default wide' href="{% url 'teacher_class' class.access_code %}">Return to class</a>
            </div>
            <div class='col span_1_of_2'>
                <input id='print_reminder_cards_button' class='btn btn-primary wide' type='submit' value='Print Reminder Cards'/>
            </div>
        </div>
    </form>
</div>


{% endblock %}
