{% extends 'portal/teach/base.html' %}
{% load static %}
{% load app_tags %}

{% block nav_teacher_school %}<b><a id="teacher_organisation_button" href="{% url 'organisation_manage' %}">School | Club</a></b>{% endblock nav_teacher_school %}

{% block content %}


<h1>School | Club</h1><br>
<h2>Move all classes for teacher {{ original_teacher.user.user|make_into_username }}</h2><br>

<p>Move all classes assigned to teacher {{ original_teacher.user.user.first_name }} {{ original_teacher.user.user.last_name }} to other teachers in {{ original_teacher.school.name }}.</p>

<div class='section group'>

    <div class='span_1_of_2'>
        <div class='login-card'>
            <h3>Move all classes</h3><br>

            <p>Select teachers to take over the classes from the lists below.</p>

            <form method='post'>

                {% csrf_token %}
                <table class='CSSTable alternate smaller wide'>
                    <tr>
                        <th>Class</th>
                        <th>New Teacher</th>
                    </tr>
                {% for class in classes %}
                    <tr>
                        <td>
                            {{ class.name }} ({{ class.access_code }})
                        </td>
                        <td>
                            <select class='wide' name='{{ class.access_code }}'>
                                {% for teacher in teachers %}
                                    <option value='{{ teacher.id }}'>{{ teacher.title }} {{ teacher.user.user.first_name }} {{ teacher.user.user.last_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                <br>
                <div class='section group'>
                    <div class='col span_1_of_2'>
                        <a class='btn btn-default wide' href="{% url 'organisation_manage' %}">Cancel</a>
                    </div>

                    <div class='col span_1_of_2'>
                        <input type='submit' class='btn btn-primary wide' value='{{ submit_button_text }}'/>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
