{% extends 'portal/teach/base.html' %}
{% load static %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<header>
    <span class='left'>
        <h1>[ code ] for { life }</h1>
    </span>
    <span class='right'>
        Logged in as {{ user.first_name }} {{ user.last_name }}
        <a class='portal_button logout' href="{% url 'portal.views.logout_view' %}">Logout</a>
    </span>
</header>

<div class='row'>
    <div class='small-9 columns'>
        <h3>{{ class.teacher.name }} / {{ class.name }} ({{ class.access_code }})</h3>
    </div>
    <div class='small-3 columns'>
        <a class='portal_button' href="{% url 'portal.views.teacher_classes' %}">My Classes</a>
    </div>


</div>


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</p>

<div class='row'>
    <div class='small-9 columns'></div>
    <div class='small-3 columns'>
        <a class='portal_button' href="{% url 'portal.views.teacher_move_class' class.access_code %}">Transfer class to teacher</a>
    </div>
</div>


<div class='row'>
    <div class='small-3 columns'>
        <h4>Students</h4>
    </div>

    <div class='small-3 columns'>
        <a class='portal_button' href="{% url 'portal.views.teacher_print_reminder_cards' class.access_code %}">Print Reminder Cards</a>
    </div>

    <div class='small-6 columns'></div>
</div>

<div class='row'>
    <div class='small-6 columns'>
        <table width='100%'>
            <thead>
                <th></th>
                <th>Student Name</th>
                <th>Password</th>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td><input type='checkbox' class='student' name='{{ student.id }}' value='1'></td>
                        <td>{{ student.name }} <a href="{% url 'portal.views.teacher_edit_student' student.id %}">(edit)</a></td>
                        <td><a href="{% url 'portal.views.teacher_student_set' student.id %}">(set)</a> <a href="{% url 'portal.views.teacher_student_reset' student.id %}">(reset)</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class='portal_button' href='#' id='moveSelectedStudents'>Move selected</a>
    </div>


    <div class='small-6 columns'>
        <h4>New Students</h4>

        <p>Type (or paste) the student's names, one on each line. Note: names should be unique within a class.</p>

        <form method='POST'>

            {% csrf_token %}

            {{ new_students_form.non_field_errors }}

            <div class='row'>
                <div class='small-9 columns'>
                    {{ new_students_form.names.errors }}
                    {{ new_students_form.names }}
                </div>

                <div class='small-3 columns'>
                    <input type='submit' name='new_students' value='Save'/>
                </div>
            </div>
        </form>
    </div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
