{% extends 'portal/teach/base.html' %}
{% load static %}

{% block nav_teacher_classes %}<b><a href="{% url 'portal.views.teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block content %}


<div class='section group'>
        <h3>External student added to class</h3><br>

        <p>The student has been successfully added to the class {{ class.name }}.</p>
        <p>Please tell them that their new details for logging on are now as follows:</p>
        <p><b>Class Access Code:</b> {{ class.access_code }}</p>
        <p><b>Name:</b> {{ student.user.user.first_name }}</p>
        <p>They should log on now using the school login box on the <a href="{% url 'portal.views.play' %}">Play</a> page with these details.</p>
        <p>Their password is unchanged. You may manage this student, including changing their name and password, as with other students.</p>
    </div>

<div class='section group'>
    <a class='btn' href="{% url 'portal.views.teacher_class' class.access_code %}">Return</a>
</div>

{% endblock %}
