{% extends 'portal/teach/base.html' %}
{% load static %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<div class='section group'>
    <div class='col span_1_of_2'>
        <h3>Students currently in class</h3><br>
        <table class="CSSTable" width='100%'>
            <tr>
                <td>Student Name</td>
            </tr>
            {% for currentstudent in students %}
                <tr>
                    <td>{{ currentstudent.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class='col span_1_of_2'>
        <div class='login-card'>
            <h3>Add external student</h3><br>

            <p>Please confirm the details for adding student with username {{ student.username }} to the class. Remember their name must be unique in the class.</p>

            <form method='POST'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}
                    {{ field.errors }}
                    <label class="ieLabels">{{ field.html_name }}</label>
                    {{ field }}
                {% endfor %}

                <div class='section group'>
                    <a class='col span_1_of_3 btn' href="{% url 'portal.views.teacher_classes' %}">Cancel</a>

                    <div class='col span_1_of_3 pull-right'>
                        <input type='submit' class='btn' value='Save'/>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}
