{% extends 'portal/base.html' %}
{% load static %}
{% load i18n %}
{% load app_tags %}

{% block scripts %}
{{block.super}}
<script>
    var EPISODES = [];
    {% for episode in episodeData %}
    var levels = [];
    {% for level in episode.levels %}
    levels.push({'name': {{level.name}}});
    {% endfor %}
    EPISODES.push({'id' : {{episode.id}},
    'levels': levels});
    {% endfor %}

</script>
<script src="{% static "portal/js/solutionSelection.js" %}"></script>
{% endblock %}

{% block css %}
{{block.super}}
<link href="{% static 'portal/css/solution_selection.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="background row col-sm-8 col-center">
    <img class="col-sm-4" src="{% static 'portal/img/RRlogo_on_less_green_small.png' %}"/>
    <div class="col-sm-8">
        <h4>Level Solutions</h4>
        <div id="episodes">
            {% for episode in episodeData %}
                <h5 id="episode{{episode.id}}">
                    <div>
                        {{episode.name}}
                        <span class="episode_range_text">
                    {% blocktrans with first_level=episode.first_level last_level=episode.last_level %}Levels {{first_level}}-{{last_level}}{% endblocktrans %}
                </span>
                    </div>
                </h5>
                <div>
                    {% for level in episode.levels %}
                        <!-- Marking titles as safe to enable bold, not to be used for user-created levels -->
                        <p>
                            <a href="{% url 'default_solution' level.name %}">{{level.name}}: {{level.title.strip | safe}}</a>
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
