{% extends 'portal/teach/base.html' %}
{% load static %}
{% load app_tags %}

{% block nav_teacher_account %}<b><a id="teacher_account_button" href="{% url 'teacher_edit_account' %}">Account</a></b>{% endblock nav_teacher_account %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{% static 'portal/js/passwordStrength.js' %}"></script>
<script>
var PASSWORD_FIELD_ID = '{{ form.password.auto_id }}';
var PASSWORD_TYPE = 'TEACHER';
</script>
{% endblock scripts %}

{% block content %}

<div id="teach_account_page"></div>

<h1>Account</h1><br>
<h2>Edit my details</h2><br>
<p>You may update your account details here, including your name, password and email address. Should you update your email address, verification will be required.</p>

<div class='section group'>
    <div class='span_1_of_2'>

        <div class='login-card'>
            <h4> Update details</h4><br>

            <form method='post' id="form-edit-teacher">

                {% csrf_token %}

                {{ form.non_field_errors }}

                <table width='100%'>
                    <tr>
                        <td>{{ form.title.errors }}</td>
                        <td>{{ form.first_name.errors }}</td>
                        <td>{{ form.last_name.errors }}</td>
                    </tr>
                    <tr>
                        <td class='title'>
                            <label for="id_{{ form.title.html_name }}">{{ form.title.label }}</label>
                            {{ form.title }}
                        </td>
                        <td class='fName'>
                            <label for="id_{{ form.first_name.html_name }}">{{ form.first_name.label }}</label>
                            {{ form.first_name }}
                        </td>
                        <td class='lName'>
                            <label for="id_{{ form.last_name.html_name }}">{{ form.last_name.label }}</label>
                            {{ form.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.email.errors }}
                            <label for="id_{{ form.email.html_name }}">{{ form.email.label }}</label>
                            {{ form.email }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' class='password-strength-bar-container'>
                            <div class='password-strength-bar'></div>
                        </td>
                        <td class='password-strength-text'></td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.password.errors }}
                            <label for="id_{{ form.password.html_name }}">{{ form.password.label }}</label>
                            {{ form.password }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.confirm_password.errors }}
                            <label for="id_{{ form.confirm_password.html_name }}">{{ form.confirm_password.label }}</label>
                            {{ form.confirm_password }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            {{ form.current_password.errors }}
                            <label for="id_{{ form.current_password.html_name }}">{{ form.current_password.label }}</label>
                            {{ form.current_password }}
                        </td>
                    </tr>
                </table>


                <div class='section group'>
                    <div class='col span_1_of_2'>
                        <a id="cancel_button" class='btn btn-default wide' href="{% url 'teacher_home' %}">Cancel</a>
                    </div>

                    <div class='col span_1_of_2'>
                        <input id="update_button" type='submit' class='btn btn-primary wide' value='Update'/>
                    </div>
                </div>

            </form>
        </div>

        <div style='margin-top: 30px'>
            <h3>Two Factor Authentication</h3>

            <p>Use your smartphone or tablet to enhance your account's security.</p>
            
            {% if user|has_2FA %}
                <div class='login-card'>
                    <h4>Backup Tokens</h4><br>
                    <p>
                        If you don't have your smartphone or tablet with you, you can access
                            your account using backup tokens.
                        {% if backup_tokens == 1 %} 
                            You have only one backup token remaining.
                        {% else %}
                            You have {{ backup_tokens }} backup tokens remaining.
                        {% endif %}
                    </p>
                    <p>View and create backup tokens for your account.</p>
                    <a class="btn btn-primary wide" href="{% url 'two_factor:backup_tokens' %}">Manage Backup Tokens</a>

                    <br><br>

                    <h4>Disable Two Factor Authentication</h4><br>
                    <p>We recommend you to continue using Two Factor Authentication, however you can disable two factor authentication for your account.</p>
                    <a class="btn btn-danger wide" href="{% url 'two_factor:disable' %}">Disable Two Factor Authentication</a>
                </div>
            {% else %}
                <p>Find out more about Two Factor Authentication and how it helps keep your account secure.</p>
                <a class='btn btn-primary' href="{% url 'two_factor:profile' %}">Setup Two Factor Authentication</a>
            {% endif %}
            
        </div>
    </div>
</div>

<br>

{% endblock %}
