{% extends 'portal/base.html' %}
{% load static %}

{% block content %}
<div id="teach_move_class_page"></div>

<section class="background col-sm-6 col-center">
    <h4>Transfer class {{ class.name }} ({{ class.access_code }}) to another teacher</h4>
    <h6>Transfer this class to another teacher in the school or club.</h6>
</section>

<div class="background background--quaternary">
    <div class="col-sm-6 col-center">
        <h4>New teacher to take over class</h4>

        <p>Select a new teacher from your school or club to take over the above class from the list below.</p>
        <p><strong>Warning: The class will move immediately to the new teacher. Should you wish to undo this action,
            please contact that teacher.</strong></p>

        <form method="post">

            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="section group">
                {{ form.new_teacher }}
                {{ form.new_teacher.errors }}
            </div>

            <div class="background button-group">
                <button id="move_button" class="button button--primary" type="submit">Move</button>
                <a id="cancel_button" class="button button--secondary button--secondary--dark" href="{% url 'view_class' class.access_code %}">Cancel</a>
            </div>

        </form>
    </div>
</div>

<div class="background col-sm-6 col-center">
    <p><a href="{% url 'view_class' class.access_code %}">&#10229; Back to Class</a></p>
</div>

{% endblock %}
