{% extends 'portal/base.html' %}
{% load staticfiles %}
{% load app_tags %}
{% load banner_tags %}

{% block materials %}
<a href="{% url 'teaching_resources' %}" class="button--menu button--menu--secondary button--menu--enabled button--menu--teacher--active">Teaching Resources</a>
{% endblock materials %}

{% block subNav %}
{{ block.super }}
{% banner banner_name="BANNER" %}
{% endblock subNav %}

{% block content %}
{{ block.super }}

<div id="resources_page"></div>

<div class="background">
    <div class="row row--regular homepage-info">
        <div class="col-sm-9 col-center is-flex">
            <div class="col-sm-4">
                <img title="Teaching packs" alt="Packs image" src="{% static 'portal/img/teaching_resources.png' %}">
                <h3>Teaching packs</h3>
                <p>We&rsquo;ve created a comprehensive set of teaching materials that are aligned to Key Stages 3 and 4.</p>
                <div class="background">
                    <a id="materials_button" href="{% url 'kurono_packs' %}"
                       class="button button--regular button--secondary button--secondary--dark">View teaching packs</a>
                </div>
            </div>
            <div class="col-sm-4">
                <img title="Kurono Common Room" alt="Kurono Common Room" src="{% static 'portal/img/kurono_common_room.svg' %}">
                <h3>Kurono Common Room</h3>
                <p>A place where teachers can share ideas and experiences through using Kurono in the classroom.</p>
                <div class="background">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfpxFVxOl3AkCsQF0-aVHoiKFy5daS32jzszR1fFAsN_BqLow/viewform"
                       class="button button--regular button--secondary button--secondary--dark" target="_blank">Join us</a>
                </div>
            </div>
            <div class="col-sm-4">
                <img title="Kurono Story" alt="Kurono Story" src="{% static 'portal/img/kurono_story.png' %}">
                <h3>The Kurono Story</h3>
                <p>Discover the background story to Kurono and the adventures the students will be taken on.</p>
                <div class="background">
                    <a href="{% url 'materials_viewer' pdf_name="Kurono_story" %}"
                       target="_blank" class="button button--regular button--secondary button--secondary--dark">
                        View story
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
