{% extends 'portal/teach/base.html' %}
{% load static %}

{% block nav_teacher_classes %}<b><a id="teacher_classes_button" href="{% url 'teacher_classes' %}">Classes</a></b>{% endblock nav_teacher_classes %}

{% block scripts %}
{{block.super}}
<script>
var PASSWORD_FIELD_ID = '{{ password_form.password.auto_id }}';
var PASSWORD_TYPE = 'STUDENT';

$( document ).ready(function() {
    $('#password-setter').hide();
    $('#request-password-setter').click(function(){$('#password-setter').show();});
    $('#cancel-password-setter').click(function(){$('#password-setter').hide();});
});

</script>
<script type="text/javascript" src="{% static 'portal/js/passwordStrength.js' %}"></script>
{% endblock scripts %}

{% block content %}

<h1>Classes</h1><br>
<h2>Edit student details for {{ student.user.user.first_name }} from class ({{ student.class_field.access_code }})</h2><br>
<p>Edit this student's name and manage their password.</p>


<div class='col section group'>
    <div class='span_1_of_2'>
        <div class='login-card'>
            <h4>Update name</h4><br/>

            <p>Remember this is the name they use to log in with, so you should tell them what you've changed it to.</p>

            <form method='post'>

                {% csrf_token %}

                {{ name_form.non_field_errors }}

                <div class='section group'>
                    <div class='col span_2_of_3'>
                        {{ name_form.name.errors }}
                        {{ name_form.name }}
                    </div>

                    <div class='col span_1_of_3'>
                        <input type='submit' name='update_details' class='btn btn-primary wide' value='Update'/>
                    </div>
                </div>
            </form>
            <br>

            <h4>Set or reset password</h4><br/>

            <p>You can either set this student's password by clicking 'Set password', or you can let us generate a random and secure password by clicking 'Generate random'.</p>

            <form method='post'>

                {% csrf_token %}

                {{ password_form.non_field_errors }}

                <div class='section group'>
                    <div class='col span_1_of_3'>
                        <a class='btn btn-primary wide' href="{% url 'teacher_student_reset' student.id %}">Generate random</a>
                    </div>
                    <div class='col span_1_of_3 pull-right'>
                        <a id="request-password-setter" class='btn btn-default wide' href="#">Set password</a>
                    </div>

                    <div id="password-setter">
                        <div class='section group'>
                            <br>
                            <p>Enter and confirm the password in the boxes below. Try to prevent others from being able to guess the new password when making this decision.</p>
                            <div class='section group'>
                                <div class='col span_2_of_3'>
                                    <div class='password-strength-bar-container'>
                                        <div class='password-strength-bar'></div>
                                    </div>
                                </div>
                                <div class='col span_1_of_3'>
                                    <div class='password-strength-text'></div>
                                </div>
                            </div>
                            {{ password_form.password.errors }}
                            {{ password_form.password }}

                            {{ password_form.confirm_password.errors }}
                            {{ password_form.confirm_password }}
                            <div class='section group'>
                                <div class='col span_1_of_2'>
                                    <a id='cancel-password-setter' class='btn btn-default wide'>Cancel</a>
                                </div>
                                <div class='col span_1_of_2'>
                                    <input type='submit' name='set_password' class='btn btn-primary wide' value='Set'/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<a class='col btn btn-default' href="{% url 'teacher_class' class.access_code %}">Back to class</a>


{% endblock %}
