{% extends 'portal/play/base.html' %}
{% load static %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<div class='section group'>

    {% if student.pending_class_request %}
        <div class='span_centered_half'>
            <div class='login-card'>
                <h3>Join a school or club: request pending</h3><br>

                <p>Your request to join class <b>{{ student.pending_class_request.access_code }}</b> in the school or club <b>{{ student.pending_class_request.teacher.school.name }}</b> is still pending.</p>

                <p>The teacher for that class must review and approve the request to complete the process.</p>

                <p>If successful, the teacher will then contact you with your new login details.</p>

                <p><b>Warning:</b> once the teacher accepts you to their class, this cannot be undone - you cannot later elect to leave a school!</p>

                <p>You may cancel your request now, before the teacher makes their decision.</p>

                <form method='post'>

                    {% csrf_token %}

                    <div class='section group'>
                        <a class='col span_1_of_3 btn' href="{% url 'portal.views.student_details' %}">Back</a>

                        <div class='col span_1_of_3 pull-right'>
                            <input type='submit' name='revoke_join_request' class='btn' value="Cancel join request"/>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    {% else %}
        <div class='span_centered_half'>

            <div class='login-card'>
                <h3>Join a school or club</h3><br>

                <p>If you want to link your Code For Life account with a school or club, ask a teacher from the group to enable external requests for a class and give you a Class Access Code, then simply submit your request below!</p>

                <p><b>Warning:</b> once the teacher accepts you to their class, that teacher and the school or club will manage your account!</p>

                <p>If successful, the teacher will contact you with your new login details.</p>

                <form method='post'>

                    {% csrf_token %}

                    {{ request_form.non_field_errors }}

                    {% for field in request_form %}
                        {{ field.errors }}
                        <label class="ieLabels">{{ field.html_name }}</label>
                        {{ field|safe }}
                    {% endfor %}

                    <div class='section group'>
                        <a class='col span_1_of_3 btn' href="{% url 'portal.views.student_details' %}">Cancel</a>

                        <div class='col span_1_of_3 pull-right'>
                            <input type='submit' name='class_join_request' class='btn' value="Request"/>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    {% endif %}
</div>

{% endblock %}
