{% extends 'portal/play/base.html' %}
{% load static %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<div class='section group'>

    <div class='span_centered_half'>

        <div class='login-card'>
            <h3>Update account details</h3><br>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                {% if not user.userprofile.student.class_field %}

                    {{ form.first_name.errors }}
                    <label class="ieLabels">{{ form.first_name.html_name }}</label>
                    {{ form.first_name }}

                    {{ form.email.errors }}
                    <label class="ieLabels">{{ form.email.html_name }}</label>
                    {{ form.email }}

                {% endif %}

                {{ form.password.errors }}
                <label class="ieLabels">{{ form.password.html_name }}</label>
                {{ form.password }}

                {{ form.confirm_password.errors }}
                <label class="ieLabels">{{ form.confirm_password.html_name }}</label>
                {{ form.confirm_password }}

                {{ form.current_password.errors }}
                <label class="ieLabels">{{ form.current_password.html_name }}</label>
                {{ form.current_password }}

                <div class='section group'>
                    <a class='col span_1_of_3 btn' href="{% url 'portal.views.student_details' %}">Cancel</a>

                    <div class='col span_1_of_3 pull-right'>
                        <input type='submit' class='btn' value='Update'/>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

{% endblock %}
