{% extends 'portal/base.html' %}
{% load static %}
{% load app_tags banner_tags hero_card_tags character_list_tags %}

{% block subNav %}
{{ block.super }}
{% banner banner_name="BANNER" %}
{% endblock subNav %}

{% block content %}
{% hero_card hero_card_name="HERO_CARD" %}

<section class="background background--primary row">
    <div class="col-sm-8 col-center grid">
        <div>
            <h3 class="grid-item__title">User Guide</h3>
            <p class="grid-item__expand">Find out more about the game and learn the basics for using the code editor and game map.</p>
            <div class="button-group button-group__icon">
                <a href="{% url 'materials_viewer' pdf_name='Kurono_user_guide' %}" class="button button--primary--general-play">
                    User Guide<div class="glyphicon glyphicon-menu-right"></div>
                </a>
            </div>
        </div>
        <div>
            <h3 class="grid-item__title">Cheat Sheet</h3>
            <p class="grid-item__expand">This cheat sheet will give you what you need to communicate with Kurono in Python.</p>
            <div class="button-group button-group__icon">
                <a href="{% url 'materials_viewer' pdf_name='Kurono_API_guide' %}" class="button button--primary--general-play">
                    API Guide<div class="glyphicon glyphicon-menu-right"></div>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="background background--quinary background--quinary__title">
    <h2 class="text-center">Meet the characters</h2>
    {% character_list %}
</div>

{% endblock content %}
