{% extends 'portal/base.html' %}
{% load static %}
{% load app_tags %}


{% block content %}
{{block.super}}

<section class="background background--primary row">
    <div class="col-sm-8 col-center grid">
        <div>
            <h3 class="grid-item__title">User Guide</h3>
            <p class="grid-item__expand">Find out more about the game and learn the basics for using the code editor and game map.</p>
            <div class="button-group button-group__icon">
                <a href="/" class="button button--primary--general-play">
                    User Guide<div class="glyphicon glyphicon-menu-right"></div>
                </a>
            </div>
        </div>
        <div>
            <h3 class="grid-item__title">Resource sheets</h3>
            <p class="grid-item__expand">Resource sheets help you to understand coding concepts that will be used within the game.</p>
            <div class="button-group button-group__icon">
                <a href="/" class="button button--primary--general-play">
                    API Guide<div class="glyphicon glyphicon-menu-right"></div>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
