{% extends 'portal/play/base.html' %}
{% load static %}

{% block title %}Code For Life - Portal{% endblock %}

{% block content %}

<header>
    <h1>[ code ] for { life }</h1>
</header>

<div class='row'>
    <div class='small-6 small-centered columns'>

        <div class='panel radius'>
            <h3>Students - log in</h3>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class='row'>
                    <div class='small-12 columns'>
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        {{ form.access_code.errors }}
                        {{ form.access_code }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        {{ form.password.errors }}
                        {{ form.password }}
                    </div>
                </div>

                <div class='row'>
                    <div class='small-9 columns'></div>

                    <div class='small-3 columns'>
                        <input type='submit' value='Log in'/>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

<footer>
    <small>Ocado Technology &copy; 2014</small>
</footer>

{% endblock %}
