{% load staticfiles %}
{% load app_tags %}
{% block scripts %}
<script type="text/javascript" src="{% static 'portal/js/delete_aimmo_game.js' %}"></script>
{% endblock scripts %}

{% if open_play_games %}
    {% include "portal/partials/popup.html" %}
    <div class="col-sm-8 col-lg-8 col-center">
        <table id="games-table" class="games-table header-primary data-primary">
            <tr class="games-table__header">
                <th class="cell-left">
                    <p>Class</p>
                </th>
                <th class="cell-left">
                    <p>Challenge</p>
                </th>
                <th class="cell-center">
                    <p>Action</p>
                </th>
                {% if can_delete_game %}
                <th class="cell-center">
                    <p>Select</p>
                </th>
                {% endif %}
            </tr>
            {% for game in open_play_games %}
            <tr>
                <td>
                    <div class="games-table__cell">
                        <p><small>{{ game.game_class.name }}</small></p>
                    </div>
                </td>
                <td>
                    <div class="games-table__cell">
                        <p><small>{{ game.worksheet.name }}</small></p>
                    </div>
                </td>
                <td>
                    <div class="games-table__buttons">
                        <a class="button btn-block button--regular button--primary--general-play"
                            href="{% url base_url id=game.id %}">Play</a>
                        <!-- {% if can_delete_game %}
                        <a class="button button--small button--primary--danger"
                            onclick="clickDeleteGame('{{ game.id }}', '{{ game.name }}')"> Delete </a>
                        {% endif %} -->
                    </div>
                </td>
                {% if can_delete_game %}
                <td class="cell-center">
                    <input type="checkbox" class="student" name="game_ids" value="{{ game.id }}" data-class-name="{{ game.game_class.name }}">
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% if can_delete_game %}
            <tr>
                <td colspan="3" class="no-bg"></td>
                <td class="no-bg">
                    <div class="button-group button-group__icon">
                        <a class="button btn-block button--regular button--primary--navigation"
                            onclick="clickDeleteGames()">
                                Delete
                                <div class="glyphicon glyphicon-trash"></div>
                            </a>
                    </div>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
{% else %}
    {% if can_delete_game %}
        <p>It doesn&rsquo;t look like you have any games created. To create a game, use the &lsquo;Create a new game&rsquo;
            button above.</p>
    {% else %}
        <p>It doesn&rsquo;t look like you have access to any games, yet.</p>
    {% endif %}
{% endif %}
