{% load staticfiles %}
{% load app_tags %}
{% block scripts %}
<script type="text/javascript" src="{% static 'portal/js/aimmoGame.js' %}"></script>
{% endblock scripts %}

{% if open_play_games %}
    {% include "portal/partials/popup.html" %}
    <div class="col-sm-8 col-lg-8 col-center">
        <table id="games-table" class="games-table header-primary data-primary">
            <tr class="games-table__header">
                <th class="cell-left">
                    <p>Class</p>
                </th>
                <th class="cell-left col-xs-6">
                    <p>Challenge</p>
                </th>
                <th class="cell-center">
                    <p>Action</p>
                </th>
                <th class="cell-center">
                    <p>Select</p>
                </th>
            </tr>
            {% for game in open_play_games %}
            <tr>
                <td>
                    <div class="games-table__cell">
                        <p><small>{{ game.game_class.name }}</small></p>
                    </div>
                </td>
                <td>
                    <div class="games-table__cell">
                        <div class="dropdown">
                            <button id="worksheets_dropdown" class="button--regular button--secondary button--dropdown" data-toggle="dropdown" aria-expanded="false">
                                <div class="dropdown__text">{{ game.worksheet.id }} - {{ game.worksheet.name }}</div>
                            </button>
                            <ul id="worksheets_dropdown_menu" class="dropdown-menu">
                                {% for worksheet in complete_worksheets %}
                                    <li class="dropdown-menu__option">
                                        {% if worksheet.name == game.worksheet.name %}
                                            <a class="btn button--regular disabled">
                                                <small class="dropdown-menu__option__text">{{ worksheet.id }} - {{ worksheet.name }}</small>
                                                <div class="glyphicon glyphicon-ok"></div>
                                            </a>
                                        {% else %}
                                            <a class="btn button--regular" id="worksheet_{{ worksheet.id }}"
                                               onclick="changeWorksheetConfirmation('{{ game.id|escapejs }}',
                                                       '{{ game.game_class.name|escapejs }}',
                                                       '{{ worksheet.id|escapejs }}')">
                                                <small class="dropdown-menu__option__text">{{ worksheet.id }} - {{ worksheet.name }}</small>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                {% for worksheet in incomplete_worksheets %}
                                    <li class="dropdown-menu__option">
                                        <a class="btn button--regular disabled">
                                            <small class="dropdown-menu__option__text">{{ worksheet.id }} - {{ worksheet.name }}</small>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="games-table__buttons">
                        <a class="button button--regular button--primary--general-play"
                            href="{% url base_url id=game.id %}">Play</a>
                    </div>
                </td>
                <td class="cell-center">
                    <input type="checkbox" name="game_ids" value="{{ game.id }}" data-class-name="{{ game.game_class.name }}">
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="no-bg"></td>
                <td class="no-bg">
                    <div class="button-group button-group__icon">
                        <a class="button btn-block button--regular button--primary--navigation"
                            onclick="clickDeleteGames()">
                                Delete
                                <div class="glyphicon glyphicon-trash"></div>
                            </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% else %}
    <p>It doesn&rsquo;t look like you have any games created. To create a game, use the &lsquo;Add class&rsquo;
        button above.</p>
{% endif %}
