{% load staticfiles %}

<section class="background col-sm-9 col-center">
    {{ title|safe }}
    <div class="row">
        <div class="col-sm-4">
            {% if image1 %}
                <img title="" alt="" src="{% static image1 %}">
            {% endif %}
            <p class="col-sm-11 col-center"> {{ text1|safe }} </p>
        </div>
        <div class="col-sm-4">
            {% if image2 %}
                <img title="" alt="" src="{% static image2 %}">
            {% endif %}
            <p class="col-sm-11 col-center"> {{ text2|safe }} </p>
        </div>
        <div class="col-sm-4">
            {% if image3 %}
                <img title="" alt="" src="{% static image3 %}">
            {% endif %}
            <p class="col-sm-11 col-center"> {{ text3|safe }} </p>
        </div>
    </div>
</section>