{% load staticfiles %}
{% load app_tags %}

<div class="grid grid-worksheets grid__fit">
    {% for card in cards %}
        <div class="card">
            <div class="card__images">
                <img class="card__image" src="{{ card.image | cloud_storage }}">
            </div>
            <div class="card__text">
                <h5 class="card__title">{{ card.title }}</h5>
                {% if card.description %}
                    <p>{{ card.description }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
