{% load staticfiles %}

<div class="container">
    <section class="{{ background_image_class }}">
        <img title="Rapid Router logo" alt="Rapid Router logo" src="{% static logo_image_link %}">
    </section>
    <div class="background row">
        <div class="col-sm-6">
            <h4>{{ title }}</h4>
            {{ description|safe }}
            {% if button1 %}
                <div class="background">
                    <a href="{% url button1.link %}"
                       class="button button--primary {{ button1.icon_class }}" target="_blank">{{ button1.text}}
                    </a>
                </div>
            {% endif %}
            {% if button2 %}
                <div class="background">
                    <a href="{{ button2.link }}" class="button button--primary {{ button2.icon_class }}">{{ button2.text}}</a>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <a href="https://www.youtube-nocookie.com/embed/PQFyF3R6Xts?rel=0&amp;autoplay=1" class="youtube">
                <img title="Watch Video" alt="Watch Video" src="{% static video_link %}">
            </a>
        </div>
    </div>
</div>
