{% load staticfiles %}
{% load app_tags %}

<div class="card col-sm-8 col-center">
    <img class="card__image" src="{{ image | cloud_storage }}">
    <div class="card__text">
        <h4 class="card__title">{{ title }}</h4>
        <p>{{ description }}</p>
        <div class="button-group button-group__icon">
            <a href="{% url button1.url pdf_name=button1.url_args %}" class="button button--primary button-right-arrow">
                {{ button1.text }}
            </a>
            <a href="{% url button2.url id=button2.url_args %}" class="button button--primary button-right-arrow">
                {{ button2.text }}
            </a>
        </div>
    </div>
</div>
