name: CI
on:
  release:
    types: [published]
  pull_request:
jobs:
  test:
    name: Run tests
    runs-on:
      group: ubuntu-runners
      labels: ubuntu-20.04-16core
    env:
      LANG: C.UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.7"
          architecture: "x64"
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: Install dependencies and build frontend
        run: |
          pip install codecov
          pip install pipenv
          pipenv install --dev --system
          yarn --frozen-lockfile
      - name: Build frontend
        run: |
          cd portal_frontend
          yarn --frozen-lockfile
          yarn build
          mv build ../portal/frontend
      - name: Collect static
        run: python example_project/manage.py collectstatic --noinput --settings portal_test_settings
      - name: Run Python tests
        run: pytest -x --cov=. --cov-report=xml -vv -n auto
        env:
          SELENIUM_WEBDRIVER: chrome-headless
          SELENIUM_HEADLESS: True
      - name: Run Cypress tests
        uses: cypress-io/github-action@v5
        with:
          browser: chrome
          install: false
          start: bash ./run_testserver
          wait-on: http://localhost:8000
          wait-on-timeout: 300
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
