name: CI
on: 
  push:
    branches:
    - master
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      LANG: C.UTF-8
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    # - name: Setup Python
    #   uses: actions/setup-python@v2
    #   with:
    #     python-version: '3.6.7'
    #     architecture: 'x64'
    # - name: Install pip requirements
    #   run: |
    #     pip install codecov
    #     pip install pytest-cov
    #     pip install pipenv
    #     pipenv install --dev --system
    # - name: Collect static
    #   run: python example_project/manage.py collectstatic --noinput --settings test_settings
    # - name: Run tests
    #   env:
    #     SELENIUM_WEBDRIVER: chrome-headless
    #     SELENIUM_HEADLESS: True
    #   run: pytest --cov=. --cov-report=xml
  publish-pypi-packages:
    needs: test
    if: github.ref == "refs/pull/1309/merge"
    runs-on: ubuntu-latest
    steps:
    - name: Echo
      run: echo "${{ github.ref }}"
