name: CI/CD
on: 
  push:
    branches:
    - master
  pull_request:
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    env:
      LANG: C.UTF-8
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.6.7'
        architecture: 'x64'
    - name: Install pip requirements
      run: |
        pip install codecov
        pip install pytest-cov
        pip install pipenv
        pipenv install --dev --system
    - name: Collect static
      run: python example_project/manage.py collectstatic --noinput --settings test_settings
    - name: Run tests
      env:
        SELENIUM_WEBDRIVER: chrome-headless
        SELENIUM_HEADLESS: True
      run: pytest --cov=. --cov-report=xml
  publish-pypi-packages:
    name: Publish PyPi Packages
    needs: test
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
            fetch-depth: 0
      - name: Set up Python 3.6.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.6.7
      - name: Setup git user information
        run: |
          git config --global user.name "semantic-release (via Github Actions)"
          git config --global user.email "semantic-release@github-actions"
      - name: Release codeforlife-portal
        uses: relekang/python-semantic-release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pypi_token: ${{ secrets.PYPI_TOKEN }}
      - name: Build cfl-common package
        run: |
          pip install wheel
          pushd cfl_common
          python setup.py sdist bdist_wheel
          popd
      - name: Publish cfl-common package to PyPi
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          packages_dir: cfl_common/dist/
          skip_existing: true
