name: CI
on:
  release:
    types: [published]
  pull_request:
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-18.04
    env:
      LANG: C.UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
          architecture: "x64"
      - name: Install dependencies
        run: |
          pip install codecov
          pip install pytest-cov
          pip install pipenv
          pipenv install --dev --system
          pip install -U "git+https://github.com/ocadotechnology/codeforlife-portal@upgrade-django#egg=cfl-common&subdirectory=cfl_common"  # TODO remove after Django upgrade
          pip install -U "git+https://github.com/ocadotechnology/rapid-router@upgrade-django#egg=rapid-router"  # TODO remove after Django upgrade
          pip install -U "git+https://github.com/ocadotechnology/aimmo@upgrade-django#egg=aimmo"  # TODO remove after Django upgrade
          yarn --frozen-lockfile
      - name: Collect static
        run: python example_project/manage.py collectstatic --noinput --settings test_settings
      - name: Run Python tests
        run: pytest --cov=. --cov-report=xml
        env:
          SELENIUM_WEBDRIVER: chrome-headless
          SELENIUM_HEADLESS: True
      - name: Run Cypress tests
        uses: cypress-io/github-action@v2
        with:
          browser: chrome
          install: false
          start: bash ./run
          wait-on: http://localhost:8000
          wait-on-timeout: 300
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
