name: CI
on:
  push:
    branches:
    - master
  pull_request:
jobs:
  test:
    runs-on: ubuntu-18.04
    env:
      LANG: C.UTF-8
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.6.7'
        architecture: 'x64'
    - name: Install pip requirements
      run: |
        pip install codecov
        pip install pytest-cov
        pip install pipenv
        pipenv install --dev --system
        pip install -U git+https://github.com/ocadotechnology/rapid-router@django_2_upgrade
        pip install -U git+https://github.com/ocadotechnology/aimmo@django_2_upgrade
        pip install -U -e ./cfl_common
    - name: Collect static
      run: python example_project/manage.py collectstatic --noinput --settings test_settings
    - name: Run tests
      env:
        SELENIUM_WEBDRIVER: chrome-headless
        SELENIUM_HEADLESS: True
      run: pytest --cov=. --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
