name: Publish Python Package
on:
  push:
    branches:
      - master
    paths-ignore:
      - "CHANGELOG.md"
      - "portal/__init__.py"
jobs:
  publish-pypi-packages:
    name: Publish PyPi Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          architecture: "x64"
      - name: Install pip requirements
        run: |
          pip install pipenv
          pipenv install --dev --system
      - name: Configure Git
        run: |
          git config --local user.name cfl-bot
          git config --local user.email codeforlife-bot@ocado.com
#      - name: Release codeforlife-portal
#        uses: relekang/python-semantic-release@v7.34.6
#        with:
#          github_token: ${{ secrets.CFL_BOT_GITHUB_TOKEN }}
#          pypi_token: ${{ secrets.PYPI_TOKEN }}
#        continue-on-error: true
      - name: Build portal package
        run: |
          pip install wheel
          python setup.py sdist bdist_wheel
      - name: Publish portal package to PyPi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          packages_dir: dist/
          skip_existing: true
      - name: Build cfl-common package
        run: |
          pip install wheel
          pushd cfl_common
          python setup.py sdist bdist_wheel
          popd
      - name: Publish cfl-common package to PyPi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          packages_dir: cfl_common/dist/
          skip_existing: true
      - name: Trigger staging deployment
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.CFL_BOT_GITHUB_TOKEN }}
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: 'ocadotechnology',
              repo: 'codeforlife-deploy-appengine',
              workflow_id: 'deploy_staging.yml',
              ref: 'master',
            });
